 // --- Anasayfa --- //
 
 .page-home-grid { 
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "AAA AAA"
    "BBB BBB"
    "CCC CCC"
    "DDD DDD"
    "EEE EEE"
    "FFF FFF"    
    "GGG GGG"
    "HHH HHH";  
    width: 100%;
    > * {
        overflow: hidden;
    }
} 