  // --- Login --- //

  #validateUye {
      height: 100%;
      width: 100%;
      display: inline-block;
  }
 
  .page-login-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "AAA BBB";
    width: 100%;
    grid-gap: 20px;
}  

.member-login { 
    width: 100%;
    padding: 0 0 $padding30 0;
    position: sticky;
    top: 0; 
    .ems-header-title {
        margin: 20px 0; 
        padding: 0 20px;
        font-size: 22px; 
        //display: none;
    } 
    .ems-tab-header {
        padding: 0 $padding20;
        border-bottom: 1px solid $lightGreyColor;
        margin-bottom: $margin25;
        > div {
            padding: $padding15;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            //width: 100%;
            text-align: center;
            a {
                font-size: 12px;
            }
            &.selected {
                border-bottom: 1px solid $colorBlack;
            }
        }
    }
    .ems-tab-content {
        padding: 0 $padding20;
        .ems-signin, .ems-signup {display: none;}
        > div {
            display: none;
            &.selected {
                display: block;
            }
        }

    }
    .ems-tab-login {
        margin: 0 auto;
    } 
    .form-obj input[type="checkbox"] {
        display: none;
    }
    .chkBox {
        position: relative;
        a {
            text-decoration: underline;
        }
        .form-obj {
            align-items: center;
        }
        .form-obj input[type="checkbox"] {
            width: 0 !important;
            height: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-height: auto;
            border: 0 !important;
        }
        &.form-err {
            .form-obj { 
                color: #f00;
                a {color: #f00;}
            }
            &:before {   
                content: "Bu alanın seçimi zorunludur";
                display: block; 
                margin-bottom: 5px;
                color: #f00;
                font-size: 11px; 
                text-align: right; 
            }
        }
    }
    .message-login {
        flex-direction: column;
        line-height: 19px;
        a {
            display: contents;
            font-size: 13px;
            color: red;
            text-decoration: underline;
        }
    }
}

// SMS Aktivasyon

.popupAktivasyon {
    padding: 20px;
}
.popupTitleAktivasyon {
    padding:0;
} 
.smsHeader {position: relative; margin-bottom: 30px;}
.smsHeaderText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 220px;
    margin: 0 auto;
    transform: translateY(-50%);
    img {
        margin-bottom: 20px;
    }
    span {
        display: block;
        font-family: $medium;
        font-size: 22px;
    }
}

div[id$="pnlAktivasyon"] {
    text-align: center;
}

span[id$="lbfUYE_SMSKOD"] {
    position: absolute;
    top: -20px;
    font-size: 11px;
}

.tableAktivasyon {
    margin-top: 30px;
    tbody {
        @extend .display-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        tr {
            th, td {
                vertical-align: middle;
            }
        }
    }
    .btnPopupLogin {padding: 14px 20px;}
}

.popupHataAktivasyon {
    margin: 20px 0; 
    text-align: center;
    .message {
        display: inline-block;
        padding: 20px;
    }
}

form[action*="/popup_aktivasyon.aspx"] {
    span[id$="lblJavaScript"] {
        display:none;
    }
}