  // --- Login --- //

  #validateUye {
      height: 100%;
      width: 100%;
      display: inline-block;
  }
 
  .page-login-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "AAA BBB";
    width: 100%;
    grid-gap: 20px;
}  

.member-login { 
    width: 100%;
    padding: 0 0 $padding30 0;
    position: sticky;
    top: 0; 
    .ems-header-title {
        margin: 60px 0 35px 0;
        font-size: 22px;
        display: none;
    } 
    .ems-tab-header {
        padding: 0 $padding20;
        background: $lightGreyColor;
        margin-bottom: $margin25;
        > div {
            padding: $padding15;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            width: 100%;
            text-align: center;
            &.selected {
                border-bottom: 3px solid $colorBlack;
            }
        }
    }
    .ems-tab-content {
        padding: 0 $padding20;
        .ems-signin, .ems-signup {display: none;}
        > div {
            display: none;
            &.selected {
                display: block;
            }
        }

    }
    .ems-tab-login {
        margin: 0 auto;
    } 
    .form-obj input[type="checkbox"] {
        display: none;
    }
    .iyCard {
        .form-obj input[type="checkbox"] {
            width: 0 !important;
            height: 0 !important;
            padding: 0 !important;
            display: block !important;
            min-height: auto;
            border: 0 !important;
        }
    }
    .message-login {
        flex-direction: column;
        line-height: 19px;
        a {
            display: contents;
            font-size: 13px;
            color: red;
            text-decoration: underline;
        }
    }
}