 /* Lookbook */
 
 // Lookbook

.ems-lookbook-wrp {
    padding: $padding20;
    > ul {
        // lookbook görsel
        .lbImg { 
            position: relative;
            img {
                width: 100%;
            }
            // Ürün fiyat liste
            .textWrap {
                position: absolute;
                left: 15px;
                bottom: 20px;
                pointer-events: none;
                ul {
                    li {
                        font-size: $fontSize12;
                        text-align: left;
                        line-height: 20px;
                    }
                }
            }
        }
        .lbContainer {
            
        }
        .lbContentWrp {
            text-align: left;
            margin: 35px 0;
            > span {
                font-size: 40px;
                margin-bottom: 20px;
                i {
                    font-family: $play; 
                }
            }
        }
        > li {
            margin-bottom: $margin30;
            opacity: 0; 
            &.ems-pointer-none {
                pointer-events: none;
                .lbContentWrp .kombinBtn {
                    display: none; 
                }
            }
        }
    }
}