// Lookbook

.ems-lookbook-wrp {
    padding: $padding30;
    > ul {
        @extend .d-flex;  
        //grid-template-columns: minmax(0, 50%) minmax(0, 50%);
        grid-gap: 20px;
        justify-content: center; 
        flex-wrap: wrap;

        // lookbook görsel
        .lbImg { 
            position: relative;
            overflow: hidden;
            img {
                width: auto;
                display: block;
                max-width: 100%;
                height: auto;
                overflow: hidden;
                -webkit-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                transform: scale(1);
                position: relative;
            }
            .subProduct {
                transition: opacity .4s ease;
                -webkit-transition: opacity .4s ease;
                -o-transition: opacity .4s ease;
                opacity: 0;
            }
            .kombinBtn {
                cursor: zoom-in; 
            }
            // Ürün fiyat efekt
            &:hover {
                .subProduct {
                    opacity: 1;
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
                    li {
                        animation: .5s ease 0s pulseLook;
                        animation-fill-mode: both;
                    }
                }
                img {
                    transform: scale(1.03); 
                }
            }
        }
        // lookbook yazı
        .lbContentWrp {
            max-width: 350px;
            margin: 50px 0 0 0;
            display: none;
            span {
                font-size: 47px;
                margin-bottom: 20px;
                font-family:$regular;
                display: block; 
                &.empty {
                    display:none;
                }
            }
            p {
                font-size: 18px; 
                line-height: 25px;
                color: #292929;
                &.empty {
                    display:none;
                }
            }
        }
        > li {
            text-align: center;
            margin-bottom: 0;
            &.cover {
                grid-column: 1 / span 2;
                img {
                    width: 100%;
                } 
            }
            &.grid { 
                @extend .display-flex-desktop;
                align-items: center;
                justify-content: center;
                .lbContainer {
                    //width: min-content;
                    display: inline-block;
                    @extend .sticky-desktop;
                    top: 60px;   
                }
            }
            &.satir2 {
                grid-row: auto / span 2; 
                align-items: flex-start;
            }
            &.satir3 {
                grid-row: auto / span 3;
                align-items: flex-start;
            }
            &.satir4 {
                grid-row: auto / span 4;
                align-items: flex-start;
            }
        }
    }

    // Ürün fiyat liste
    .textWrap {
        .subProduct {
            li {
                opacity: 0;
                left: 10px;
                position: relative;
            }
        }
    }
}

// Lookbook Main Page

.pages-lookbook {
    iframe {
        height: 800px !important;
    }
 
    .sec-image-text {
        flex: 1;
        padding:0 0 0 50px;
        margin-bottom: 0;
        &:last-child {
            padding-right: 0 50px 0 0;
        }
    }
    .sec-image-text:nth-child(3) {
        padding: 0 0 0 50px;
    }
    .sec-image-text:nth-child(4) {
        padding: 0 50px 0 0;
    }
    .text-wrap {
         a {
            width: calc(100% - 50px);
         }
    }
}



// Main Colleciton

.main-collection { 
    padding: 120px 0 75px 120px !important;
    margin-top: 100px;
    .prm-media {
        margin-top: -200px;
    }
    .banner {
        flex-wrap: nowrap;
    }
    .banner-body {
        flex: 1 40%;
        order: 1;
        padding: 0 70px 0 0 !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    } 
    .prm-media {
        flex: 0 60%;
    }
}


// Category Slider

.category-slider {
    .slider-pagination .swiper-pagination {
        display:none;
    }
}