 // --- KURUMSAL SOL MENÜ -- //

.kutuSolMenuTree {
    background: $colorWhite;
    border-radius: $memberBorderRadius4; 
    //display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    .sev1 {
        > a {
            display:none; 
        }
    }
    .sev2 {
        display: none;
        position: relative;
        background: #f8f8f8;
        > a {
            //font-family: $memberFontMedium;
            //font-size: $memberFontSize20; 
            //padding: $memberPadding20;
            display: none;
        }
        &.sel {
            display: block
        }
        ul {
            display: none !important;
            padding-bottom: 20px;
        }
        &.opened {
            ul {
                display: block !important; 
            }
        }
        .mobi-dropdown-header {
            padding: 20px;
            font-family: $medium;
        }

        &.icr {
            > b{
                display: inline-block;
                @extend .base64-arrow-d; 
                width:20px;
                height: 20px; 
                position: absolute;
                right: 20px;
                top: 18px;
                z-index: 1;
                opacity: 1;
                cursor: pointer;
                background-size: 25px;
                @extend .transition;
                transform: rotate(-90deg);
                //display: none; 
            }
            &.opened {
                > b {
                    opacity: 1 !important;
                    transform: rotate(0deg);
                }
            }
            &:hover { 
                > b{
                    opacity: 1;
                }
            }
        }

    } 
    .sev3 {
        position: relative;
        a {
            color: #000;
            padding: 10px 50px 10px 30px; 
            display: block;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            /*&:hover {
                color: $btnAlternateColor;
                padding: 20px 50px 20px 30px;
                &:after {
                    opacity: 1;
                    right: 20px;
                }
            }
            &:after {
                content: '';
                //background: url('/images/frontend/menu-arrow.svg');
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICAgIDxwYXRoIGZpbGw9IiMzRDVERUIiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTYgMTVoMTR2LTNsNiA0LTYgNHYtM0g2eiIvPgo8L3N2Zz4K);
                width:32px;
                height: 32px;
                position: absolute;
                right: 40px;
                top: 50%;
                opacity: 0;
                transform: translateY(-50%); 
                display: inline-block; 
                transition: all .2s ease;
                -webkit-transition: all .2s ease;
                -o-transition: all .2s ease;
            }*/
        }
        &.act {
            a {
                color: #000;
                padding: 10px 50px 10px 30px;
                border-bottom: 0;
                font-family: $medium;
                &:after {
                    opacity: 1;
                    right: 20px;
                }
            }
        }
        .sev4 {
            display: none;
        }
        &.icr > b {display:none;}
    }
}

.mobi-dropdown {
    &.opened {
        >ul {
    
        }
    }
}

.corporate-menu {
    display: none;
}