.article-container {
    h1, h2 {
        font-weight: normal;
        margin-top: 20px;
    }
    span, h2, h3, p, b, strong {
        line-height: $contentLineText;
    }
    span, p, b, strong, address {
        color: $colorBlack;
        font-size: 17px;
        margin-bottom: 30px; 
    }

    a {
        color: #000;
        font-size: 17px;
    }

    ul {
        padding-left: 10px;
        li {
            color: $colorBlack;
            font-size: 17px;
            margin-bottom: 10px;
            line-height: $contentLineText;
            list-style: disc; 
        }
    }
    .image-wrap {
        opacity: 0; 
    }
    
    // Yazı resim hizalama
    .sec-double-text {
        flex-wrap: wrap;
        .text-wrap {
            flex: 1 100%;
            padding-right: 0;
        }
    }
    // Üçlü dörtlü resim
    .sec-trible-image {
        flex-wrap: wrap;
        .image-wrap {
            flex: 1 100%;
            &:last-child {
                padding-right: 0;

            }
        }
    }
    .sec-four-image {
        flex-wrap: wrap;
        .image-wrap {
            flex: 1 50%;
            padding-right: $contentPadding10;
            &:nth-child(2) {
                padding-left: $contentPadding10;
                padding-right: 0;
            }
            &:last-child {
                padding-right: 0;
                padding-left: $contentPadding10;

            }
        }
    }
    
    // Video
    .sec-video {
        .mejs__controls, .videoImg, .mejs__offscreen {display:none;} 
    }
}

.articleCont  {display:none;}

// Sayfa anket oylama 
.content-scoring {
    text-align: center;
    border-top: 1px solid $contentLightGreyColor;
    padding-top: $contentPadding20;
    margin-top: $contentMargin20;
    display: none;
    &.ems-success {
        .content-scoring-text, .content-scoring-link {display: none;}
        .content-scoring-successful {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
    .cntScrBtn {
        display: inline-block;
        margin: 0 5px;
    }
}

// İletişim Sayfası
.pages-contact {
    .form {
        padding: 0 !important;
    }
    .page-top-title, .page-top-desc {display: none;}
    .pages-member-right {
        display: flex;
        flex-direction: column;
        > div {
            flex: 1 100%;
        }
    }
}

.contact-info {
    span {
        font-size: 14px;
    }
    b {font-weight: normal; font-family: $medium; font-size: 14px;}
}

// SSS

.tab-sss {
    .ems-tab-content > * {
        display: block; 
    }
    .ems-tab-inner-content {
        p, a {font-size: 13px; color: #000;}
    }
    .ems-tab-inner-header {
        background: none !important;
        &:after {
            content: '\e922';
            font-family: 'icomoon';
            font-size: 32px;
            float: right;
            position: absolute;
            top: 10px;
            right: 0px;
        }
        &.selected {
            &:after {
                content: '\e93a';
            }
        }
    }
}

// Franchising ve İş başvuru Form

.xmlFormHeader {
    font-size: $fontSize16;
    font-family: $medium;
    margin-bottom: $memberMargin10;
    padding-bottom: $padding10;
    border-bottom: 1px solid #eee;
    color: $colorDefault; 
}
.xmlForm_btnGonder {
    margin-top: 30px;
    text-align: left;
}

.franchise-form {
    max-width: 780px;
    .page-top-title {margin-top: 30px; font-size: $fontSize16;}
    input[type=radio] {
        width: 20px !important; 
        padding: 0 !important;
        line-height: 0;
        min-height: auto;
        opacity: 0;  
        border: 0;
        display: inline-block;
    }
}

// Sipariş Takibi

.pages-queryOrder {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    .kutuHeaderOrderQuery {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .kutuBodyOrderQuery > div { 
        margin-bottom: 20px;
        > span {
            margin-bottom: 10px;
            display: block;
        }
    }

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}