 // --- KURUMSAL SOL MENÜ -- //

 .kutuSolMenuTree {
     display: block; 
     .sev2 {
        padding: 5px 5px 5px 10px !important;
        font-family: $medium;
        font-size: 13px; 
        display: block;
        background: none;
        ul {
            margin: 10px 0;
            padding-bottom: 0;
        } 
        > a {
            display: block;
        }
        &.icr {
            > b{
                right: 0px;
                top: 1px; 
            }
            &.opened {
                > b {
                    
                }
            }
        }
        &.icr {
            > b{
                transform: rotate(0deg);
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM5QjlCOUIiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTcgMTJoNVY3aDF2NWg1djFoLTV2NWgtMXYtNUg3eiIvPgo8L3N2Zz4K) right no-repeat;
                background-size: 20px;
                opacity: 0;
            }
            &.opened {
                > b {
                    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iIzlCOUI5QiIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNNyAxMmgxMXYxSDd6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) right no-repeat;
                    background-size: 20px;
                }
            }
        }
        &.sel {
            ul {
                display: block !important;
            }
        }
     }
     .sev3, .sev4 {
         border: 0;
        a {
            display: block;
            padding: 5px 5px 5px 10px !important;
            font-family: $regular;
            font-size: $fontSize13; 
            position: relative;
            &:before {
                content: '';
                opacity: 0;
                transform: scale(0.1);
                @extend .transition-desktop;  
            }
            &:hover {
                &:before {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background: $colorBlack;
                    position: absolute;
                    left: 0px; 
                    top: 9px;
                    opacity: 1;
                    transform: scale(1.0);
                }
            }
        }
         &.act {
            a {
                border: 0; 
                color: $colorBlack;
                &:before {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background: $colorBlack;
                    position: absolute;
                    left: 0px;  
                    top: 9px;
                    transform: scale(1.0);
                    opacity: 1;
                }
            }
        }
     }
 }