// İçerik sayfaları yazı stilleri
// İçerik Renk
$contentLineText: 1.5; 
$contentDarkColor:#202020;
$contentGreyColor:#696b71;
$contentLightGreyColor: #f3f3f7;
// İçerik Boşluk
$contentPadding5: 5px;
$contentPadding10: 10px; 
$contentPadding15: 15px;
$contentPadding20: 20px;
$contentPadding30: 30px;
$contentMargin5: 5px;
$contentMargin10: 10px; 
$contentMargin15: 15px;
$contentMargin20: 20px;
$contentMargin30: 30px;