/**************** ****************
    
Site General Grid Class Items
    
***************** ****************/
.display-grid{
    display: -ms-grid;
    display: grid;
}
.ga1{
    grid-area:AAA;
}
.ga2{
    grid-area:BBB;
}
.ga3{
    grid-area:CCC;
}
.ga4{
    grid-area:DDD;
}
.ga5{
    grid-area:EEE;
}
.ga6{
    grid-area:FFF;
}
.ga7{
    grid-area:GGG;
}
.ga8{
    grid-area:HHH;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.display-flex-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Desktop element hidden*/
.obj-mobile{
    display: none !important;
}

// Site Animasyon Extend
.transition-desktop { 
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

// Transparent Background
.transparent-desktop {
    background: rgba(255, 255, 255, .97);
}

//Site ici genel sticky class'ı 
.sticky-desktop{ 
    position: -webkit-sticky !important;
    position: sticky !important;
}

.ems-custom-form .jconfirm-content, .ems-price-quate .jconfirm-content, .jconfirm-content {
    overflow-y: inherit;
}