/**************** ****************
    
Site General Flex Class Items
    
***************** ****************/
.display-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}

/*Css flex icin sıralama class listesi*/
.order{
    &-1{    
        order: 1;
    }
    &-2{
        order: 2;
    }
    &-3{
        order: 3;
    }
    &-4{
        order: 4;
    }
    &-5{
        order: 5;
    }
}
//Site ici genel sticky class'ı 
.sticky{
    position: -webkit-sticky !important;
    position: sticky !important;
}
//Site ici genel eleman gizleme class'ı
.none,
.emos_invisible{
    display: none; 
}

//Inline block elment
.inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
//Tutucu ayarlama
.relative{
    position: relative;
}
.absolute{ 
    position: absolute;
}
//Site genel mesaj gorunumu
.message{
    border-radius: 4px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    text-align: left;
    padding:11px 20px 9px 20px;
    line-height: 20px;
    //Eğer HTML bos ise alan gizleniyor
    &:empty{
        @extend .none;
    }
}

//Site genel mesaj hatali gorunum
.message-error{
    border-color: $colorRed;
    background-color: $errorBgColor;
}
//Site genel mesaj hatali gorunum
.message-success{
    background-color: $sucessBgColor;
    border-color: $sucessBorder;
}
//Genel kontrol icin eger eleman bos ise class veriliyor
.is-empty{
    &:empty{
        display: none;
    }
}
.grid-brdr{
    content:'';
    border-top: 1px solid $gridRowBorder;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
//Genel sistem tablelarinda inline css var table'in tam yayilmasi icin css ile eziliyor
table[style*="inline"]{
    display: table!important;
}
//Arka plan beyaz olması icin
.white-thema{
    background: $colorWhite;
}

// Site Animasyon Extend
.transition {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

// Transparan Arka Plan
.transparent {
    background: rgba(255, 255, 255, .97);
}


// Margin class
.m-bttm-5 {margin-bottom: 5px;}
.m-bttm-10 {margin-bottom: 10px;}
.m-bttm-15 {margin-bottom: 15px;}
.m-bttm-20 {margin-bottom: 20px;}
.m-bttm-30 {margin-bottom: 30px;}
.m-rght-5 {margin-right: 5px;}
.m-rght-10 {margin-right: 10px;}
.m-rght-20 {margin-right: 20px;}
.m-rght-30 {margin-right: 30px;}
.m-lft-5{margin-left: 5px;}
.m-lft-10{margin-left: 10px;}
.m-lft-20{margin-left: 20px;}
.m-lft-30{margin-left: 30px;}
.m-top-5 {margin-top: 5px;}
.m-top-10 {margin-top: 10px;}
.m-top-15 {margin-top: 15px;}
.m-top-20 {margin-top: 20px;}
.m-top-25 {margin-top: 25px;}
.m-top-30 {margin-top: 30px;}
.m-reset {margin: 0px !important;} 

// Padding class
.p-r-20 {padding-right: 20px;}
.p-t-20 {padding-top: 20px;}
.p-l-20 {padding-left: 20px;}
.p-b-10 {padding-bottom: 10px;} 
.p-b-20 {padding-bottom: 20px;}
.p-b-30 {padding-bottom: 30px;}
.p-b-40 {padding-bottom: 40px;}
.p-b-50 {padding-bottom: 50px;}
.p-10 {padding: 10px;}
.p-20 {padding: 20px;}
.p-30 {padding: 30px;}
.p-40 {padding: 40px;}
.p-50 {padding: 50px;}
.p-reset {padding: 0px !important;}  

// Align 
.align-center {text-align: center;}  
.align-right {text-align: right;}  

// Font Size

.fs10 {font-size:$fontSize10;}
.fs12 {font-size:$fontSize12;}
.fs13 {font-size:$fontSize13;} 
.fs14 {font-size:$fontSize14;}
.fs16 {font-size:$fontSize16;}
.fs18 {font-size:$fontSize18;}
.fs20 {font-size:$fontSize20;}

// Font Family
.regular {font-family:$regular;}
.medium {font-family:$medium;}
.bold {font-family:$bold;}
.playf {font-family: $play;} 

// Banner Color
.colorWhite {color: $colorWhite;}
.colorBlack {color: $colorBlack;}
.colorGreen {color: $colorGreen; }
.colorBlue {color: $colorBlue;}
.colorYellow {color: $colorYellow;}
.colorGrey {color: $colorGrey;}
.colorRed {color: $colorRed;}

// TL Font
.pb1 {font-family: cursive; float: left;}

// Text Line
.underline {text-decoration: $linkUnderline}; 
.lineThrough {text-decoration: $linkLineThrough};

// Boşluk
.space20 {height: 20px; display: block;}
.space30 {height: 30px; display: block;}

// 
.columnCount1 {column-count: 1;}
.columnCount2 {column-count: 2;}
.columnCount3 {column-count: 3;}
.columnCount4 {column-count: 4;}
.columnCount5 {column-count: 5;}

// Width Height
.width100 {width:$size100};
.height100 {height:$size100};
