//Site sass kurulumum icin gerekli
$baseHref: '';    
//$baseHref: '//exquiseip.proj-e.com/';    

//Font variables 
$regular: 'regular';
$medium: 'medium';
$bold: 'bold'; 
$play: 'play'; 

//Arka plan rengi farklı olan sayfalar icin
$globalPageBg: #f3f3f7;

//Site Default Font Size
$siteFontSize: 14px;

//Site Desktop Breakpoint
$breakpoint-default: 1024px;

//Button Background variables 
$btnBackground: #000;
$btnAlternateBackground: #ffffff;

//Button Color variables 
$btnColor: #ffffff;
$btnAlternateColor: #cccccc;

//Button Border radius variables
$buttonRadius: 3px;

//Button Border variables
$btnBorder: #cccccc;

// Input Border
$inputBorder: #cecfd4;

//Site Warning Grid
$warningBorder: #e72f2f;
$warningBackground: #ffcaca;

//Site Button Link Underline
$linkUnderline: underline;

//Site Button Link line-through
$linkLineThrough: line-through;

//Site Button Link Color
$linkButtonColor:#696b71;

// Site Header Background
$siteHeaderBackground: #6b3535;

//Site Footer Background
$siteFooterBackground: #202020;

//Site Content Background
$siteContentBackground: #f3f3f7;

//Swiper Slide Arrow General Background
$sliderArrowBackground: #696b71;

//Swiper Slide Arrow General Background After Color
$sliderArrowBackgroundAfter: #ffffff;

/*Width full*/
$fullWidth: 100%;

/*Width auto*/
$autoWidth: auto;

/*Margin left auto*/
$mLeftAuto: auto;

/*Margin right auto*/
$mRightAuto: auto;

/* Line Height */

$labelLineHeight: 1.86;
$labelLineText: 1.26;

 // Member Space
 $reset: 0px;
 $padding5: 5px;
 $padding10: 10px; 
 $padding15: 15px;
 $padding20: 20px;
 $padding30: 30px;
 $marginReset: 0px;
 $margin5: 5px;
 $margin10: 10px; 
 $margin15: 15px;
 $margin20: 20px;
 $margin25: 25px;
 $margin30: 30px;

/*Site varsayılan renkler*/
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorRed:#fa6f61; 
$colorGreen: #18C641; 
$colorBlue:#3d5deb;
$colorYellow: #ffea86;
$colorGrey:#4a4a4a;
$colorDefault: #202020;
$colorAlternate: #696b71;
$colorBulltet:#cecfd4;
$errorBgColor:#ffcaca;
$sucessBgColor: #C8FFD5;
$sucessBorder: #18C641; 
$gridRowBorder: #f3f3f7; 
$userIcoBg: #f3f3f7;
$colorWhite: #fff; 
$greyColor:#4a4a4a;
$greyBorderColor:#e9e9e9;
$lightGreyColor: #f8f8f8;
$darkColor:#202020;
$blueColor:#3d5deb;




/*Site varsayılan yazı boyutlari*/
//--10px
$fontSize10:10px;

//--11px
$fontSize11:11px;

//--12px
$fontSize12:12px;

//--13px
$fontSize13:13px;

//--14px
$fontSize14:14px;

//--15px
$fontSize15:15px;

//--18px
$fontSize16:16px;

//--20px
$fontSize18:18px;

//--20px
$fontSize20:20px;

//--22px
$fontSize22:22px;

//--24px
$fontSize24:24px;

//--30px
$fontSize30:30px;

/*Border Radius*/
$borderRadius: 100%;

/*Mobile Standart Spacing*/
$mb-left-spacing:15px;
$mb-right-spacing:15px;


// Size 100
$size100:100%;

/*Hidden Mobile Element*/
.visible\@d { display: none !important; }

 /*Visible Desktop Element*/
 @media (min-width: $breakpoint-default) {
    .visible\@d { display: inherit !important; }

    .visible\@m { display: none !important; }
 }

/*BREAKPOINTS*/
$breakpoint-gap: 20px;
$breakpoint-small: 640px !default;
$breakpoint-medium: 1025px !default;
$breakpoint-large: 1240px !default;
$breakpoint-xlarge: 1600px !default;  