//CUSTOM CFG
//product widget
.swiper-product {
    $p: 30px;
    //min-height: 490px;
    .swiper-inner {
        padding-left: 0;
        //margin-left: #{-$p};
    }
    .swiper-slide {
        //padding-left: #{$p};
        width: calc(100% / 3);
    }
}

//navigation
.slider-navigation {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    } 
}

//swipe only mobile
.mobi-swiper {
    &.slider-navigation {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    &.slider-pagination {
        .swiper-pagination {
            display: none;
        }
    }
}

//horizontal content layout
.d-swiper-layout-r {
    > .swiper-inner {
        > .swiper-wrapper {
            flex-direction: row;
        }
    }
}

//pagination
.system-widget {
.slider-pagination {
    .swiper-pagination {
        display: none;
    }
  }
}

// Product Swiper
.widget-prds {
    margin-top: 50px; 
    padding: 40px 50px;
    .ems-section-title {
        padding: 0;
        font-size: 24px;
        margin-bottom: $margin30;
    }
    .swiper-pagination {
        display: none;
      }
    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        opacity: .4;
    }
    .swiper-button-prev, .swiper-button-next {
        display: block;
    }
    .swiper-button-next {
        top: -60px;
        right: 50px;
        margin: 0
    }
    .swiper-button-prev {
        top: -60px;
        right: 100px;
        left: auto;
        margin: 0;
    }
}


// Anasayfa Widget
.widget-main {
    .ems-section-title {
      font-size: 36px;
      padding: 0 50px 25px 50px;
      span {font-size: 24px;}
      p {
        padding: 0;
        font-size: 36px;
      }
    }
  }
