.page-dealer {
    //background: $globalPageBg;
    //padding: $d-dpp;
}

.service-list {
    max-width: 580px;
    margin: 0 auto;
    width: 100%;
}

.servisIcerik {
    padding: 0;
}


.servis_bilgi {
    margin-top:40px;
    margin-bottom: $margin10;
    font-size: $fontSize12;
    border-bottom: 1px solid #ddd;
}

.mod-service-list-inner-wrp {
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "r2 . r1" "r3 . r1";  
}
.mod-service-list-header {
    grid-area: r2;
}
.address-detail {
    grid-area: r1;
}
.mod-service-list-body {
    grid-area: r3;
}

.address-detail-inner {
    @extend .sticky-desktop;
    top: 60px;
}

.mod-service-list-header {
    border-radius: $d-dlr $d-dlr 0 0;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    .page-nav {
        display: block;
    }
    .dealer-form {
        padding: 0;
        background: none; 
        .field {
            width: 100%;
            padding: 0 !important;
        }
    }
}
.mod-service-list-body {
    display: block !important;
    //background: $d-dlbg;
    border-radius: 0 0 $d-dlr $d-dlr;
    padding: 0 20px;
}

.page-nav {
    .view {
        display: none;
    }
}

.dealer-desc,
.dealer-desc-or {
    display: block;
}

#Map.map {
    height: 100vh;
}


.selected-address-detail-wrp {
    display: none;
}


body.view-map {
    overflow: visible;
    position: static;
    .divServisListe_Koordinat {
        a {
            &[rel] {
                display: inline;
            }
        }
    }
    .right-column {
        position: relative;
        height: auto;
    }
    #Map.map {
        height: 100vh;
    }
}