.page-dealer {
    position: relative;
}

.mod-service-list {
    position: relative;
}

.mod-service-list-header {
    //background: $dhbg;
    //padding: $dhp; 
    .dealer-form {
        background: #f8f8f8;
        padding: 35px $padding20;
        .form-label {
            display: none;
        }
        .field  {
            flex: 1;
        }
    }
    .sStylerWrp_select {
        .sStylerWrp {
            border-color: transparent;
            border-bottom-color: #aaa;
        }
    }
    .page-nav {
        
    }
}
.dealer-title {
    font-size: 22px;
    margin-top: $margin30;
    display: block;
}
.page-nav {
    align-items: center;
    display: none;
    .view {
        margin-left: auto;
    }
    .icon-dealer-list {
        display: none;
    }
}
.dealer-desc {
    display: none;
    margin-top: $margin10;
    margin-bottom: $margin25;
    font-size: $fontSize12;
}
.dealer-form {
    //margin-top: $dftm;
}
.dealer-desc-or {
    display: none;
    //border-top: 1px solid $ddbt;
    //padding-top: 20px;
    //margin-top: 20px;
    text-align: center;
}
.allow-share-location-btn {
    margin-top: 15px;
}

.mod-service-list-body {
    //background: $dlbg;
    //padding: $dlp;
    margin-bottom:40px;
}

.servisIcerik {
    padding: 0 $padding20;
}

.servis_bilgi {
    padding: $dp;
    margin: 0;
    //margin-bottom: $margin10;
}
.pServisListe  {
    background: #fbfbfb;
    margin-bottom: $margin10;
    padding: $dp;
    display: inline-block;
    width: 100%;
    > * {
        //display: none; 
    }
    * {
        font-size: $dgfs;
    }
}
.divServisListe_FirmaAdi {
    display: block;
    font-family: $medium;
    font-size: $dnfs;
    color: $dnc;
}
.divServisListe_Adres {
    display: block;
    margin-top: $damt;
    color: $dac;
}
.divServisListe_Koordinat {
    display: inline-block;
    margin-top: $dnmt;
    a {
        color: $dnavc;
        text-decoration: underline;
        [class^="view-"] {
            display: none;
        }
        &[rel] {
            margin-right: 20px;
            .view-point {
                display: inline;
            }
        }
        &.show-map-btn {
            .view-navigation {
                display: inline;
            }
        }
    }
}

.tableServisCalismaSaatleri {
    display: inline-block !important;
    margin-right: 20px;
    width: 90px;
    white-space: nowrap;
    > span {
        color: $dnavc;
        text-decoration: underline;
        text-transform: lowercase;
        display: inline-block;
        &:first-letter {
            text-transform: uppercase;
        } 
    } 
    table {
        display: none;
        text-align: left;
        padding: $padding10 0;
        line-height: 20px;
        th {
            margin-right: 20px;
            display: block;
        }
    }
    &.selected {
        table {
            display: block;
        }
    }
    &.none {
        display: none !important;
    }
}


.selected-address-detail {
    display: none;
    .pServisListe {
        padding: 0;
        background: none; 
    }
}

.left-column,
.back-btn,
.toggle-map {
    display: none;
}



body.view-map {
    overflow: hidden;
    position: fixed;
    .mod-service-list-body {
        display: none;
    }
    .page-nav {
        .icon-dealer-map {
            display: none;
        }
        .icon-dealer-list {
            display: block;
        }
    }
    #Map.map {
        height: calc(100vh - #{$dhh});
    }
    .selected-address-detail:not(:empty) {
        display: block;
    }
    .divServisListe_Koordinat {
        a {
            &[rel] {
                display: none;
            }
        }
    }
    .selected-address-detail-wrp {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 25px;
        width: 100%;
        background: $dsbbg;
        padding: $dsbp;
        min-height: 120px;
        .divServisListe_FirmaAdi {
            padding-right: $padding30; 
        }
    }
    .right-column {
        height: calc(100vh - 47px);
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    .back-btn {
        position: absolute;
        right: 20px;
        top: 18px;
        display: inline-block;
        svg {
            font-size: 20px;
        }
    }
}

//EMOS FRAMEWORK
.ems {
    //CONTAINER
    &-container {
        width: calc(100% - #{$breakpoint-gap * 2}) !important;
        margin-left: auto;
        margin-right: auto;
        
        &-full {
            width: 100% !important;
        }
        
        &-large {
            max-width: $breakpoint-large;
        }
        &-medium {
            max-width: $breakpoint-medium;
        }
        &-small {
            max-width: $breakpoint-small;
        }
    }
    //OVERLAY
    &-overlay {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        visibility: hidden;
        opacity: 0;
        background: rgba($color: $colorBlack, $alpha: .1);
    }
    //OVERFLOW
    &-overflow {
        &-visible {
            overflow: visible;
        }
        &-hidden {
            overflow: hidden;
        }
    }
    //VIDEO
    &-video-player {
        position: relative;
        &.is-play {
            .i-play {
                opacity: 0;
                transition: all .2s ease;
            }
            &:hover {
                .i-play {
                    opacity: .5;
                }
            }
        }
    }
}