//Dealer Header Padding
$dhp: 20px;

//Dealer Header Background Color
$dhbg: #fff;

//Dealer Headers Height (For Map Height Calc)
$dhh: 122px;

//Dealer Title Font Size
$dtfs: 20px;

//Dealer Description Font Size
$ddfs: 14px;

//Dealer Description or Border Top
$ddbt: #f3f3f7;

//Dealer List Padding 
$dlp: 5px 20px 0;

//Dealer List Background Color
$dlbg: #f3f3f7;

//Dealer Form Top Margin
$dftm: 20px;

//Dealer Border Top
$dbt: #dcdcdc;

//Dealer Padding
$dp: 15px 0;

//Dealer Horizontal Margin
$dhm: 20px;

//Dealer Global Font Size
$dgfs: 12px;

//Dealer Name Font Size
$dnfs: 14px;

//Dealer Name Color
$dnc: #000;

//Dealer Address Margin Top
$damt: 10px;

//Dealer Address Color
$dac: #000;

//Dealer Navigation Margin Top
$dnmt: 15px;

//Dealer Navigation Color
$dnavc: #696b71;

//Dealer Distance Color
$ddc: #999;

//Dealer(Selected) Body Background Color
$dsbbg: #fff;

//Dealer(Selected) Body Padding
$dsbp: 20px;

//Desktop Dealer Page Padding
$d-dpp: 30px 20px 70px;

//Desktop Dealer Headers Height (For Map Height Calc)
$d-dhh: 140px;

//Desktop Dealer Map Width
$d-dmw: 790px;

//Desktop Dealer Map Top Padding When Scrolling
$d-dmmtws: 30px;

//Desktop Dealer Columns Gap
$d-dcg: 30px;

//Desktop Dealer List Width
$d-dlw: 380px;

//Desktop Dealer List Background Color
$d-dlbg: #fff;

//Desktop Dealer List Radius
$d-dlr: 4px;