 /* --- FOOTER MENU --- */
 .footer-menu {
     width: 100%;
     margin: 30px auto; 
     position: relative;
     ul {
        flex-direction: column;
        align-items: flex-start;
     }
     a {
        font-size: $fontSize14; 
        font-family: $medium; 
     }
     li {
         padding: 0 20px;
         margin-bottom: $margin20;
     }
 }

 /* Footer social Icon */
.footer-social {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px auto; 
    padding: 0 $padding20;
    ul {
        li {
            a {
               width: 36px;
               height: 36px;
               border: 1px solid $greyBorderColor;
               border-radius: 100%;
               display: inline-block;
               margin-right: $margin5;
               padding: 2px;
               .icon {
                   font-size: 30px; 
               }
            }
        }
    }
    img {width: auto;} 
}

/* footer copyright */

.footer-copyright {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 40px auto;
    padding: 0 $padding20;
    a {
        color: $colorAlternate;
        font-size: $fontSize13;
    }
}

/* Footer Tab */
.footer-tab {
    background: #000; 
    img {
        filter: invert(100%);
    }
    li {
        border-right: 1px solid $greyColor; 
        &:last-child {
            border: 0;
        }
    } 
    .selected {
        background: #fff; 
        img {
            filter: none;
        }
    }
    a {
        padding: $padding20 $padding30;  
        display: block;
    }
}

// Footer Dil Seçim

.fLang {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: $fontSize15;
    display: none;
    span {
        color: $colorBulltet;
    }
}

.tr-TR {
    span.fLangTR {
        color: $colorBlack;
    }
}

 