/* --- FOOTER MENU --- */

.footer-menu {
  max-width: 600px;
  margin: 50px auto; 
  ul {
      flex-direction: row; 
      align-items: center;
  }
}

/* Footer social Icon */
.footer-social {
  padding: 0;
}

/* footer copyright */
.footer-copyright {
  padding: 0;
}