/* --- FOOTER --- */
.site-footer {
    border-top: 1px solid $greyBorderColor;
}

.site-footer-grid {
    grid-template-columns: minmax(0, auto);
    grid-template-areas: 
    "AAA"
    "BBB"
    "CCC"
    "DDD";
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
} 

/* Footer Site Bilgi */

.footer-info {
    padding: 70px 0 90px 0;
    border-bottom: 1px solid $greyBorderColor;
    span {
        display: block;
    }
}

// Scroll Top

.btn-page-top { 
    width: 46px;
    height: 46px;
    background: $colorBulltet;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    @extend .transition;
    opacity: 0;
    &.scroll {opacity: 1;}
}