/* --- FOOTER MENU --- */

.footer-menu {
  max-width: 800px;
  margin: 50px auto 30px auto;  
  ul {
      flex-direction: row; 
  }
}

/* Footer social Icon */
.footer-social {
  padding: 0;
}

/* footer copyright */
.footer-copyright {
  padding: 0;
}

/* Footer Tab */
.footer-tab {
  li {
      width: auto;
      justify-content: left;
      &:last-child {
        a {
            padding: 10px 30px;
        }
    }
  } 
}