/* --- FOOTER --- */
.site-footer {
    //border-top: 1px solid $greyBorderColor;
}

.site-footer-grid {
    grid-template-columns: minmax(0, auto);
    grid-template-areas: 
    "AAA"
    "BBB"
    "CCC"
    "DDD";
    //max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background: #fbfbfb;
} 

/* Footer Site Bilgi */

.footer-info {
    padding: 30px 20px;
    //border-bottom: 1px solid $greyBorderColor;
    background: #fff;
    display:none;
    span {
        display: block;
    }
    li {padding: 0 5px;}
}

// Scroll Top

.btn-page-top { 
    width: 46px;
    height: 46px;
    background: $colorBulltet;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    @extend .transition;
    opacity: 0;
    &.scroll {opacity: 1;}
}

.scrollTop-swipe { 
    display: none;
}

// Footer Kart

.footer-card {
    background: #fff;
    padding: 20px;
    flex-wrap: wrap;
    img {
        width: auto;
    }
    &-img { 
        flex: 1;
        order: 1;
        margin: 20px 0;
        ul {
            justify-content: center;
        }
        li {
            margin: 0 5px;
        }
    }
    &-proje {
        flex-wrap: wrap;
        flex: 1 35%;
        justify-content: flex-end;
        a {
            margin: 0 5px;
        }
    }
    &-copy {
        flex: 1 65%;
    }
}

// Çerez Kullanım

.cookieBnr {  
    position: fixed;
    right: 20px;  
    bottom: 20px; 
    max-width: 335px;
    padding: 15px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0 1px 1px 0 rgba(60,64,67,0.08), 0 1px 3px 1px rgba(60,64,67,0.16);
    box-shadow: 0 1px 1px 0 rgba(60,64,67,0.08), 0 1px 3px 1px rgba(60,64,67,0.16);
    .uk-container a {
        font-size: 11px;
        text-decoration: underline;
        font-family: $medium;
    }
    .uk-position-small {display:inline-block;}
    .cookieBnrCloseBtn {
        padding: 5px 20px !important;
        display: block;
        margin-top: 15px !important;
        width: auto;
        height: 26px;
        float: right;
        span {
            font-size: 12px; 
        }
    }
}

.cookieBnr {display: none;}
.cookieBnr.show {display: block;}

.sp-custom-19-1 {display:none !important;} 
