 /* --- FOOTER EBULTEN --- */

.newsletter-title {
    padding: 0 0 $padding20 0; 
}
.mini-bulletin {
    margin-top: 30px; 
    padding: 0 $padding20;
    .field {
        margin-bottom: 10px;
        width: 100%; 
        input[type="text"] {
            padding: 10px 40px 10px 15px;
            border: 0;
            border-bottom: 1px solid #000;
            font-size: 13px;
            background: none;
        }
        input[type="checkbox"] {
            opacity: 0;
            width: 12px !important;
            padding: 0 !important;
        }
    }
    &-btn {
        right: 0; 
        top: 0;
        padding: 6px;
        span {
            color: #000 !important;
        }
    }
}

.mini-bulletin-message {
    text-align: center;
    span {
        padding: 10px;
        font-size: 13px;
        border: 1px solid #eee;
        border-radius: 2px;
        margin: 5px auto;
        display: inline-block;
        width: 100%;
        max-width: 375px;
        color: $colorGreen;
        &:empty {display:none;}
    }

}

.privacy-confirm {
    font-size: 12px;
    color: #666;
    line-height: 17px;
    a {
        font-size: 12px;
        color: #666;
        text-decoration: underline;
    }
}

 // Gizlilik onay popup

 .privacy-confirmation {
    .privacy-confirmation { 
     max-width: 800px !important;
    }
 }

 .backoffice-icerik {
     word-break: break-all;
 }