 /* --- FOOTER EBULTEN --- */

.newsletter-title {
    padding: 0 0 $padding30 0; 
    display: none;
}
.mini-bulletin {
    margin-top: 40px; 
    padding: 0 $padding20;
    .field {
        margin-bottom: 10px;
        width: 100%; 
        input {
            padding: 10px 40px 10px 15px;
            border-color: $greyBorderColor; 
            border-radius: 2px;
            font-size: 15px;
        }
    }
    &-btn {
        right: 0; 
        top: 0;
        padding: $padding10;
        span {
            color: #000 !important;
        }
    }
}

.mini-bulletin-message {
    text-align: center;
    span {
        padding: 10px;
        font-size: 13px;
        border: 1px solid #eee;
        border-radius: 2px;
        margin: 5px auto;
        display: inline-block;
        width: 100%;
        max-width: 375px;
        color: $colorGreen;
        &:empty {display:none;}
    }

}