 /* --- FOOTER EBULTEN --- */

.newsletter-title {
    padding: 0 0 $padding30 0; 
    display: none;
}
.mini-bulletin {
    margin-top: 40px; 
    padding: 0 $padding20;
    .field {
        margin-bottom: 10px;
        width: 100%; 
        input {
            padding: 10px 40px 10px 15px;
            border-color: $greyBorderColor; 
        }
    }
    &-btn {
        right: 0; 
        top: 0;
        padding: $padding10;
        span {
            color: #000 !important;
        }
    }
}