//Site varsayilan butonlar
a.btnDefault, span.lnkGuestCheckout{
    display: block;
    width: 100%;
    background: $btnBackground; 
    text-align: center;
    padding: $padding15 $padding20;
    > span{
        font-family: $regular;
        color: $colorWhite;
        font-size: $fontSize14;
    }
}
//Site alternatif butonlar 
a.btnAlternate, 
a.btnFacebookLogin, 
a.btnArama, 
a.btnAlisverisDevam, 
a.allow-share-location-btn, 
div.follow-list-btn,
a.btnFavoriSil,
a.btnFavSepeteAt,
a.btnFacebookLoginKutu,
a.btnSiparisSonucSepeteDon,
a.btnAdresEkle  {
    display: block;
    width: 100%;
    background: none;
    border:1px solid $btnBorder;
    padding: 14px $padding20;
    text-align: center;
    > span{
        font-family: $medium;
        color: $colorBlack;
        font-size: 14px;
    }
}
//Site alternatif yazı boyutu kücük butonlar
a.btnAlternateSmall{
    padding-top: 7px;
    padding-bottom: 6px;
    > span{
        font-size: 14px;
    }
}
//Site altı cizili butonları
a.btnLink, a.btnLink > span{
    background: none;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    font-family: $regular;
    color: $linkButtonColor;
    text-decoration: $linkUnderline;
}
//Site arka plansız butonlar
a.btnAlisverisDevam,
a.btnSepetBosalt,
a.kombinBtn,
a.btnArama {
    background: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    > span{
        font-family:$regular;
        color: $colorAlternate;
        font-size: $fontSize14;
        @extend .display-flex;
        @extend .align-items-center;
    }
}
//Arka plansız buton sagdan margin ikon
a.btnRightIcon{
    .icon{
        @extend .m-rght-5;
    }
}
//Arka plansız buton soldan margin ikon
a.btnLeftIcon{
    .icon{
        @extend .m-lft-5;
    }
}
//Arka plansız yanlız ikon barındıran buton tipleri
a.btnHediyeCekiKullan,
a.btnHediyeCekiIptal,
a.btnTesAdrSec,
a.btnFatAdrSec,
a.btnSatisSozlesmeOnizle,
a.btnOnBilgilendirmeFormOnizle,
a.btnHvlBnkSec,
a.btnOdemeCekiEkle,
a.btnFavoriListeSil,
a.btnBultenGonder,
a.btnKutuLogout, 
a.btnSipIptal,
a.btnSipIade,
a.btnIadeDetay,
a.lnkSipTekrarla,
a.btnTakipListeStokSil,
a.btnTakipListeFiyTumSil,
a.btnSipariseDon, 
a.btnFavoriEkle {
    background: none;
    padding: 0;
    border-radius: 0;
    width: auto;
    height: auto;
    > span{
        @extend .display-flex;
        @extend .align-items-center;
        color: $colorDefault;
        font-family: $regular;
        font-size: $fontSize14;
    }
}
//Absolute Sag tarafa hizalı transparan tum Buttonlar
.cart-coupon .form-obj table{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -16px;
    z-index: 1;
    width: 32px;
    height: 32px;
}