/*Site Header Grid*/
.header{
    &-logo{
        img{max-height: 80px;}
    }
}

/*Site Header Grid*/
.site-header {
    top: 0;
    z-index: 9;
    width: 100%;
}

.site-header-grid {
    grid-template-columns: auto 1fr auto auto auto auto;
    grid-template-rows: minmax(0, auto);
    grid-template-areas: "AAA BBB CCC DDD EEE FFF";
    grid-gap: 10px; 
    height: 74px;
    position: relative;
    top: 0;
    width: 100%;
    color: #000;
    background: #fff;
    @include transition(all .4s, color .4s);
    //background: $colorWhite;
}

.ems-page-home .site-header-grid {
    position: absolute;
    color: #fff;
    background: transparent;
    .mini-lang .dropdown-header {
        color: #fff;
    }
    .menuOpenIcon a { 
        color: #fff; 
    }
    .header-logo img {
        filter: invert(1);
    }
}

.ems-page-home .sticky-header-ready {
    .header-logo img {
        filter: invert(0);
    }
}

.sticky-header-ready {
    .site-header-grid {
        background: #fff;
        color: #000;
    }
    .mini-lang .dropdown-header {
        color: #000 !important;
    }
    .menuOpenIcon a {
        color: #000 !important;
    }
}

.header-logo {
    width: 100%;
    position: absolute;
    top: 21px;
    right: 0;
    left: 0;
    a {
        justify-content: center;
    }
    img {
        @include transition(filter .4s);
    }
}

// Max yükseklikte sabit menü

.max-height-detect {
    .site-header {
        position: relative !important; 
    }
}
 