/* --- HEADER MENU --- */

/* Mobile Menu */

.header-mobile {
    height: 60px;
    padding: 0 $padding15;
    background: $colorWhite;
    &-logo {
        text-align: center;
        @extend .display-flex;
        justify-content: center;
        position: relative;
        top: 2px;
        padding: 0 10px;
        img { 
            max-width: 135px;
            width: 100%;
            //height: 20px;
        }
    }
    .go-cart {
        padding-right: $padding10;
        b {
            font-weight: normal;
            margin-left: 5px;
            min-width: 10px;
        }
    }
    .ga2 {
        flex: 100%;
        text-align: center;
        position: relative;
    }
}

// History back btn

.hs-back { 
    a {
        margin-right: 5px;
        margin-left: -5px;
        display: inline-block;
    }
    svg {
        font-size: 30px;
    }
}


/* Mobile Menü Open */

.menu {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: $colorBlack;
    opacity: 0;
    z-index: 10;
    text-transform: uppercase;
    transform: translateX(-50%);
    transition: all .12s cubic-bezier(0.950, 0.050, 0.795, 0.035); // easeInExpo
    small {font-size: 8px; left: 3px; top: -5px; position: relative; display:inline-block;}
    .sub {
        position: relative;
        left: 0;
        width: 100%;
    }
    /* LVL 1 style ana menü hover */
    ul.lvl-1 {
        //background: $colorWhite; 
        //justify-content: space-between;  
        padding: 90px 20px 0 20px; 
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100% - 70px);
        -webkit-overflow-scrolling: touch;
        > li {
            > a {
                //padding: 0 $padding10; 
                font-family: $regular; 
                font-size: 36px;
                height: auto;
                margin-bottom: 15px;
                i {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    display: none;
                    &.icon-minus {
                        display: none;
                    }
                }
                span.lvl-close-plus, span.lvl-close-minus {
                    display: none; 
                }
            }
            &.selected {
                > a { 
                    &:after {
                        width: 100%;
                    } 
                    i {
                        &.icon-minus {
                            display: inline-block;
                        }
                        &.icon-plus {
                            display: none;
                        }
                    }
                }
            
            }
            &.ems-none {
                .menu-footer {
                    display: none !important;
                }
            }
            &.ems-sub-menu {
                > a {
                    i {display: inline-block;}
                }
            }
        }
    }
    li {
        .lvl-2 { 
            column-count: auto !important;
            //padding: 0 $padding20;
            //background: $lightGreyColor;
            > li {
                //border-bottom: 1px solid $greyBorderColor;
                > a {
                    font-family: $medium;
                    height: auto;
                    @extend .display-flex;
                    align-items: center; 
                    position: relative;
                    font-size: 16px;
                    font-family: $regular;
                    //margin-bottom: 15px;
                    padding: 10px 0;
                    i {
                        position: absolute;
                        right: 0px;
                        top: 2px;
                        &.icon-minus {
                            display: none;
                        }
                    }
                    span.lvl-close-plus, span.lvl-close-minus {
                        display: none; 
                    }
                }
                &:last-child {
                    border: 0;
                }
                &.showSubLVL { 
                    > a {
                        display: none !important;
                    }
                    > ul {
                        display: block !important;
                    }
                }
                &.hideSubLVL {
                    ul {
                        display:none !important;
                    }
                }
            }
            &:empty {
                display: none !important;
            }
            &.columnCount1 {column-count: 1 !important; column-gap: 0;} 
            &.columnCount2 {column-count: 1 !important; column-gap: 0;}
            &.columnCount3 {column-count: 1 !important; column-gap: 0;}
            &.columnCount4 {column-count: 1 !important; column-gap: 0;}
            &.columnCount5 {column-count: 1 !important; column-gap: 0;}
        }
        .lvl-3 {
            //padding-left: $padding10;
            > li {
                > a {
                    padding: $padding10 0;
                    display: block;
                    font-size: 12px;
                }
                &.selected {
                    a {
                        font-family: $medium;
                    }
                }
            }
            &.columnCount1 {column-count: 1 !important; column-gap: 0;} 
            &.columnCount2 {column-count: 1 !important; column-gap: 0;}
            &.columnCount3 {column-count: 1 !important; column-gap: 0;}
            &.columnCount4 {column-count: 1 !important; column-gap: 0;}
            &.columnCount5 {column-count: 1 !important; column-gap: 0;}
        } 
        ul { 
            display: none;
        }
        &.selected {
            .lvl-2 {
                display: block;
                margin-bottom: 40px;
                > li {
                    &.selected {
                        //padding-bottom: $padding20;
                        > a { 
                            i {
                                &.icon-minus {
                                    display: inline-block;
                                }
                                &.icon-plus {
                                    display: none;
                                }
                            }
                        }
                        .lvl-3 {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    /* Menu Açık */
    &-ready {
        .menu {
            display: flex;
        }
    }

    &-animate {
        position: fixed;
        .menu {
            opacity: 1;
            transform: translateX(0);
            transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000); // easeOutExpo 
        }
        .site-header {
            z-index: 12;
        }
    }
    &-footer {
        //display: none !important;
        //background: $greyBorderColor;
        padding: $padding20;
        //position: absolute;
        bottom: 0;
        width: 100%;
        a {
            //font-family: $medium;
            padding: $padding5 0;
            display: block;
        }
    }
}

.corplvl {
    a {
        font-size: 18px !important;
    }
}

// Kategori menu stil

.ems-sub-menu-cat {
    
}

// Mobil üst navigasyon

.menu-top {
    padding: 20px;
    .go-cart {
        position: relative;
        width: 45px;
        height: 45px;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50px;
        svg {
            color: #000;
            margin-top: -2px;
        }
    }
    b {
        background: #232323;
        border-radius: 50px;
        position: absolute;
        right: -2px;
        top: -2px;
        color: #fff;
        min-width: 17px;
        height: 17px;
        padding: 3px;
        text-align: center;
        font-size: 11px;
    }
}

// Mobil menu kullanıcı bilgileri
.menu-user-info {
    background: #f9f9f9;
    padding: 0 $padding20;
    justify-content: space-between;
    margin-top: auto;
    //border-bottom: 1px solid $lightGreyColor;
    a {
        font-size: 14px;
        font-family: $medium;
    } 
    .sub {
        -webkit-overflow-scrolling: touch;
        padding: 0 20px;
        display: none;
    }
    .mobilUserTitle {
        //text-align: center;
        font-size: $fontSize18;
        font-family: $medium;
        padding: 35px 0px;
        //background: #ddd;
        display: none;
    }
    > li {
        @extend .display-flex;
        align-items: center;
        height: 70px; 
        width: 50%;
        justify-content: left;
        //border-left: 1px solid #efefef;
        .btn-menu-title {
            position: relative;
            @extend .transition;
            i {
                opacity: 0;
                left: -10px;   
                transform: translateY(-50%);
                top:50%;
                position: absolute;
                @extend .transition;
            }
        }
        &.selected {
            .btn-menu-title {
                padding-left: $padding15;
                i {
                    opacity: 1;
                    left: -15px;
                }
            }
            .sub {
                display: block;
                position: absolute;
                top: 0px;
                z-index: 9;
                background: #fff;
                height: 100%;
                max-height: calc(100% - 70px);
            }
            .mobilUserTitle {
                display: block;
            }
        }
        &.menuLang {
            display:none;
            justify-content: flex-end;
            a {
                padding: 0 10px;
                color: #999;
                &.selected {
                    color: #000; 
                }
            }

        }
    }
    .homeBtn {
        text-align: center;
        width: 100%;
    }
} 
.menu-close {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 47px;
    height: 47px;
    @extend .display-flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    svg {
        opacity: .6;
    }
}

// mobil menü scroll

// Sepet içerik scroll
.menu ul.lvl-1::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}

.menu ul.lvl-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $colorAlternate;
    box-shadow: inset 0 0 4px $colorAlternate;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}

.menu ul.lvl-1::-webkit-scrollbar {
    width: 3px;
}

//footer mods extend obj

%footer-mods-sub {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: auto;
    background: $colorWhite;
    color: $colorBlack;

    opacity: 0;
    transform: translateY(50%);
    transition: all .12s cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}
%footer-mods-sub-ready {
    display: block;
}
%footer-mods-sub-animate {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
%footer-mods-sub-overlay {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mobilePageTitle {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    @extend .display-flex; 
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    span, a {
        //font-size: $fontSize16;
        font-family: $regular;
        margin: 0;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
    }
    &:empty {
        display: none;
    }
}