.mini-search {
    padding: 0; 
    &-sub {
        top: 70px; 
        left: 0;
        width: 100%;
        padding: 25px;
        transform: none;
        @extend .transparent-desktop;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 11; 
        height: auto;
        .sub-close {
            top: 38px;
            right: 30px;
            left: auto;
            //transform: translateY(-50%);
        }
        .field.field-single {
            input {
                padding: 9px 40px 9px 15px;
            }
        }
        .no-result {
            margin: 0 auto;
            .message-ico {
                width: 110px;
                height: 110px;
            }
            svg {
                font-size: 40px;
            }
            p {
                font-size: 18px; 
            }
        }
    }
    &-ready {
        position: static;
        overflow: hidden;
    }
    &-animate {
        //position: fixed;
        .mini-search { 
            &-sub {
                opacity: 1;
                top: 60px;
                visibility: visible;  
            }
        }
        .mini-search-info {
            &:after {
                height: 2px;
            }
        }
    } 
    &-input {
        position: relative;
        &:before {
            display: none;
        }
    }
}

.searchSuggestDiv {
    border: 0;
    padding: 0;
}

.searchSuggestDivHolder {
    margin: 0;
    grid-template-columns: 160px 56px 1fr;
    grid-template-areas: "ga3 . ga2" ". . ga4";  
    border-top: 1px solid #d8d8d8;
    margin-top: $margin25;
    padding: $padding30 $padding20;
    .prd {
        overflow-x: hidden;
        max-height: 400px;
        display: block;
        padding-right: $padding10;
        width: 100%; 
        .sHolder {
            grid-template-columns: repeat(6, 1fr); 
            grid-gap: 10px;
            margin-right: 0;
            margin-left: 0;
        }
        .suggest_urnsmallimg_con { 
            grid-area: 1;
            > img {
                max-width: none;
                width: 100%; 
            }
        }
        .suggest_urnsname_con {
            padding:10px 0 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis; 
            overflow: hidden;
            grid-area: 2;
        }
        .suggest_urnprice_con {
            text-align: left;
            padding:5px 0 15px 0;
            grid-area: 3;   
        }
        table {
            tr {
                margin-bottom: 40px;
                padding: 0;
                grid-template-columns: auto;
            }
        }
    }
    .cat {
        margin-top: 0;
        display: block;
    }
    .dvTumunuGoster {
        justify-self: left;
        position: static;
        padding: 0;
        width: auto;
        background: transparent; 
    }
}

@media screen and (max-width: 1400px) {
    .searchSuggestDivHolder {
        .prd {
            .sHolder {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    } 
}

@media screen and (max-width: 1200px) {
    .searchSuggestDivHolder {
        .prd {
            .sHolder {
                grid-template-columns: repeat(4, 1fr);  
            }
        }
    }
}

// Sepet içerik scroll

.searchSuggestDivHolder .prd::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}

.searchSuggestDivHolder .prd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $colorAlternate;
    box-shadow: inset 0 0 4px $colorAlternate;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}

.searchSuggestDivHolder .prd::-webkit-scrollbar {
    width: 3px;
}