.mini-search {
    padding: 0; 
    &-sub {
        top: 70px; 
        left: 0;
        width: 100%;
        padding: 25px 50px;
        transform: none;
        @extend .transparent-desktop;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 11; 
        height: auto;
        overflow: hidden;
        .sub-close {
            top: 30px;
            left: auto;
            right: -100px;
            //transform: translateY(-50%);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            opacity: 0;
            
        }
        .field.field-single {
            input {
                padding: 9px 40px 9px 15px;
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                left: -100px;
                opacity: 0;
                position: relative;
            }
        }
        .no-result {
            margin: 0 auto;
            .message-ico {
                width: 80px;
                height: 80px;
            }
            i {
                font-size: 40px;
            }
            p {
                font-size: 20px; 
            }
        }
    }
    &-btn {
        opacity: 0;
        right: 0px;
        top: 5px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        a.btnArama > span {color:#000;}
    }
    &-ready {
        position: static;
        overflow: visible;
    }
    &-animate {
        //position: fixed;
        .mini-search { 
            &-sub {
                opacity: 1;
                top: 74px;
                visibility: visible;  
                .field.field-single {
                    input {
                        left: 0px;
                        opacity: 1; 
                    }
                }
            }
        }
        .sub-close {
            right: 50px;
            opacity: 1;
        }
    } 
    &-input {
        position: relative;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 10px;
        &:before {
            display: none;
        }
    }
    &-result-found {
        .sub-close {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        .mini-search-btn {
            opacity: 1;
            .btnArama:hover {
                background: none;  
            }
        }
        .mini-search-input {
            border: 0;
            padding: 0;
        }
    }
}


.mini-search-ready {
    .mini-search-overlay {
        //top: 75px !important;
        background: linear-gradient(rgba(0, 0, 0, 0) 75px, rgba(0, 0, 0, 0.2) 10px);
    }
}

.searchSuggestDiv {
    border: 0;
    padding: 0;
}

.searchSuggestDivHolder {
    margin: 0;
    grid-template-columns: 160px 56px 1fr;
    grid-template-areas: "ga3 . ga4" "ga3 . ga2";  
    border-top: 1px solid #d8d8d8;
    margin-top: $margin10;
    padding: $padding30 0 0 0;
    .prd {
        overflow-x: hidden;
        max-height: 400px;
        display: block;
        padding-right: $padding10;
        width: 100%; 
        .sHolder {
            grid-template-columns: repeat(7, 1fr); 
            grid-gap: 10px;
            margin-right: 0;
            margin-left: 0;
        }
        .suggest_urnsmallimg_con { 
            grid-area: 1;
            > img {
                max-width: none;
                width: 100%; 
            }
        }
        .suggest_urnsname_con {
            padding:10px 0 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis; 
            overflow: hidden;
            grid-area: 2;
        }
        .suggest_urnprice_con {
            text-align: left;
            padding:5px 0 15px 0;
            grid-area: 3;   
        }
        table {
            tr {
                margin-bottom: 40px;
                padding: 0;
                grid-template-columns: auto;
            }
        }
    }
    .cat {
        margin: 0;
        display: block;
    }
    .dvTumunuGoster {
        justify-self: right;
        position: static;
        padding: 0;
        width: auto;
        background: transparent; 
        margin-bottom: 20px;
        #ascAramaBtnTumunuGoster {
            min-width: auto;
            text-decoration: underline;
            border: 0;
            padding: 0;     
            font-size: 13px;    
            &:hover {
                background: none;
                color: #000;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .searchSuggestDivHolder {
        .prd {
            max-height: 300px;
            .sHolder {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    } 
}

@media screen and (max-width: 1200px) {
    .searchSuggestDivHolder {
        .prd {
            .sHolder {
                grid-template-columns: repeat(4, 1fr);  
            }
        }
    }
}

// Sepet içerik scroll

.searchSuggestDivHolder .prd::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}

.searchSuggestDivHolder .prd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $colorAlternate;
    box-shadow: inset 0 0 4px $colorAlternate;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}

.searchSuggestDivHolder .prd::-webkit-scrollbar {
    width: 3px;
}

// Populer Arama

.popular-search-words {
    text-align: left;
    .ems-section-title {
        font-size: 14px;
        font-family: $medium;
    }
}