/* --- HEADER DİL SEÇİMİ --- */
.mini-lang {
    display:none !important;
    //display: inline-block; 
    //padding: 0 $padding10;
    position: static !important;
    min-width: 40px;
    display: block; 
    .emos_invisible {
        display: inline-block;
    }
    /* Lang Header */
    .dropdown-header {
        padding: 0;
        border: 0;
        line-height: normal;
        color: #000;
        cursor: pointer;  
        position: relative !important;
        @include transition(color .4s);
        img {
            display: none;
        }
        &:after {
            display:none;
        }
        > span {
            margin: 0 auto;
        }
    }
    /* Lang Sub */
    .sub {
        //width: 75px;
        //margin: 0;  
        //top: 70px;
        //display: block;
        //@extend .transition;
        //visibility: hidden;
        //opacity:0;

        display: block !important;
        top: 0px;
        right: -100%;
        width: 100%;
        max-width: 350px;
        height: 100vh; 
        z-index: 16;
        margin-left: auto;
        //margin-right: auto;
        padding: $padding30;
        display: block;
        opacity: 0;
        visibility: hidden;
        color: #000;
        background: #fff;
        @extend .transition;


        li {
            border-bottom: 1px solid $colorBulltet;
            &:last-child {
                border: 0;
            }
        }
        img {
            width:auto;
            float: left;
            margin-right: $margin10;
        }
        a {
            padding: $padding10 !important;
            line-height: normal;
            cursor: pointer; 
            &:hover { 
                color: $colorWhite;
            }
        }
    } 
    b {
        font-weight: normal;
        font-size: $fontSize14;
        cursor: pointer;  
    }
    &.opened {
        .sub { 
            //top: 100%;
            opacity: 1;
            visibility: visible;

            width: 100%;
            right: 0px;
            opacity: 1;
            visibility: visible;
        }
    }
}

/* header favori */

.menuFav {
    padding: 0 $padding10; 
}