/* --- ARAMA --- */

.mini-search-info {
    padding: 0 $padding10;
    position: relative;
    cursor: pointer;  
    &:after {
        content: '';
        width: 100%;
        height: 0px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0; 
        @extend .transition;
    }
}
 
.mini-search {
    &-sub {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: $colorWhite;
        color: $colorBlack;
        padding: 0 $padding10 $padding30 $padding10;
        opacity: 0;
        visibility: hidden;
        .field.field-single {
            margin: 0;
            width: 100%;
            input {
                background: none;
                border: 0;
                font-size: 17px;
                margin: 0;
                padding: 9px 40px;
            }
        }
        .sub-close {
            top: 12px;
            left: 15px;
            right: auto;
            //transform: translateY(-50%);
        }
    }
    &-animate {
        //position: fixed;
        .mini-search {
            &-sub {
                opacity: 1;
                top: 0;
                visibility: visible; 
            }
        }
    }  
    .popular-search-words {
        display: block;
    } 
    &-input {
        position: relative;  
        &:before {
            content: '';
            position: absolute;
            top: 47px;
            left: 0;
            height: 1px;
            background: #eeeeee;
            width: 100%; 
        } 
    }
    // Mobil Ara Btn
    &-btn {
        position: absolute;
        top: 12px;
        right: 10px;
        a {
            border: 0; 
            padding: 0;
        }
    }
}

.mini-search-animate {
    .mini-search-overlay {
        visibility: visible;
        opacity: 1;
    }
}


/* --- Arama açık kapalı özellikleri --- */

.mini-search-result-found {
    .site-header { 
        //position: relative !important; 
    }
    .popular-search-words {
        display: none;
    }
}

/* --- Arama popup --- */

$ml: 55px;
$mr: 20px;

.searchSuggestDiv { 
    position: relative !important;
    width: 100% !important;
    padding: $padding20 0;
    //display: none;
}
.searchSuggestDivHolder {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "ga3" "ga2" "ga4";
    .prd {
        grid-area: ga2;
        h3 {
            display: none;
        }
        .sHolder {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1px;
            //margin-left: -$mr;
            //margin-right: -$mr; 
            > div {
                display: none;
                cursor: pointer !important;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10) {
                    display: block;
                }
            }
        }
        table {
            tr {
                display: grid;
                grid-column-gap: 10px; 
                margin-bottom: 5px;
                padding: 0 10px 5px 10px; 
                border-bottom: 1px solid #eeeeee;
                grid-template-columns: min-content auto;
                th {
                    display: none;
                }
                td {
                    padding-left: 20px;
                    padding-right: 20px;
                    //background: $greyColor;
                    > .emos_invisible {
                        display: block;
                    }
                }
            }
        }
        .suggest_urnsmallimg_con {
            grid-row: 1;
            padding-left: 0;
            padding-right: 0;
            background: none;
            grid-area: 3 / 1;
            > img {
                max-width: 60px;
                width: 60px;
            }
        }
        .suggest_urnsname_con {
            grid-row: 2;
            font-family: $regular;
            font-size: 13px;
            padding: 0;
            color: #666666;
            grid-area: 3 / 2;
            b {
                font-weight: normal;
                color: $colorBlack;
                font-family: $medium;
            }
        }
        .suggest_urnprice_con {
            grid-row: 3;
            font-size: 13px;
            padding: 0;
            grid-area: 3 / 3;
            text-align: right;
            .suggest_urnprice {
                display: flex;
            }
        }
        .suggest_urnurunkod_con,
        .suggest_urnnormalprice_con,
        .suggest_urnsubscriptiondiscountrate_con,
        .suggest_urnsubscriptionprice_con,
        .suggest_urndiscountrate_con {
            display: none;
        }
    }
    .cat {
        grid-area: ga3;
        margin-top: 14px;
        display: none;
        h3 {
            margin: 0 0 10px;
            display: none;
        }
        .suggest_link {
            > a {
                display: none;
            }
            > span {
                position: relative;
                display: block;
                padding: 6px 0; 
                font-family: $medium;
                font-size: 13px;
                line-height: 20px;
                color: $colorGrey;
                span {
                    display: none;
                }
                a {
                    display: inline-block;
                    color: $colorGrey;
                    font-family: $regular;
                    &:not(:first-child) {
                        color: $greyColor;
                        margin-left: 5px;
                        &::before {
                            content: "/";
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .prdCount {
        //grid-area: ga1;
        //display: block;
        padding: 20px 0;
        font-family: $medium;
        font-size: 15px;
        h3 {
            display: none;
        }
    }
    .dvTumunuGoster {
        grid-area: ga4;
        display: block;
        justify-self: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 20px;
        background: #fff;
        #ascAramaBtnTumunuGoster {
            min-width: 280px;
            text-align: center;
        }
    }
    .brand,
    .wordSearch {
        display: none;
    }
}

// Populer Arama

.popular-search-words {
    display: none;
    text-align: center;
    padding: 45px 0; 
    .ems-section-title {
        color: #9b9b9b;
        font-size: 13px;
        margin-bottom: $margin20;
    }
    .swiper-wrapper {flex-wrap: wrap;}
    .not-trigger .swiper-slide {
        width: 100%;
        margin-bottom: $margin15;
    }
}

