 /* --- MİNİ SEPET --- */

 .mini-cart-info {
    padding: 0 $padding10;
    margin-right: 50px;
    position: relative; 
    cursor: pointer; 
    min-width: 60px;
     span#lblUrunAdet {
         order: 2;
     }
     span[id$="lbfKUTU_URUN"] {
         order: 1;
     }
     i.icon-bag {font-size: 36px;}
 }

 .mini-cart-sub {
    display: none;
    top: 0px;
    right: -100%;
    width: 100%;
    max-width: 440px;
    height: 100vh; 
    z-index: 16;
    margin-left: auto;
    margin-right: auto;
    padding: $padding30;
    display: block;
    opacity: 0;
    visibility: hidden;
    color: #000;
    background: #fff;
    position: fixed;
    .kutuSepet_icerik {
        max-height: none;
        padding-right: 0;
    }
    .sub-header {
        //font-family: $roMedium;
        padding-bottom: 0; 
        border-bottom: 0;  
        font-size: $fontSize16;
        font-family: $medium;
        position: static;
        margin-bottom: 25px;
        padding-bottom: 25px;
        .mcq {
            font-size: $fontSize12;
            color: $greyColor;
            position: relative;
        }
        i {
            font-style: normal;
        }  
    }
    .grid-row {
        border-bottom: 1px solid $greyBorderColor;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0; 
        }
    }
    .grid-name {
        flex:1; 
        line-height: 1.4; 
        flex-direction: column;
        padding-right: 30px;
        > div {
            margin-bottom: 3px;
            font-size: 12px;
            &:empty {
                display: none;
            }
        }
    }
    // Ad
    .cart-prd-price {font-size: 14px;}

    // Fiyat
    .cart-prd-price {
        right: 0; 
        top: 0;
        //flex-direction: column;
        font-size: 14px !important;
        font-family: $medium;
        .first {
            &:empty {
                display: none;
                + .last { 
                    color: #000;
                    margin: 0
                }
            }
        }
        .last {
            margin-left: 10px;
        }
    } 
    // Renk
    .cart-prd-color {
        margin-top: 10px;
        font-size: 14px;
        .colorLabel {float: left;} 
        .colorCode:empty ~ .colorLabel  {
            display: none; 
        }
    }
    // Görsel
    .cart-prd-img {
        img {
            width: 90px;
        }
    }
    // Kaldır
    .grid-remove { 
        right: 5px;
        //bottom: 10px; 
        margin-top: auto;
        span {
            font-size: 12px;
        }
    }
    // Beden
    .cart-prd-size {  
        .bedenNum {
            &:empty {
                display: none;
                + span { 
                    display: none;
                }
            }
        }
    }
    // Button
    .cart-prd-page-url {
        text-align: left;
        margin-top: auto;
        a {
            width: 100%;
            max-width: 200px;
            display: inline-block;
            background: #000;
            //border-radius: 2px;
            //float: right;
            //background: $colorBlack;
            //color: $colorWhite;
            text-align: center;
            padding: 12px 3px 12px 3px;  
            span {
                color: #fff;
            }
        }
    }
    .sub-close {
        top: 25px;
        right: 25px;
    }
 }

.kutuSepet_urunYok {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .mini-cart-ready {
    .mini-cart-sub {
        @extend .display-flex;
        flex-direction: column;
        width: 100%;
        right: 0px;
        opacity: 1;
        visibility: visible;

    }
    .message-empty-card {
        i {
            animation: bounceIn 1s .5s;
            transform: scale(0.85);
            animation-fill-mode: both; 
        }
        p {
            animation: text 1s .5s;
            opacity: 0;
            animation-fill-mode: both;
        }
    }
    .mini-search-overlay {
        visibility: visible;
        opacity: 1;
    } 
}

// Sepet içerik scroll
.kutuSepet_icerik {
    overflow-x: hidden;
    max-height: 260px;
    display: block;
    padding-right: $padding10;
}

.kutuSepet_icerik::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}

.kutuSepet_icerik::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $colorAlternate;
    box-shadow: inset 0 0 4px $colorAlternate;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}

.kutuSepet_icerik::-webkit-scrollbar {
    width: 3px;
}


/* Arama açık kapalı özellikleri */

.basket-empty .kutuSepet_icerik, .basket-empty .cart-prd-total, .basket-empty .cart-prd-page-url {
    display: none;  
}

// Mini sepaet boş

.message-empty-card {
    padding: 100px 0;
    i {
        width: 60px;
        height: 60px;
        background: #d8d8d8;
        border-radius: 50%;
        font-size: 40px;
        line-height: 60px;
    }
    p {
        font-size: 18px;
        margin-top: $margin10;
    }
}