//LANDING PAGE
@mixin padding-h {
    padding-left: 20px;
    padding-right: 20px;
}
@mixin padding-h-remove {
    margin-left: -20px;
    margin-right: -20px;
}

.ems-page-product-detail {
    padding-bottom: 40px;
}

.ems-prdd {
    &-grid {
        > .ga1 {
            //@include padding-h();
        }
        > .ga2 {
            @include padding-h();
            //position: relative;
            .ems-prdd-right {
                position: static !important;
            }
        }
    }
    
    &-brand {
        font-family: $medium;
        font-size: 16px;
    }
    &-name {
        font-size: $fontSize13;
        font-family: $medium;
        letter-spacing: .5px;
        position: fixed;
        top: 0;
        width: calc(100% - 160px);
        height: 47px;
        background: #fff;
        z-index: 10;
        left: 50px;
        @extend .display-flex;
        align-items: center;
        h1 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            max-height: 47px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden; 
        }
    }
    &-block1 {
        margin-top: 7px;
        margin-bottom: $margin20;
    }
    &-price {
        font-size: $fontSize20;
        white-space: nowrap;
        [id*="KDVDAHILSATIS"] {
            display: none;
        }
    }
    &-badge {
        position: relative;
        overflow: hidden;
        font-family: $regular;
        font-size: $fontSize13;
        //margin-top: $margin15;
        > div {
            display: none;
            /*position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: $colorWhite;*/
            width: 100%;
            > span {
                display: block;
            }
        }
    }
    &-gallery {
        margin-bottom: $margin10;
        .swiper-slide {
            text-align: center;
        }
        .swiper-pagination {
            padding-bottom: 0;
            right: 15px;
            bottom: -25px;
            left: auto;
            display: block;
            &-bullet {
                width: 8px;
                height: 8px;
                border: 2px solid $colorWhite;
                background-color: $colorAlternate;
                margin: 0 $margin5;
                &-active {
                    width: 8px;
                    height: 8px;
                    background: $greyColor;
                    border-color: $greyColor;
                }

            }
        }
    }
    &-size {
        margin-top: 15px;
        font-family: $medium;
        font-size: 13px;
        position: absolute;
    }
    &-type {
        &:empty {
            display: none;
        }
    }
    &-add-to-cart {
        margin-top: 20px;
    }
    &-block2 {
        margin-top: 15px;
        > span {
            flex: 1;
            display: block;
        }
        a.btnDefault {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    &-block3 {
        position: relative;
    }
}


// Ürün Detay Tab

.tableTitleUrunOzellik {
    display: none; 
}

.urunOzellik, .teslimat-iade {
    display: none;
}

// Kategori bazlı ürün bilgiis

.prd-cat-info {
    display: none;
    margin: $margin30 0 $margin10 0;
    font-size: $fontSize15;
    &:empty {
        display: none;
    }
}
.ems-prdd-info {
    .prd-cat-info {
        display: block;
        line-height: 25px;
        color: $colorAlternate;
    }
}

.ems-prdd-tab {
    margin-top: $margin10; 
    display: inline-block;
    width: 100%;
    &.ems-tab-vertical .ems-tab-content  {
        > * {
            display: block;
        }
        .ems-tab-inner-content {
            line-height: 25px;
        }
        > div {
            .ems-tab-inner-header {
                @extend .base64-plus;
                font-size: $fontSize13;
            }
            .ems-tab-inner-content {
                font-size: $fontSize13;
            }
            &.selected {
                .ems-tab-inner-header {
                    @extend .base64-minus;
                }
            }
        }
    }
    .urunOzellik, .teslimat-iade {
        display: block;
    }
}

// Favori

.ems-prdd-favorite { 
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 1;
    svg {
        width: 20px;
        height: 20px;
    }
    .icon-favori-fill {display: none;}
    .btnFavoriEkle {
        &.selected {
            .icon-favori-fill {display: inline-block;}
            .icon-favori {display: none;}
        }
    }
}


//badges
.indirimli {
    #plhKazancOran {
        display: block !important;
        color: $colorRed;
    }
}
.yeniUrun {
    #plhYeniUrunBtn {
        display: block !important;
        color: $colorRed;
    }
}
.tukendi {
    #plhStokUyari {
        display: block !important;
        color: $colorRed;
    }
}

//Grup renkler
.UrunListeGrup_listeUrunDetayGrup {
    .listeUrunDetayGrup_listeBaslik {
        font-size: $fontSize13;
        margin-bottom: $margin15;
        color: $colorAlternate;
        b {
            color: $colorBlack;
            font-weight: normal;
        }
    }
    .URN_AD {
        display: none;
    }
    ul {
        @extend .display-flex;
        > li {
            width: 70px !important;
            height: auto;
            overflow: hidden;
            cursor: pointer;
            padding-right: 10px;
            .URN_RESIM {
                border: 1px solid transparent;
                @extend .transition;
                &:hover {
                    border-color: $colorBlack;
                }
            }
            &.selected {
                .URN_RESIM {
                    border: 1px solid $colorBlack;
                }
            }
            img {
                display:block;
            }
            
        }
    }
}

// Renk mobil seçim 
.ems-prdd-group {
    display: none;
    $p: 30px;
    &-sub {
        @extend %footer-mods-sub;
        padding: $padding20 $p $p $p;
    }
    .sub-close {
        right: -13px;
        top: -13px;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background: #eee;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
    }
    &-ready {
        //position: fixed;
        overflow: hidden;
        .ems-prdd-group,
        .ems-prdd-group-sub {
            @extend .display-flex;
            flex-direction: column-reverse;
        }
    }
    &-animate {
        .ems-group-overlay {
            @extend %footer-mods-sub-overlay;
        }
        .ems-prdd-group-sub {
            @extend %footer-mods-sub-animate;
        }
    }
}


//sizes
$m: 5px;
.dropdown-options {
    display: block !important;
    margin-left: -$m;
    margin-right: -$m;
    font-size: 0;
    overflow-x: hidden;
    max-height: 250px;
    > a {
        position: relative;
        width: 100%;
        float: left;
        clear: both;
        .dropdownrow {
            display: inline-block;
            min-width: 35px;
            padding-left: 5px;
            padding-right: 5px;
            line-height: 35px;
            border: 1px solid transparent;
            border-radius: 500px;
            font-size: 15px;
            font-family: $regular;
            text-align: center;
            margin: $m;
            height:35px;
            @extend .transition;
            &:hover {
                border-color: $gridRowBorder;
            }
        }
        &.selectedOption {
            .dropdownrow {border: 1px solid $colorBulltet;}
        }
        &.stokYok {
            pointer-events: none;
            .dropdownrow { 
                opacity: .5;
                &:before {
                    content:'Tükendi'; 
                    position: absolute;
                    right: 30px;
                }
            } 
        }
    }
}
.dropdown-trigger {
    display: none;
}

// Beden mobil seçim
.ems-prdd-size {
    display: none;
    $p: 30px;
    img {
        width: auto;
    }
    &-sub {
        @extend %footer-mods-sub;
        padding: $p;
    }
    .sub-close {
        right: -13px;
        top: -13px;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background: #eee;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
    }
    &-ready {
        //position: fixed;
        overflow: hidden;
        .ems-prdd-size,
        .ems-prdd-size-sub {
            @extend .display-flex;
            flex-direction: column-reverse;
        }
    }
    &-animate {
        .ems-size-overlay {
            @extend %footer-mods-sub-overlay;
        }
        .ems-prdd-size-sub {
            @extend %footer-mods-sub-animate;
        }
    }
}

// Beden Kılavuzu

.open-size-guide {
    display: none;
    margin-top: 10px;
    font-family: $regular;
    font-size: $fontSize13;
    margin-bottom: $margin20;
}

//add to cart
.urunDetay_urunAdet {
    display: none;
    .sStylerWrp_select {
        background:$greyBorderColor;
    }
    [id$="txtURN_ADET"],
    [id$="lblURN_ADET"] {
        display: none !important;
    }
}
.urunDetay_btnSepeteAt {
    //margin-top: $margin10;
}
a.btnsepeteAt {
    width: 100%;
}
a.btnStokHaberci {
    width: 100%;
    pointer-events: none;
}

//added to cart
.mini-product-info {
    display: none;
    $p: $padding15 $padding20 0 $padding20;
    &-holder {
        display: block;
    }
    &-sub {
        @extend %footer-mods-sub;
        padding: $p;
        top: 0; 
        bottom: auto;
        transform: translateY(-100%);
    }
    .sub-header {
        margin: #{-$p} #{-$p} #{$p};
    }
    .sub-close {
        right: 20px;
        top: 30px;
    }
    &-ready {
        .mini-product-info,
        .mini-product-info-sub {
            @extend %footer-mods-sub-ready;
        }
    }
    &-animate {
        .mini-product-info-overlay {
            @extend %footer-mods-sub-overlay;
        }
        .mini-product-info-sub {
            @extend %footer-mods-sub-animate;
        }
    }
}
.added-prd {
    grid-template-columns: 40px 15px 1fr 25px;  
    grid-template-rows: max-content 1fr; 
    grid-template-areas: "ga1 . ga2 ga3" "ga4 ga4 ga4 ga4";  
    @include setGridArea(1,4);
    align-items: center;
    .prm-media-holder {
        position: relative;
        svg {
            position: absolute;
            right: -5px;
            top: -5px;
            font-size: 18px;
            animation: animation-03 .5s ease;
        }
    }
    .prm-media {
        width: 40px;
    }
    .prm-title {
        font-size: $fontSize13;
        word-break: break-word;
        color: $colorGrey;
    }
    .prm-desc {
        font-family: $medium;
        font-size: 15px;
        margin-top: 10px;
    }
    .prm-btns {
        $m: 5px;
        margin-top: $margin10;
        border-top: 1px solid $greyBorderColor;
        > div {width: 100%; text-align: center;}
        span {
            font-size: 13px;
        }
        a {
            width: 100%;  
        }
    }
}
.suggest-prd {
    display: none;
    border-top: 1px solid $userIcoBg;
    margin-top: 20px;
    .prm-title {
        font-family: $medium;
        font-size: 15px;
        padding: 20px 0;
    }
}

// Mobil beden ve grup ürün button

.ems-prdd-toggle {
    height: 46px;
    margin-bottom: $margin20;
    a {
        text-align: left;
        padding: 14px 20px;
        font-family: $medium;
        position: relative;
        height: 46px;
        &:empty {
            display: none;
        }
        b {
            font-weight: normal;
        }
        span {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        &:before {
            content: '';
            @extend .base64-arrow-d;
            height: 24px;
            color: #000;
            display: inline-block;
            padding: 22px;
            text-align: center;
            background-size: 24px;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
    &-option {
        .dropdown-trigger {
            display: block;
        }
    }   
}

//size guide
.mini-size-guide {
    display: none;
    $p: 30px;
    &-sub {
        @extend %footer-mods-sub;
        padding: $p;
    }
    .sub-header {
        //margin: #{-$p} #{-$p} #{$p};
        font-family: $medium;
        font-size: $fontSize20;
        border: 0;
        padding: 0;
        margin-bottom: 40px;
    }
    .sub-desc {
        font-size: $fontSize15;
        line-height: 21px;
        color: $greyColor;
        margin: $margin20 0;
        @extend .display-flex;
        align-items: center;
        img {
            width: auto;
            margin-right: $margin5;
        }
    }
    .sub-close {
        right: -13px;
        top: -13px;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background: #eee;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
    }
    &-tab {
        margin-top: 20px;
    }
    .ems-tab-header {
        margin-bottom: 20px;
        height: 30px;
        border-bottom: 1px solid $userIcoBg;
        justify-content: flex-start;
        @extend .display-flex-desktop;
        li {
            border-bottom: 2px solid transparent;
            width: auto;
            text-align: center;
            span {
                padding: 0 $padding10;
            }
        }
        .selected {
            font-family: $medium;
            border-bottom: 2px solid $colorBlack;
        }
    }
    .ems-tab-content {
        max-height: calc(100vh - 250px);
        overflow: auto;
    }

    &-ready {
        .mini-size-guide,
        .mini-size-guide-sub {
            @extend %footer-mods-sub-ready;
        }
    }
    &-animate {
        .mini-size-guide-overlay {
            @extend %footer-mods-sub-overlay;
        }
        .mini-size-guide-sub {
            @extend %footer-mods-sub-animate;
            top:0;
        }
    }
    img {width: auto;}
}

.size-guide-table {
    + .size-guide-table {
        margin-top: 40px;
    }
}

//find in store
.ems-find-store {
    display: none;
    img {
        width: auto;
    }
    &-sub {
        @extend %footer-mods-sub;
        padding: 0;
        top: 0;
    }
    .mod-service-list-header {
        margin-bottom: 30px;
        background:$lightGreyColor;
        padding: $padding30 $padding20;
    }
    .dealer-form {
        .ems-field-css {
            margin: 0 7px;
            width: 100%;
        }
        .sStylerWrp_select .sStylerWrp {
            border-color: transparent;
            border-bottom-color: #aaa;
        }
        .mod-service-btn {
            display: none;
        }
    }
    .sub-header {
        //margin: #{-$p} #{-$p} #{$p};
        font-family: $medium;
        font-size: $fontSize13;
        border: 0;
        padding: 16px $padding20;
        margin-bottom: 0px;
    }
    .sub-desc {
        font-size: $fontSize15;
        line-height: 21px;
        color: $greyColor;
        margin: $margin20 0;
        @extend .display-flex;
        align-items: center;
        img {
            width: auto;
            margin-right: $margin5;
        }
    }
    .sub-close {
        right: 0;
        top: 0px;
        width: 46px;
        height: 46px;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
    }
    .dealer-form {
        .ems-field-css {
            margin-top: 0;
        }
    }
    #findStoreBtn {
        width: 100%;
        span {
            line-height: 16px;
        }
    }
    .ems-message {
        margin-top: 10px;
    }
    .dealer-no-stock {
        display: none;
    }

    .quantity {
        display: block;
        margin-top: 5px;
        color: $colorBulltet;
    }

    &.ems-no-result {
        .address-detail,
        .dealer-stock-information {
            display: none;
        }
        .dealer-no-stock {
            display: flex;
        }
    }

    &.ems-result-found {
        .service-list {
            display: block;
        }
    }

    &-ready {
        .ems-find-store,
        .ems-find-store-sub {
            @extend %footer-mods-sub-ready;
        }
    }
    &-animate {
        .ems-find-store-overlay {
            @extend %footer-mods-sub-overlay;
        }
        .ems-find-store-sub {
            @extend %footer-mods-sub-animate;
        }
    }
}

//ZOOM
.zoom-gallery {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    overflow: auto;
    background:$greyBorderColor;
    &-inner {
        height: 100%;
    }

    .zoom-gallery-header {
        position: relative;
        z-index: 2;
    }

    .thumbs-wrapper {
        display: none;
        position: absolute;
        left: calc((100% - 1040px) / 2);
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 318px;
        .swiper-slide {
            cursor: pointer;
            opacity: .25;
            &.active {
                opacity: 1;
            }
        }
    }

    .zoom-gallery-footer {
        display: none;
    }

    .swiper-pagination {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        &-bullet {
            width: 8px;
            height: 8px;
            border: 2px solid $colorWhite;
            background-color: $colorAlternate;
            margin: 0 $margin5;
            &-active {
                width: 8px;
                height: 8px;
                background: $greyColor;
                border-color: $greyColor;
            }

        }
    }
    
    &-ready {
        position: fixed;
        .zoom-gallery {
            display: block;
        }
    }
}

//primary properties
.prop-container {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $userIcoBg;    
}
.prop {
    font-family: $medium;
    font-size: 15px;
    color: $greyColor;
    padding: 0 3px;
    flex: none;
    width: calc(100% / 3);
    &-title {
        margin-top: 3px;
    }
}

//mini desc
.mini-desc {
    font-family: $medium;
    font-size: 15px;
    img {
        width: 30px;
    }
    .ci1 {
        img {
            width: 83px;
        }
    }
}

//featured prds
.featured-prds {
    padding-top: 40px;
} 