.ems-page-product-detail {
    padding-bottom: 0px;
    &-grid {
        grid-template-columns: minmax(100%, 1fr); 
        > div {
            grid-area: auto; 
        }
    }
}

.ems-prdd {
    &-grid { 
        position: relative;
        grid-template-columns: calc(100% - 515px) 70px 375px 70px; 
        grid-template-rows: max-content 1fr; 
        grid-template-areas: "ga1 . ga2 .";
        @include setGridArea(1,3);
        > .ga1 {
            padding: 0;
        }
        > .ga2 {
            position: relative;
            .ems-prdd-right {
                @extend .sticky-desktop; 
                top: 60px; 
            }
            > .ems-prdd-badge {display: none;}
        }
    }

    &-name {
        margin-bottom: $margin15;
        font-size: $fontSize20;
        font-family: $regular;
        position: static;
        padding-right: 40px;
        height: auto;
        display: block;
        width: 100%;
    }
    &-price {
        
    }
    &-code {
        &::before {
            content: '-';
            padding-left: 4px;
        }
    }
    &-gallery { 
        margin: 0;
        .swiper-wrapper { 
            //display: grid;  
            //grid-template-columns: 1fr;
            //grid-gap: 15px;
        }
        &:before {
            display:none;
        }
        .swiper-container {
            position: relative;
        }
        .swiper-slide {
            text-align: center; 
            width: 50%;
            margin-right: 15px;
        }
        video {width: 100% !important;}
        .swiper-pagination {
            right: 15px;
            bottom: -25px;
            left: auto;
            margin-top: 0;
            display: block;
            &-bullet {
                margin: 0 $margin5;
            }
        }
        .swiper-button-prev, .swiper-button-next {
            display: block;
            background: #fff;
            padding: 6px;
            width: 45px;
            height: 45px;
        }
        .swiper-button-prev {left:0;}
        .swiper-button-next {right:0;}
    }
    &-social {
        //display:none;
    }
    // Mobil beden ve grup ürün button
    &-toggle {
        display: none;
    }
    &-block2 {
        margin-top: 10px;
    }
    &-block3 {
        display: block;
        .ems-prdd-badge {
            display:block;
            &:before {
                font-family: $medium;
            }
        }
    }
    &-add-to-cart {
        position: static;
    }
}

// Kategori bazlı ürün bilgiis

.ems-prdd-info {
    margin-top: 30px;
}

.max-height-detect-detail { 
    .ems-prdd-grid > .ga2 .ems-prdd-right {position: relative !important; top: 0 !important;}
}

//other colors
.ems-prdd-group {
    display: block;
    position: static;
    &-sub {
        position: static;
        opacity: 1;
        display: block;
        transform: none;
        transition: none;
        padding: 0;
        background: none;
    }
    &-ready {
        .ems-prdd-size-sub {
            
        }
    }
    &-animate {
        .ems-prdd-size-sub {
            
        }
    }
}
.UrunListeGrup_listeUrunDetayGrup {
    ul {
        > li {
            width: 76px;
        }
    }
    .listeUrunDetayGrup_listeBaslik {
        margin-bottom: $margin10;
    }
}

//sizes
.urunDetay_urunSecenek {
    //min-height: 88px;
    //padding-right: 150px;
    &:empty {
        display: none;
    }
}
.dropdown-options {
    > a {
        line-height: 35px;
        float: none;
        &.stokYok {
            .dropdownrow {
                &:before {
                    display: none;
                }
            } 
        }
    }
}

//size guide
.ems-prdd-size {
    display: block;
    position: static;
    &-sub {
        position: static;
        opacity: 1;
        display: block;
        transform: none;
        transition: none;
        padding: 0;
        background: none;
    }
    &-ready {
        .ems-prdd-size-sub {
            
        }
    }
    &-animate {
        .ems-prdd-size-sub {
            
        }
    }
}

// Beden Kılavuzu

.open-size-guide {
    margin-top: 20px;
}

//add to cart
.urunDetay_urunAdet {
    /*position: absolute;
    right: 0;
    top: 5px;*/
    .sStylerWrp_select {
        /*line-height: 34px;
        height: 34px;*/
    }
}

//added to cart
.mini-product-info {
    $p: 30px;
    &-holder {
        display: none;
    }
    &-sub {
        @extend %header-mods-sub;
        max-width: 600px;
        padding: $p;
    }
    .sub-header {
        margin: #{-$p} #{-$p} #{$p};
    }
    &-ready {
        .mini-product-info-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        @extend %header-mods-animate;
        .mini-product-info-sub {
            @extend %header-mods-sub-animate;
        }
    }
}
.added-prd {
    grid-template-columns: 140px 30px 1fr;
    grid-template-areas: "ga1 . ga2";
    .prm-btns {
        margin-top: 30px;
    }
}
.suggest-prd {
    display: block;
}


//size guide

.mini-size-guide { 
    &-sub {
        @extend %header-mods-sub;
        max-width: 680px;
        padding: 30px 70px;
    }
    &-ready {
        overflow: visible;
        position: static;
        .mini-size-guide-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        @extend %header-mods-animate;
        .mini-size-guide-sub {
            @extend %header-mods-sub-animate;
        }
    }
}

//find in store
.ems-find-store {
    $p: 30px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 800px;
        padding: $p;
        top: 0;
    }
    .service-list {
        .servisIcerik {
            overflow-x: hidden;
            max-height: 400px;
            display: block;
            padding-right: 5px;
            &::-webkit-scrollbar {width:3px;}
            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb{-webkit-border-radius: 2px; border-radius: 2px;}
            &::-webkit-scrollbar-track {background-color:#d8d8d8;}
            &::-webkit-scrollbar-thumb {background-color:#202020;}
            &::-webkit-scrollbar-thumb:window-inactive {background-color:#202020;}
        }
        
    }
    .sub-header {
        font-size: $fontSize20;
        margin-bottom: 40px;
        padding: 0;
    }
    .sub-close {
        right: -13px;
        top: -13px;
        background: #eee;
        border-radius: 100%;
    }
    .mod-service-list-grid {
        max-height: calc(100vh - 150px);
        overflow: auto;
        grid-template-columns: 1fr 70px 1fr; 
        grid-template-areas: "ga1 ga1 ga1" "ga3 ga3 ga2";
        > .mod-service-list-header {
            grid-area: ga1;
            max-width: none;
        }
        > .address-detail {
            grid-area: ga2;
        }
        > .mod-service-list-body {
            grid-area: ga3;
        }
    }
    .mod-service-list-header {
        margin-bottom: 30px;
        background:none;
        padding: 0;
    }

    .dealer-form {
        padding-bottom: 0px !important;  
        .ems-field-css {
            width: calc((100% / 2) - 5px);
            margin-right: $margin10;
            flex: auto;
        }
        .mod-service-btn {
            display: block;
            margin: 0;
            width: calc((100% / 4) - 5px);
            .ems-form-obj {
                padding: 0;
            }
        }
        .sStylerWrp_select .sStylerWrp {
            border-color: #aaa; 
        }
        .display-flex {
            flex-wrap: nowrap;
            .ems-field {
                flex: auto; 
            } 
        }
    }
    #findStoreBtn {
        border: 0;
        background: #000;
        span {
            line-height: 16px;
            color: #fff;
        }
    }
    .mod-service-list-body {
        overflow: auto;
        margin: 0;
    }
    .ems-message {
        margin-top: 0;
        padding: 0 0 15px 0;
    }
    #Map.map {
        height: calc(100vh - 300px);
        max-height: 450px;
    }

    &.ems-no-result {
        .mod-service-list-grid {
            grid-template-areas: ". ga1 ga1 ga1 ." ". ga2 ga2 ga2 .";
        }
    }
    #Map.map {
        height: 100vh !important;
    }
    &-ready {
        overflow: visible;
        position: static;
        .ems-find-store-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        @extend %header-mods-animate;
        .ems-find-store-sub {
            @extend %header-mods-sub-animate;
        }
    }
}

// Favori

.ems-prdd-favorite {
    top:0;
    right: 0;
}

//ZOOM
.zoom-gallery {
    .thumbs-wrapper {
        display: none;
    }
    .swiper-pagination {
        //display: none;
    }
}

//featured prds
.featured-prds {
    padding-top: 60px;
}