.ems-page-product-detail {
    padding-bottom: 80px;
    &-grid {
        grid-template-columns: minmax(100%, 1fr); 
        > div {
            grid-area: auto; 
        }
    }
}

.ems-prdd {
    &-grid {
        position: relative;
        grid-template-columns: 1fr minmax(auto, 700px) 120px 420px 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: ". ga1 . ga2 .";
        @include setGridArea(1,3);
        > .ga1 {
            padding: 0;
        }
        > .ga2 {
            position: relative;
            .ems-prdd-right {
                @extend .sticky-desktop; 
                top: 60px; 
            }
        }
    }

    &-name {
        margin-bottom: $margin15;
        font-size: $fontSize20;
        font-family: $regular;
        position: static;
        padding-right: 40px;
        height: auto;
        display: block;
        width: 100%;
    }
    &-price {
        
    }
    &-gallery {
        margin: 0;
        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 15px;
        }

    }
    &-social {
        display:none;
    }
    // Mobil beden ve grup ürün button
    &-toggle {
        display: none;
    }
    &-block2 {
        margin-top: 10px;
    }
}

.max-height-detect-detail { 
    .ems-prdd-grid > .ga2 .ems-prdd-right {position: relative !important; top: 0 !important;}
}

//other colors
.ems-prdd-group {
    display: block;
    position: static;
    &-sub {
        position: static;
        opacity: 1;
        display: block;
        transform: none;
        transition: none;
        padding: 0;
        background: none;
    }
    &-ready {
        .ems-prdd-size-sub {
            
        }
    }
    &-animate {
        .ems-prdd-size-sub {
            
        }
    }
}
.UrunListeGrup_listeUrunDetayGrup {
    .listeUrunDetayGrup_listeBaslik {
        margin-bottom: $margin10;
    }
}

//sizes
.urunDetay_urunSecenek {
    //min-height: 88px;
    //padding-right: 150px;
    &:empty {
        display: none;
    }
    .urunDetay_urunSecenek1 {
        @extend .display-flex-desktop;
        .urunSecenek_baslik1 {
            display: block !important; 
            padding: 16px 0;
            font-size: $fontSize13;
            font-family: $regular;
            margin-right: $margin15;
        }
    }
}
.dropdown-options {
    > a {
        line-height: 35px;
        float: none;
        &.stokYok {
            .dropdownrow {
                text-decoration: line-through;
                &:before {
                    display: none;
                }
            } 
        }
    }
}

//size guide
.ems-prdd-size {
    display: block;
    position: static;
    &-sub {
        position: static;
        opacity: 1;
        display: block;
        transform: none;
        transition: none;
        padding: 0;
        background: none;
    }
    &-ready {
        .ems-prdd-size-sub {
            
        }
    }
    &-animate {
        .ems-prdd-size-sub {
            
        }
    }
}

//add to cart
.urunDetay_urunAdet {
    /*position: absolute;
    right: 0;
    top: 5px;*/
    .sStylerWrp_select {
        /*line-height: 34px;
        height: 34px;*/
    }
}

//added to cart
.mini-product-info {
    $p: 30px;
    &-holder {
        display: none;
    }
    &-sub {
        @extend %header-mods-sub;
        max-width: 600px;
        padding: $p;
    }
    .sub-header {
        margin: #{-$p} #{-$p} #{$p};
    }
    &-ready {
        .mini-product-info-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        @extend %header-mods-animate;
        .mini-product-info-sub {
            @extend %header-mods-sub-animate;
        }
    }
}
.added-prd {
    grid-template-columns: 140px 30px 1fr;
    grid-template-areas: "ga1 . ga2";
    .prm-btns {
        margin-top: 30px;
    }
}
.suggest-prd {
    display: block;
}

//size guide
.mini-size-guide {
    &-sub {
        @extend %header-mods-sub;
        max-width: 800px;
    }
    &-ready {
        overflow: visible;
        position: static;
        .mini-size-guide-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        @extend %header-mods-animate;
        .mini-size-guide-sub {
            @extend %header-mods-sub-animate;
        }
    }
}

//find in store
.ems-find-store {
    $p: 30px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 800px;
        padding: $p;
        top: 0;
    }
    .sub-header {
        font-size: $fontSize20;
        margin-bottom: 40px;
        padding: 0;
    }
    .sub-close {
        right: -13px;
        top: -13px;
        background: #eee;
        border-radius: 100%;
    }
    .mod-service-list-grid {
        max-height: calc(100vh - 150px);
        overflow: auto;
        grid-template-columns: 1fr 70px 1fr; 
        grid-template-areas: "ga1 ga1 ga1" "ga3 . ga2";
        > .mod-service-list-header {
            grid-area: ga1;
            max-width: none;
        }
        > .address-detail {
            grid-area: ga2;
        }
        > .mod-service-list-body {
            grid-area: ga3;
        }
    }
    .mod-service-list-header {
        margin-bottom: 30px;
        background:none;
        padding: 0;
    }
    .dealer-form {
        .ems-field-css {
            width: calc((100% / 3) - 5px);
            margin-right: $margin10;
        }
        .mod-service-btn {
            display: block;
            margin: 0;
            width: calc((100% / 3) - 5px);
        }
        .sStylerWrp_select .sStylerWrp {
            border-color: #aaa; 
        }
    }
    .mod-service-list-body {
        overflow: auto;
    }
    .ems-message {
        margin-top: 0;
    }
    #Map.map {
        height: calc(100vh - 300px);
        max-height: 450px;
    }

    &.ems-no-result {
        .mod-service-list-grid {
            grid-template-areas: ". ga1 ga1 ga1 ." ". ga2 ga2 ga2 .";
        }
    }

    &-ready {
        .ems-find-store-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        @extend %header-mods-animate;
        .ems-find-store-sub {
            @extend %header-mods-sub-animate;
        }
    }
}

// Favori

.ems-prdd-favorite {
    top:0;
}

//ZOOM
.zoom-gallery {
    .thumbs-wrapper {
        display: none;
    }
    .swiper-pagination {
        //display: none;
    }
}

//featured prds
.featured-prds {
    padding-top: 60px;
}