.d-sort{
    > .ga1{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: #f8f8f8;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 10px;
        transform: translateX(-100%);
        overflow-y: auto;
        transition: transform .2s ease, opacity .2s ease;
    }
}

/*Filtre*/
.pnlUrunKiyasSecim{
    display: none;
}
#pnlSecimiDarat{
    .kutuHeaderOzellikFiltre,
    .urunKiyaslamaOzellik_temizle{
        display: none;
    }
    .kutuBodyOzellikFiltre{
        > table{
            > tbody{
                > tr{
                    > td{
                        display: block;
                        &:empty{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .btnFilterApply{
        width: auto;
        min-width: 50%;
        background: #fff;
        padding-top: 16px;
        padding-bottom: 16px;
        //border-color: transparent;
        span{
            //color: #fff;
        }
    }
}
.urunKiyaslamaOzellik_ozellikAd{
    font-family:$medium;
    font-size:14px; 
    padding: 20px 10px;
    border-top: 1px solid #dddddd;
    position: relative;
    &:after{
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMDAwIiBkPSJNNyA5LjVsNS4wMDggNUwxNyA5LjUiLz4KPC9zdmc+Cg==);
        width:24px;
        height: 24px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg); 
        //display: none; 
    }
    &.kapali {
        &:after {
            transform: translateY(-50%) rotate(-90deg); 
        }
    }
}
.urunKiyaslamaOzellik_ozellikIcerik{
    display: none;
    padding: 10px 20px 30px 20px;
}
.urunKiyaslamaOzellik_ozellik{
    > a {
        display: inline-block;
        padding: 7px 10px 7px 25px;
        position: relative;
        &:after{
            content:'';
            display: block;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid #ddd;
            width: 14px;
            height: 14px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 0;
            background-size: 12px 12px;
            font-size: 12px;
        }
        &.link_selected{
            &:after{
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMTcuNjkgNy41MDVhLjczOC43MzggMCAwIDAtLjQyNy4yMDRsLTcuNjUgNy4xNjYtMi44NS0yLjY3YS43NS43NSAwIDAgMC0uNzEyLS4yMTEuNy43IDAgMCAwLS41My40OTIuNjQ5LjY0OSAwIDAgMCAuMjIxLjY2OGwzLjM2IDMuMTQ4YS43NDUuNzQ1IDAgMCAwIC41MS4xOTguNzQ1Ljc0NSAwIDAgMCAuNTEtLjE5OGw4LjE2LTcuNjQ0YS42NDQuNjQ0IDAgMCAwIC4xNDctLjc3Ni43MzIuNzMyIDAgMCAwLS43MzktLjM3N3oiLz48L3N2Zz4=);
            }
        }
    }
    &.colorFilter {
    .urunKiyaslamaOzellik_ozellik{ 
        > a {
                @extend .display-flex;
                align-items: center; 
                img {
                    width: 10px;
                    margin-right: 10px;
                } 
            }
        }
    }
}
.urunKiyaslamaOzellik_ozellikIcerik{
    ::-webkit-scrollbar {width:3px;}
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb{-webkit-border-radius: 1px; border-radius: 1px;}
    ::-webkit-scrollbar-track {background-color:#d8d8d8;}
    ::-webkit-scrollbar-thumb {background-color:#202020;}
    ::-webkit-scrollbar-thumb:window-inactive {background-color:#202020;}
    > table{
        width: 100%;
        display: block;
        max-height: 240px;
        overflow-x: hidden;    
        > tbody{
            display: table;
            width: 100%;
            > tr{
                display: table;
                table-layout: fixed;
                width: 100%;
                > td{
                    display: block;
                }
            }
        }
    }
}
a.urunKiyaslamaOzellik{
    font-size: 14px;
    font-family: $regular;
    display: block;
    &.link_selected{
        font-family: $medium;
    }
}
.kutuFooterOzellikFiltre{
    @extend .display-flex;
    @extend .align-items-center;
    @extend .justify-center;
    padding-top: 50px;
}
.urunKiyaslamaOzellik_tumunuTemizle{
    display: inline-block !important;
    width: auto;
    min-width: 50%;
    &:empty{
        display: none !important;
    }
    > a{
        padding: 11px 3px 11px 3px;
        display: block;
        margin-right: 20px;
        text-align: center;
    }
}
.drp-aftr{
    position: relative;
    cursor: pointer;
    padding:10px 40px 10px 10px;
    padding-right: 30px;
    display: block; 
    &:after{
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMDAwIiBkPSJNNyA5LjVsNS4wMDggNUwxNyA5LjUiLz4KPC9zdmc+Cg==);
        width:24px;
        height: 24px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%); 
        //display: none; 
    }
}
.views {
    justify-content: space-between;
    padding: 5px 15px;
    .drp-aftr{
        &:after{
            display: block;
        }
    }
    .urunKiyaslamaOzellik {
        margin: 13px 5px;
        display: inline-block;
        .icon {
            opacity: .4;
        }
        &.link_selected{
            .icon {
                opacity: 1;
            }   
        }
    }
}
/*Sort List*/
.ems-sort{
    .drp-aftr{
        font-family: $medium;
        font-size: 14px;
        padding: 20px 10px;
        border-top: 1px solid #dddddd;
    }
    &-body{
        transition: all 222ms ease;
        max-height: 0;
        overflow: hidden;
    }   
    .kutuBodyOzellikFiltre{
        padding: 10px 20px 30px 20px;
    }
    a.urunKiyaslamaOzellik{
        display: block;
        padding: 7px 10px 7px 25px;
        position: relative;
        &:after{
            content:'';
            display: block;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid #ddd;
            width: 14px;
            height: 14px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 0;
            background-size: 12px 12px;
            font-size: 12px;
        }
        &.link_selected{
            &:after{
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMTcuNjkgNy41MDVhLjczOC43MzggMCAwIDAtLjQyNy4yMDRsLTcuNjUgNy4xNjYtMi44NS0yLjY3YS43NS43NSAwIDAgMC0uNzEyLS4yMTEuNy43IDAgMCAwLS41My40OTIuNjQ5LjY0OSAwIDAgMCAuMjIxLjY2OGwzLjM2IDMuMTQ4YS43NDUuNzQ1IDAgMCAwIC41MS4xOTguNzQ1Ljc0NSAwIDAgMCAuNTEtLjE5OGw4LjE2LTcuNjQ0YS42NDQuNjQ0IDAgMCAwIC4xNDctLjc3Ni43MzIuNzMyIDAgMCAwLS43MzktLjM3N3oiLz48L3N2Zz4=);
            }
        }
    }
}

.kutuOzellikCount{
    position: relative;
    cursor: pointer;
    padding: 10px 40px 10px 10px;
    .btn-close{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 6px;
    }
    span.name{
        display: block;
        font-family: $medium;
        font-size: 14px;
    }
    .rslt-prd{
        display: block;
        font-size: 12px;
        color: #4a4a4a;
        margin-top: 20px;
        b{
            font-weight: normal;
        }
    }
}
/*Onceki sonraki kategori*/

.prd-list {
    &.no-result {
        .cat-redirect-links{
            display: none;
        }
    }
}  
.cat-redirect-links{
    > div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        width: 100%; 
        padding-left: 20px;
        padding-right: 20px;
        //min-height: 80px;
        > div{
            display: inline-block;
            vertical-align: middle;
            min-width: 50%;
            text-align: center;
            position: relative;
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 40px;
            flex: 1;
            &:empty{
                display: none;
            }
            > span{
                > a{
                    display: block;
                    padding: 5px 0;
                    font-size: 15px;
                }
            }
            > span[id$="lblONCEKIKATEGORIUST"] > a,
            > span[id$="lblSONRAKIKATEGORIUST"] > a{
                font-family: $regular;
            }
            > span[id$="lblONCEKIKATEGORI"] > a,
            > span[id$="lblSONRAKIKATEGORI"] > a{
                font-family: $medium;
            }
            &:nth-child(1):before,
            &:nth-child(2):before{
                content: '';
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMDAwIiBkPSJNNyA5LjVsNS4wMDggNUwxNyA5LjUiLz4KPC9zdmc+Cg==);
                width:24px;
                height: 24px;
                position: absolute;
                top: 50%;
                margin-top: -12px;
            }
            &:nth-child(1){
                &:before{
                    left: 0;
                    transform: rotate(90deg);
                }
            }
            &:nth-child(2){
                border-left: 1px solid #d8d8d8;
                &:before{
                    right: 0;
                    transform: rotate(-90deg);
                }
            }
            &.lft:empty ~ .rgh {
                border: 0;
            }
        }
    }
}

/*Animation*/

.ems-sort-title {
    .drp-aftr {
        &:after {
            display: inline-block;
            transform: translateY(-50%) rotate(-90deg); 
            right: 10px; 
        }
    }
}

.sort-animate{
    .ems-sort-body{
        max-height: 160px;
        overflow: visible;
    }
    .ems-sort .drp-aftr:after{
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwb2x5Z29uIHBvaW50cz0iMTYuNjQ2LDE0Ljg1NCAxMS45OTMsMTAuMjA3IDcuMzU0LDE0Ljg1NCA2LjY0NiwxNC4xNDYgMTEuOTkyLDguNzkzIDE3LjM1NCwxNC4xNDYgCSIvPg0KPC9nPg0KPC9zdmc+DQo=);
        transform: translateY(-50%) rotate(180deg);  
    } 
}

.ems-filter-ready{
    .d-sort > .ga1{
        display: block;
    }
}
.ems-filter-animate{
    overflow: hidden;
    .d-sort > .ga1{
        transform: translateX(0);
    }
}