.page-list{
    grid-template-columns:minmax(0, 20px) minmax(0, 1fr) minmax(0, 20px);
    grid-template-areas:"BBB BBB BBB" "AAA AAA AAA" ". CCC ." "DDD DDD DDD";
    grid-template-rows: minmax(0,auto);
    padding-bottom: 0px;
    
    //filtre kapsayıcı
    > .ga1{
        //background: $lightGreyColor;
        padding: 0 30px;
        position: relative;
        .filter-logo {
            display: inline-block;
            position: absolute;
            left: 30px;
            top: 15px;
            opacity: 0;
            @extend .transition-desktop; 
        }
    }
    > .ga3{
        margin-top: 35px;
    }
    //filtre siralama
    .d-sort{
        grid-template-columns: minmax(0,1fr) minmax(0,120px) minmax(0,40px);
        grid-template-areas:"AAA BBB CCC";
        align-items: center;
        padding:20px 0;
        /*.display-grid{
            //grid-template-columns: 2fr 1fr 1fr;    
            grid-template-columns: 2fr 1fr;
        }*/
    }
}

.ems-prd-list-stock {
    display: none;
    label {
        font-size: 0;
    }
    .stkLabel {font-size: 14px;}
    .checkbox {
        @extend .d-flex;
        align-items: center;
    }
}

body.sticky-header-ready {
    .page-list{
        > .ga1{
            //padding: 0 80px 0 30px;
            //@extend .transition-desktop;
            .filter-logo {
                opacity: 1;
            }
        }
    }
}

/*Seo metinleri*/
.seo-text{
    max-width: 550px;
    padding-top: 0;
}
/*Desktop hiddenelement*/
.d-hdn{
    display: inherit;
}