.page-list{
    grid-template-columns:minmax(0,20px) minmax(150px,150px) minmax(0,1fr) minmax(0,20px);
    grid-template-areas:"AAA AAA AAA AAA" ". BBB CCC ." ". BBB CCC .";
    grid-template-rows: minmax(0,auto);
    padding-bottom: 100px;
    
    //filtre kapsayıcı
    > .ga1{
        background: $lightGreyColor;
        padding: 0 30px;
        position: relative;
    }
    > .ga2,
    > .ga3{
        margin-top: 35px;
    }
    //filtre siralama
    .d-sort{
        grid-template-columns: minmax(0,210px) minmax(0,80px);
        grid-template-areas:"AAA BBB";
        align-items: center;
        .display-grid{
            grid-template-columns: 50% 50%;
        }
    }
}

/*Seo metinleri*/
.seo-text{
    max-width: 550px;
    padding-top: 0;
}
/*Desktop hiddenelement*/
.d-hdn{
    display: inherit;
}