.urnList .emosInfinite {
    margin-left: 30px;
    margin-right: 30px;
}

/*Urun karti*/
.prd{
    width: calc(50% - 15px);
    &-body{
        //min-height: 110px;
        padding: $padding10 0 0 0;  
    }
}

.prd-list {
    padding: 0;
    overflow-x: visible; 
    margin-bottom: 30px;
    .urnList .emosInfinite {
        width: 100%;
        margin-left: 30px;
    }
    .prd{
        &-inner {
            padding: 0 12px;
        }
        &-body {
            padding: $padding10 0 0 0; 
        }
        &.double {
            .prd-inner {
                padding: 0 12px;
            } 
        }
        .prd-image {
            &-org { 
                overflow: hidden;
                img {
                    -webkit-transition: -moz-transform .3s ease-in-out; 
                    -moz-transition: -webkit-transform .3s ease-in-out; 
                    transition: transform .3s ease-in-out;
                    transform: scale(1);
                    opacity: 0;
                }
            }
            &-big { 
                overflow: hidden;
                img {
                    -webkit-transition: -moz-transform .3s ease-in-out; 
                    -moz-transition: -webkit-transform .3s ease-in-out; 
                    transition: transform .3s ease-in-out;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        //opacity: 0;
        &:hover {
            .prd-image {
                &-org, &-big {
                    img {
                        transform: scale(1.03); 
                    }
                }
            }
        }
    }
}

/*View type*/
.view-1,
.view-2,
.view-3{
    .prd{
        width: 50% !important; 
        &.double {
            width: calc(100% - 0px) !important; 
        }  
    }  
}

.view-2{
    a[rel="view-2"] {display:none} 
}

.view-3{ 
    .prd{
        width: calc(33.333% - 0px) !important;
        &.double {
            width: calc(67.777% - 22px) !important; 
        }  
    }   
    a[rel="view-3"] {display:none} 
}
//Urun adi
.prd-name{
    flex-wrap: nowrap;
    > a{
        font-size:$brandNameFontSize;
        color: $productNameClrD;
    }
    .urunListe_urunStokUyari {
        flex: 0;
    }
}
.prd-price{
    .urunListe_brutFiyat,
    .urunListe_satisFiyat,
    .urunListe_pnlIndirimOran{
        font-size: $fontSize14;
    }
}
.prdd-fvr{
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: opacity .2s ease;
}
.prd:hover{
    .prdd-fvr{
        opacity: 1;
    }   
}
.urunPaging_pageNavigation{
    justify-content: flex-center;
    a.tumunuGoster{
        display: inline-block !important;
        &:before{
            content:'';
            width: 1px;
            height: 14px;
            background: #9b9b9b;
            display: inline-block;
            vertical-align: top;
            margin: 1px 20px 1px 20px;
        }
    }
}

.kutuBodyKategori {
    padding: 0;
}

.kutuKategori {
    width: calc(100% - 160px);
    float: right;
}

// Kategori Bilgisi

.category-info {
    margin-bottom: 30px;
    .banner {
        .banner-body {
            padding:20px 100px;
        }
    }

}