.urnList .emosInfinite {
    margin-left: 30px;
    margin-right: 30px;
}
/*Urun karti*/
.prd{
    width: calc(50% - 15px);
    &-body{
        min-height: 110px;
    }
}

.prd-list {
    padding: 0;
    .prd{
        .prd-image {
            &-org { 
                overflow: hidden;
                img {
                    -webkit-transition: -moz-transform .3s ease-in-out; 
                    -moz-transition: -webkit-transform .3s ease-in-out; 
                    transition: transform .3s ease-in-out;
                    transform: scale(1);
                    opacity: 0;
                }
            }
            &-big { 
                overflow: hidden;
                img {
                    -webkit-transition: -moz-transform .3s ease-in-out; 
                    -moz-transition: -webkit-transform .3s ease-in-out; 
                    transition: transform .3s ease-in-out;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        //opacity: 0;
        &:hover {
            .prd-image {
                &-org, &-big {
                    img {
                        transform: scale(1.03); 
                    }
                }
            }
        }
    }
}

/*View type*/
.view-1,
.view-2,
.view-3{
    .prd{
        width: 50% !important; 
        &.double {
            width: calc(100% - 0px) !important; 
        }  
    }  
}
.view-4{
    .prd{
        width: calc(25% - 10px) !important;
        &.double {
            width: calc(50% - 22px) !important; 
        }  
    }    
}
//Urun adi
.prd-name{
    > a{
        font-size:$brandNameFontSize;
        color: $productNameClrD;
    }
}
.prd-price{
    .urunListe_brutFiyat,
    .urunListe_satisFiyat,
    .urunListe_pnlIndirimOran{
        font-size: $fontSize13;
    }
}
.prdd-fvr{
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: opacity .2s ease;
}
.prd:hover{
    .prdd-fvr{
        opacity: 1;
    }   
}
.urunPaging_pageNavigation{
    justify-content: flex-end;
    a.tumunuGoster{
        display: inline-block !important;
        &:before{
            content:'';
            width: 1px;
            height: 14px;
            background: #9b9b9b;
            display: inline-block;
            vertical-align: top;
            margin: 1px 20px 1px 20px;
        }
    }
}