//Urun karti
.urnList .emosInfinite {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.prd{
    width: 100%;
    margin-bottom: 30px;
    &-badge {
        position: relative;
        .urunListe_yeniUrun {
            display: block !important; 
        }
        &:before {
            font-family: "medium";
            font-size: 13px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            width: 100%;
            height: 100%;
            @extend .display-flex;
            align-items: center;
        }
    }
    // Ürün tipi gelen iconlar
    &.spr7 {
        .prd-badge {
            &:before {
                content: 'Özel Koleksiyon';
                z-index: 1;
            }
        }
    }
    &.spr4 {
        width: calc(100% - 0px) !important; 
        .prd-image {
            > a {
                @include aspect-ratio(956, 629);  
                img {height: 100%;}
            }
        }
        .prd-body {
            text-align: center;
        }
        .prd-price {
            justify-content: center; 
            .first-inner {
                justify-content: center;
            }
        }
        .prd-badge {
            &:before {
                justify-content: center;
            }
        }
    }
}
.view-1{
    .prd{
        width: 100%;
        &.spr4 {
            width: calc(100% - 0px) !important; 
        } 
    }    
}
.view-3{
    .prd{
        width: calc(50% - 2px);
        &.spr4 {
            width: calc(100% - 0px) !important; 
        } 
    }    
}
//Urun resmi
.prd-image{
    background: #d8d8d8;
    position: relative;
    width: 100%;
    > a{
        width: 100%;
        height: 100%;
        z-index: 1;
        @include aspect-ratio(276, 368);
        display: block;
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}



.prd-body {
    padding: $padding10 0 0 0; 
}
//Urun adi
.prd-name{
    line-height: $productCardLineHeight;
    > a{
        display: inline-block;
        margin-bottom: 5px;
        color: $productNameClrM;
        font-size:12px;
    }
}
.prdd-fvr{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.urunListe_favoriEkle{
    display: block !important;
    /*.btnFavoriEkle{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTIgMTcuMTA0TDYuMTIyIDIxLjA5bDEuOTc1LTYuODIyTDIuNDg5IDkuOTFsNy4wOTktLjIzTDEyIDNsMi40MTIgNi42OCA3LjA5OS4yMy01LjYwOCA0LjM1OCAxLjk3NSA2LjgyMnoiLz4KPC9zdmc+Cg==");
        width: 17px;
        height: 17px;
        background-size: 17px;
        span{display: none;}
        &.selected {
        
        }
    }*/
    svg {
        font-size: 18px;
    }
    .icon-favori-fill {display: none;}
    .btnFavoriEkle {
        &.selected {
            .icon-favori-fill {display: inline-block;}
            .icon-favori {display: none;}
        }
    }
}
.prd-price {
    min-height: 40px;
    .first-inner{
        flex-wrap: wrap;
        min-height: 40px;
    }
    .urunListe_brutFiyat,
    .urunListe_satisFiyat,
    .urunListe_pnlIndirimOran{
        font-family: $regular;
        font-size: $fontSize12;
    }
    .urunListe_brutFiyat{
        color: $colorRed;
        text-decoration: $linkLineThrough;
    }
    .urunListe_satisFiyat{
        color: $colorDefault;
        padding-right: 10px;
    }
    .urunListe_pnlIndirimOran{
        width: $fullWidth;
        display: block !important;
        margin: 0;
        > *{
            display: block;
            color: $colorRed;
            margin-top: 5px;
        }
        .amount {
            display: none;  
        }
    }
}
.urunListe_adet{
    display: none;
}
.prd-add-to-cart {
    table{
        a.btnDefault{
            @extend .btnAlternate;
            margin-top: 10px;
        }
    }
}

// List Scroll

.page-list {
    .go-page-top {
        margin-top: $margin30;
        a {
            position: static;
            opacity: 1;
            margin: 0 auto;
            background: #f2f2f2;
            svg {
                transform: rotate(-90deg);
            }
        }
    }
}

.prd-list {
    padding: 0 15px;
}

/*Kategori*/
.kutuHeaderKategori,
.kutuFooterKategori{display: none;}

.kutuBodyKategori{
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
}
.menuKategori{
    li{
        position: relative;
        > b{
            display: none;
        }
        a{
            display: block;
            position: relative;
        }
        &.sub-items {
            > b{
                display: inline-block;
                @extend .base64-plus;
                width:20px;
                height: 20px; 
                position: absolute;
                right: 0px;
                top: 1px;
                z-index: 1;
                opacity: 0;
                cursor: pointer;
                background-size: 20px;
                @extend .transition;
            }
            &.opened {
                > b {
                    @extend .base64-minus;
                    background-size: 20px;
                    opacity: 1 !important;
                }
            }
        }
        &:hover {
            &.sub-items {
                > b{
                    opacity: 1;
                }
            }
        }
    }
    li.s1{
        margin-bottom: $margin30;
        > a{
            font-size: 16px;
            padding: 5px 10px 5px 10px;
            float: left;
        }
        > b{
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMDAwIiBkPSJNNyA5LjVsNS4wMDggNUwxNyA5LjUiLz4KPC9zdmc+Cg==) !important;
            width:24px; 
            height: 24px;
            position: relative;
            right: 0;
            top: 2px;
            z-index: 1;
            cursor: pointer;
        }
        > ul{
            width: 100%;
            display: inline-block !important;
            transition: none !important;
            margin: 0 !important;
            padding: 0 !important;
            height: auto !important;
            margin-top: 25px !important;
        }
    }
    li.s2{
        > a{
            font-family: $medium;
            font-size: 13px;
        }
        ul {
            display: none;
            margin: $margin10 0;
            text-indent: 10px; 
        }
    }
    li.s2,
    li.s3{
        a{
            padding: 5px 5px 5px 10px;
            &:before{
                content:'';
                width:5px;
                height:5px;
                background: #000;
                border-radius: 100%;
                transition: all 222ms ease-in;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -3px;
                display: block;
            }
            &:hover, &.active{
                &:before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
/*Paging*/
.urunPaging {
    table{
        tbody{
            tr{
                td{
                    width: auto !important;
                }
                td:first-child,
                td:last-child{
                    display: none;
                }
            }
        }
    }
}
.urunPaging_pageNavigation{
    @extend .display-flex;
    @extend .justify-center;
    @extend .align-items-center;
    > span{
        @extend .display-flex;
        @extend .align-items-center;
        max-width: 150px; 
        overflow: hidden; 
        span, a {
            min-width: 30px;
        }
    }
    span.paging,
    a.paging{ 
        padding:6px 10px;
        @extend .display-flex;
        &:before {
            width: 20px;
            height: 20px;
            display: inline-block;
            padding: 0;
            text-align: center;
            background-size: 20px;
        }
        &[id$="lnkPrev"]:before {
            content:'';
            @extend .base64-arrow-l;
            
        }
        &[id$="lnkNext"] {
            padding: 6px 0 6px 10px;
            &:before {
                content:'...'; 
                font-size: $fontSize16; 
            }
        }
        span {
            display: none;
        }
    }
    a.paging{
        color: #4a4a4a;
    }
    span.paging{
        font-family: $medium;
        color: $colorBlack;
    }
    a.tumunuGoster{
        span{
            font-size: 15px;
            color: #4a4a4a;
        }
    }
}