//Marka adi değiskenleri
$brandNameFontSize:12px;
$brandNameColor:#696b71;
$productNameClrM: #888888;
$productNameClrD: #666666;

//Urun karti objeler icin genel line height
$productCardLineHeight:18px;