//Sepet sayfası genel site header gizleme
.order-steps{
    .site-header{
        @extend .none;
    }
    .header-logo{
        img{
            width: auto;
        }
    }
}

//Sepet sayfası header ızgara
.header-basket{
    background: $colorWhite;
    //header sticky top degerleri ve z-index
    top: 0;
    z-index: 10;
    //logo
    .logo{
        @extend .order-1;
    }
    //Üye login yönlendirme
    .member{
        @extend .order-2;
    }
    //Üye login mobile geri butonu
    .back-arrow{
        margin-right: $basketArrowBackSpacing;
    }
}

//Sepet header üye text
.member-login-txt{
    font-family: $regular;
}