//Sepet sayfası genel site header gizleme
.order-steps{
    .site-header{
        @extend .none;
    }
    .header-logo{
        img{
            width: auto;
            max-width: 150px;
        }
        .mobilePageBasketTitle {
            display: inline-block;
        }
    }
    .go-cart {
        margin-right: 15px;
        position: absolute;
        right: 10px;
        b {
            font-weight: normal;
            margin-left: 3px;
        }
    }
}

//Sepet sayfası header ızgara
.header-basket{
    background: $colorWhite;
    //header sticky top degerleri ve z-index
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #e9e9e9;
    &-wrp {
        min-height: 47px;
    }
    //logo
    .logo{
        @extend .order-1;
        width: 100%;
    }
    //Üye login yönlendirme
    .member{
        @extend .order-2;
    }
    //Üye login mobile geri butonu
    .back-arrow{
        margin-right: $basketArrowBackSpacing; 
        position: absolute;
        left: 10px;
        svg {
            font-size: 32px;
        }
    }
}

//Sepet header üye text
.basket-member {
    position: relative;
    z-index: 1;
}
.member-login-txt{
    font-family: $regular;
    i {
        font-size: 32px;
    }
}