//Sepet sayfası genel site header gizleme
.order-steps{
    .site-header{
        @extend .none;
    }
    .header-logo{
        img{
            width: auto;
            display: none;
        }
        .mobilePageBasketTitle {
            display: inline-block;
        }
    }
}

//Sepet sayfası header ızgara
.header-basket{
    background: $colorWhite;
    //header sticky top degerleri ve z-index
    top: 0;
    z-index: 10;
    &-wrp {
        min-height: 47px;
    }
    //logo
    .logo{
        @extend .order-1;
        width: 100%;
    }
    //Üye login yönlendirme
    .member{
        @extend .order-2;
    }
    //Üye login mobile geri butonu
    .back-arrow{
        margin-right: $basketArrowBackSpacing;
        position: absolute;
        left: 10px;
        svg {
            font-size: 32px;
        }
    }
}

//Sepet header üye text
.member-login-txt{
    font-family: $regular;
}