.page-basket{
    //Sepet sayfası ust bosluk
    &-inner{
        padding: 0;
    }
}

//Sepet adimlari üst basliklari
.title-middle{
    font-family: $medium;
    font-size: 14px; 
    //Bos ise gizleniyor
    &:empty{
        display: none;
    }
}
//Sepet adimlari spet ozel üst baslik
.title-middle-basket{
    padding: $orderGridTitlePdng;
}

//Siparis adimlarindaki opsiyonel kontroller
.page-basket-other{
    //Siparis adimlari icin gizlenecek alanlari belirleyen class
    .optionally-hidden{
        display: none !important; 
    }
    //Sepet ilk adımdaki grid siparis adımlarında eziliyor
    .basket-grid{
        display: block;
    }
}
//Mobile sabit margin boslukari
.m-left-15-to-0{
    margin-left: 15px;
}
.m-right-15-to-0{
    margin-right: 15px;
}
//webkit scroll class
.scroll-webkit{
    ::-webkit-scrollbar {width:3px;}
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb{-webkit-border-radius: 2px; border-radius: 2px;}
    ::-webkit-scrollbar-track {background-color:#d8d8d8;}
    ::-webkit-scrollbar-thumb {background-color:#202020;}
    ::-webkit-scrollbar-thumb:window-inactive {background-color:#202020;}
}
//Sepet bos duzenlemesi
.basket-none{
    .page-basket-0{
        .rw1,
        .ga2,
        .ga1 .grid-table-wrap,
        .basket-buttons {display: none;}

        .ga1{
            background: #fff;
            padding:50px 10px;
            text-align: center;
        }
    }
}
.basket-null{
    > span{
        font-family: $medium;
        font-size:20px;
        display: block;
        max-width: 400px;
        margin: 0 auto 50px auto; 
        animation: text 1s .5s;
        opacity: 0;
        animation-fill-mode: both;
    }
    svg {
        font-size: 60px;
        margin-bottom: 50px;
        animation: jackInTheBox 1s .5s;
        transform: scale(0.85);
        animation-fill-mode: both;
    }
    a {
        display: inline-block;
        max-width: 300px;
    }
}

// Empty Basket 

.basket-empty .page-basket-0 .ga2 {
    //display: none;  
}

/*.basket-empty {
    .page-basket-0 .basket-grid {
        grid-template-columns: minmax(0, 100%);
        grid-template-areas:
            "AAA"
            "CCC";
        padding: 50px 0; 
        text-align: center;
    }
}*/

.basket-grid-2 {
    .page-top-title {
        border-bottom:1px solid #eee;
        padding: 15px 0; 
        font-family: $medium;
        margin-top: 0px;
        width: 100%;
        /*span {display:none;}*/
    }
}
