.page-basket{
    //Sepet sayfası ust bosluk
    &-inner{
        padding-top: $basketPageTopSpaceDt;
        max-width: 1240px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

//Sepet sayfası desktop yerlesim izgrasi
.page-basket-0, .page-basket-other{
    //Sepet ilk adım grid ızgarasi
    .basket-grid {
        grid-template-columns: minmax(0,33.333%) minmax(0,33.333%) minmax(0,33.333%);
        grid-template-areas:"AAA AAA BBB" "CCC CCC CCC";
        margin-bottom: 40px; 
        padding-bottom: 100px;  
    }
    //Sepet urunler sağ padding boslugu
    .ga1{
        padding-right: $basketPageRightPadding;
    }
    //Sepet ozet sol padding boslugu
    .ga2{
        padding-top: 40px;
        padding-left: $basketPageLeftPadding;
    }
}

.page-basket-other{
    .basket-grid {
        margin-bottom: 0;
        padding-bottom: 0;
        .ga2{
            padding: 0;
            margin: 0;
        }
    }
}

//teslimat ve odeme adimlari sayfa izgarasi
.basket-grid-2{
    grid-template-columns: minmax(0, 33.333%) minmax(0, 33.333%) minmax(0, 33.333%);
    grid-template-areas: "AAA AAA BBB"; 
    padding-bottom: 100px;
    
    //Sepet sonraki adimlar icin sol kolon bosluk
    > .ga1{
        padding-right: $deliveryPageLeftPadding;
    }
    .page-top-title {
        //margin-top: 30px;
        span {
            display: block;
        }
    }
}


//Teslimat siparis ozet
.order-delivery{
    > .ga2{
        .next {
            padding-left:20px;
            padding-right:20px;
        }
        .block2{
            border-radius: 0 0 4px 4px;
            padding-bottom:20px;
            background: $colorWhite;
        }
    }
}
//Desktop sabit margin boslukari
.m-left-15-to-0{
    margin-left: 0;
}
.m-right-15-to-0{
    margin-right: 0;
}

//Sepet bos duzenlemesi
.basket-none{
    .page-basket-0{
        .basket-grid{
            grid-template-columns:minmax(0,3%) 1fr minmax(0,3%);
            grid-template-areas: ". AAA .";
        }
        .ga1{
            padding: 30px;
        }
    }
}


// Empty Basket 

.basket-empty {
    .page-basket-0 .basket-grid {
        padding: 150px 0;
    }
}