//Siparis ozet ızgara
.order-summary{
    background: $orderSummaryBg;
    margin-top: $orderSummaryMbTopSpc;

    //Siparis ozet baslik
    .mn-20 > span{
        display: block;
        font-family: $regular;
        font-size: $orderSummaryTitle;
        margin-bottom: $orderSummaryTitleBottomSpace;
        padding-bottom: $orderSummaryTitleBottomSpacePdg;
        border-bottom: 1px solid #d8d8d8;
    }
    //Siparis ozet alt elementler icin alt alta siralama
    &-wrapper{
        flex-wrap: wrap;
        > *{
            width: 100%;
        }
    }
    //Sepet satin alma avantaj ikonları
    &-benefit{
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 10px;
        li{
            width: 50%;
            text-align: $alignCenter;
            margin-bottom: $basketBenefitMarginBottom;
            .icon{
                margin-bottom: $basketBenefitIconMarginBottom;
            }
        }
    }
    //Siparis ozet yardim
    &-help{
        border: 1px solid $basketHelpBorderColor;
        padding: $basketHelpPadding;

        //Siparis ozet yardim footer metin renk deseni
        *{
            color: $colorAlternate;
        }
        //Siparis ozet yardim header
        .help-header{
            > span{
                font-size: $fontSize16;
                font-family: $medium;
            }
        }
        //Siparis ozet yardim footer
        .help-footer{
            //Yardım linkleri renk deseni
            *{
                font-size: $fontSize14;
            }
            > p, > a{
                //Yardım metin ve link ust bosluklari
                margin-top: 10px;
            }
            > a{
                display: inline-block;
            }
        }
    }
    //Kupon kodu
    .cart-coupon {
        //Label ust bosluk
        .coupon-lbl{
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMDAwIiBkPSJNNyA5LjVsNS4wMDggNUwxNyA5LjUiLz4KPC9zdmc+Cg==");
            background-repeat: no-repeat;
            background-position: center right;
            border-top: 1px solid #d8d8d8;
            margin-top: $couponLblTopSpc;
            padding-top: $couponLblTopSpcPdg;
            padding-right: 40px;
            width: 100%;
            min-height: 24px;
            cursor: pointer;
            flex-wrap: wrap;
            //Label
            .tt1,
            .tt2{
                font-size: 13px;
            }
            .tt1{
                font-family: $medium;
                letter-spacing: 0.28px;
                line-height: 1;
            }
        }
        //Kupon kodu il gorunum de gizleniyor
        .coupon-enter{
            display: none;
        }
        .form-label{
            //Bos ise gizleniyor
            &:empty{
                @extend .none;
            }
            //Ikon icin sagdan bosluk
            .icon{
                margin-right: 3px;
                cursor: pointer;
            }
        }
        //Kupon label metni icin font
        .form-label span{
            font-family: $regular;
            width: 100%;
        }
        //Kupon kodu gönderme butonu ozellestime
        .form-obj {
            //Global den gelen margin resetleniyor
            margin-bottom: 0;

            //Ust bosluk ayari
            margin-top: $couponInputTopSpc;
            //Inputun varsayılan ayarlari
            input{
                width: $couponInputWidth;
                max-width: $couponInputMaxWidth;
            }   
        }

    }
    //Kupon iptal metni icin ozellestirme
    .coupon-cancel{
        > span {
            color: $colorAlternate;
            line-height: $gridLineHghtDefault;
        }
    }
    //Kupon kodu aktif ediliyor
    &.opened{
        .coupon-lbl{
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwb2x5Z29uIHBvaW50cz0iMTYuNjQ2LDE0Ljg1NCAxMS45OTMsMTAuMjA3IDcuMzU0LDE0Ljg1NCA2LjY0NiwxNC4xNDYgMTEuOTkyLDguNzkzIDE3LjM1NCwxNC4xNDYgCSIvPg0KPC9nPg0KPC9zdmc+DQo=");
        }
        .cart-coupon {
            .coupon-enter{
                display: block;
            }
            table tr th{
                vertical-align: middle;
            }
        }
    }
    //Kupon kodu gelmis ise label gizleniyor
    &.hidden{
        .coupon-lbl{
            display: none;
        }
    }
    span[id$="lblHCK_HATA"]{
        &:empty{display: none;}
        padding: 10px;
        display: block;
        font-size: $fontSize12;
        color: $colorAlternate;
    }
}

//Sepet satin al butonlari mobile
.basket-grid .next,
.basket-grid-2 .next {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 5px;
    background: $colorWhite;
    > a.btnDefault{
        min-width: calc(50% - 5px);
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}

//Siparis ozet tablo ızgara
.pnlDipToplamTable{
    > tbody{
        > tr{
            //Siparis ozet tablo satırlar icin alt bosluk ve ozellestirme
            display: table;
            width: $fullWidth;
            margin-bottom: $orderSummaryRowBottomSpace;

            //Siparis ozet tablo > metin ozellestirme
            > th, > td{
                font-size: $orderSummaryTableFontSize;
                font-family: $regular;
                font-weight: normal;
            }
            //Th sola hilalı
            > th{
                text-align: $alignLeft;
            }
            //Td sağa hizalı
            > td{
                text-align: $alignRight;
            }
            //toplam tutar metin ozellestirme
            &.pnlDipToplam_sipToplam{
                > td{
                    font-size: 16px;
                    font-family: $medium;
                }   
            }
            /*Siparis ozet indirim satırı renk ozellestirme -- Opsiyonel
            &.pnlDipToplam_indirimToplam{
                > th, > td{
                    color: $colorRed;
                }
            }*/
            //Siparis ozet gizlenen satırlar
            &.pnlDipToplam_indirimliAraToplam,
            &.pnlDipToplam_kargoHaricToplam,
            &.pnlDipToplam_kulBankaBonus,
            &.pnlDipToplam_bankaKomisyon{
                @extend .none;
            }
        }
    }   
}

//Odeme sayfasi hesap ozeti
.order-payment{
    .order-summary{
        padding-bottom: $orderSummaryPadding;
    }
}

//Odeme sayfasi satin al buton
.basket-grid-2{
    .next-3{
        position: relative;
        z-index: inherit;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        > a.btnDefault{
            min-width: 100%;
            margin-left: 0;
            margin-right: 0;
            &:nth-child(3){
                margin-top: 10px;
            }
        }   
    }
}