//Siparis adımları
.basket-steps {
    //background: #f6f6f6;
    padding: $padding20 0; 
    margin-bottom: 25px; 
    border-bottom: 1px solid #e9e9e9;
}
.tabloTabBtnAdim{
    > tbody > tr > td{
        @extend .display-flex; 
        width: $fullWidth;
        //margin-top: $step-top-spacing;
        //margin-bottom: $step-bottom-spacing;
    }
    .tabBtnAdimDefault,
    .tabBtnSelectedDefault{
        width: 33.333%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        > a{
            display: inline-block;
            //position: relative;
            &:after {
                content: "";
                position: absolute;
                //right: 20px; 
                top: 12px;
                left: calc(80% - 0px);
                width: 40%;
                height: 2px;
                background: #ccc;
                font-size: 18px;
                letter-spacing: 6px;
                overflow: hidden;
            }
            
        }
        .icon {
            display: block;
            margin-left: $mLeftAuto;
            margin-right: $mRightAuto;
            color: $stepIconColor; 
            //fill-opacity: .4;
            font-size: 26px;
            &-basket { 
                font-size: 18px;
            }
        }
        .iconStep {
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background: #fff;
            @extend .display-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            z-index: 1; 
            position: relative; 
            margin: 0 auto; 
            color: #aaa;
        }
        .step-txt{
            color: $stepTextColorNormal;
            opacity: .4;
            display:block; 
            margin-top: 5px;
        }
        .iconStep-check{
            display: none;
            font-size: $fontSize14;
            position: absolute;
            top: 0;
            left:calc(100% - 24px);
        }
        &.previous-activeted{
            .icon{
                //fill-opacity: 1;
                //color: $colorWhite;
                //border-color: #000;
                &Step {
                    font-size: 0;
                    border: 0;
                    &::before {
                        content: '\e904';
                        font-family: 'icomoon';
                        font-size: 32px;
                    }
                }
            }
            .step-txt{
                opacity: 1;
            }
            .iconStep-check{
                display: block;
            }
        }
        &:last-child {
            > a {
                &:after {
                    display: none;
                }
            }
        }
    }
    .tabBtnSelectedDefault{
        .icon{
            fill-opacity: inherit;
            color: $colorWhite;
            &Step {
                background: $colorBlack;
                color: #fff;
                border-color: $colorBlack;
            }
        }
        .step-txt{
            color: $stepTextColorNormal;
        }
    }
}

.order-steps {
        .site-footer, .footer-copyright {display: none;}
}