//Accordion basliklar icin verilen class 
.cls-ttl-acr{
    background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2IDYpIj4gICAgICAgIDxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMC41IiByPSIxMC41IiBzdHJva2U9IiM2OTZCNzEiLz4gICAgICAgIDxwYXRoIGZpbGw9IiM2OTZCNzEiIGQ9Ik03IDEwaDd2MUg3eiIvPiAgICAgICAgPHBhdGggZmlsbD0iIzY5NkI3MSIgZD0iTTExIDd2N2gtMVY3eiIvPiAgICA8L2c+PC9zdmc+");
}
//Accordion basliklar icin tıklandıktan sonraki verilen class 
.opnd-ttl-acr{
    background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2IDYpIj4gICAgICAgIDxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMC41IiByPSIxMC41IiBzdHJva2U9IiM2OTZCNzEiLz4gICAgICAgIDxwYXRoIGZpbGw9IiM2OTZCNzEiIGQ9Ik03IDEwaDd2MUg3eiIvPiAgICA8L2c+PC9zdmc+");
}

//Odeme sayfasi odeme tipi modulu
.pay-type-list{
    margin-top: 20px;
    //background: #f8f8f8;
    overflow: hidden;
    ul{
        //flex default class extend ediliyor
        @extend .display-flex;
        //esit genislik
        li{
            flex: 1;
            //width: 25%;
            width: auto;
            a{
                @extend .display-block;
                //background: $colorBulltet;
                //border-radius: 4px 4px 0 0;
                font-size: $fontSize16;
                font-family: $medium;
                padding:20px;
                text-align: $alignCenter;
                //secili arka plan
                line-height: normal;
                border-bottom: 1px solid #e9e9e9; 
                &.emos_selected{
                    //background: $colorWhite;
                    color: $colorBlack; 
                    border-bottom: 1px solid #000;  
                }
                span {white-space: nowrap;} 
            }
        }
    }
}
//Odeme modulu
.pay-type-content{
    div[id$="pnlKrediKartiBilgi"],
    div[id$="pnlHavaleOdeme"],
    div[id$="pnlPesinDiger"]{
        background: $colorWhite;
    }
    
    div[id$="pnlKrediKartiBilgi"],
    //div[id$="pnlHavaleOdeme"],
    div[id$="pnlPesinDiger"]{
        padding: 20px 0;
    } 
}
//Odeme K karti modulu
div[id$="pnlKrediKartiBilgi"],
.divtxtKKARTNO{
    position: relative;
}
.pay-type-content { 
    padding: 20px; 
    border: 1px solid #e9e9e9;
}
//Odeme K karti baslik
.tableTitleOdemeBilgiKrediKarti{
    //K Krati hata mesaji icin alttan bosluk
    .message {
        margin-bottom: 25px;
    }
}
//K Karti modulu table HTML'i
.tableOdemeBilgiKrediKarti{
    > tbody{
        > tr{
            > th{
                line-height: 26px;
                span{ color: $colorAlternate; }
            }
            > th, td{
                @extend .display-block;
                text-align: $alignLeft;
                //Input icerikleri bos ise gizleniyor
                &:empty{
                    display: none;
                }
            }
            > td{
                &.tableOdemeBilgiKrediKarti_tddrpKSA_SPR_ID{
                    @extend .display-flex;
                    @extend .justify-between;
                    //K karti ay ve yil ilk seviye dropdown'lar icin genislik
                    > span{
                        width: calc(50% - 5px);
                    }
                }
                &.tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO{
                    @extend .display-flex;
                    @extend .align-items-center;
                    p {
                        color: #9fa3a9;
                        padding: 10px 0;
                    }
                    img {
                        width: auto;
                    }
                }
            }
            //tr'nin son elemanın da gelen input haric alttan eklenen bosluk
            &:not(:nth-child(5)){
                > td{
                    margin-bottom: 20px;
                }
            }
            //tr'nin son elemanı gizleniyor
            &:last-child{display: none;}
        }
    }
    //K karti numarası sagdan bosluk
    .cc-numkeypad{
        padding-right: 60px;
    }
    //k karti ikonu
    .div-cc-carttype{
        position: absolute;
        top: 50% !important;
        right: 10px !important;
        margin-top: -13px;
    }
    //Sistem'den gelen kart numaralari input genisligi eziliyor
    .cc-numkeypad,
    .cc-month,
    .cc-year,
    .cc-cardname{
        width: 100% !important;
    }
    //CVC kodu
    .cc-cvc{
        width: calc(50% - 32px) !important;
        padding: 9px 15px;
    }
    span[id$="lbfKKT_CVC_NEDIR"]{
        //width: 32px; height: 32px;
        #cvcnedir {
            color: #bbb;
            text-decoration: underline;
            white-space: nowrap;
            font-size: 13px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
    input::placeholder {
        color: #ccc;
    }
}
//Odeme modulu display olan nesneri block'lama
.pageOdemeBilgi_odemeTaksit{
    display: block !important;
    margin-top: 20px;
    #imgBANKALOGO {
        width: auto;
    }
    &:empty {display:none !important;}
}
//Banka bonus kullanim
.pageOdemeBilgi_chkBankaBonus{
    margin-top: 15px;
    .ftpPuanKazan{
        display: none;
    }
}
//Odeme alani gizlenecek nesneler
span.odemeTaksitDesc,
a.btnBankaPromosyonUygula,
.tableTitleOdemeBilgiHavale,
.tableTitleOdemeBilgiPesinDiger,
.tableTitleOdemeBilgiKrediKarti{
    display: none !important;
}

//Taksit secenegi table'ı
.tableOdemeTaksit{
    margin-top:10px;
    background: #f6f6f6;
    padding: 20px;
    display: block;
    width: 100%;
    > tbody{
        > tr{
            display: table;
            width: 100%;
            table-layout: fixed;
            > td{
                display: table-cell;
                vertical-align: middle;
                width: 25%;
                svg {
                    font-size: 20px; 
                }
            }
            //Taksik secenek header kismi
            &.tableTitleOdemeTaksit{
                //border-bottom: 1px solid $gridRowBorder;
                margin-bottom: 20px; 
                > td{
                    padding-bottom: 5px;
                    > span{
                        font-size: $fontSize12;
                        color: $colorBlack;   
                        font-family: $medium; 
                    }
                }
            }
            //Taksik secenekleri row
            &.taksit_pesin {
                > td{
                    height: 35px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}
//Havale module tablosu
.tableOdemeBilgiHavale{
    > tbody{
        > tr{
            //Kisa metin gizleniyor
            border-bottom: 1px solid #eee;
            &:first-child{
                display: none;
            }
            > td{
                &.tableOdemeBilgiHavale_tddrpBNK_KOD_HV{
                    > table{
                        tbody{
                            > tr{
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                table-layout: fixed;
                                > td{
                                    display: table-cell;
                                    vertical-align: middle;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    flex: 1 100%;
                                    &.bankaKampanyaMetinHavale{
                                        display: none !important;
                                    }
                                    &.logo{
                                        width: 25%;
                                        flex: 1 25%;
                                        margin-right: 20px;
                                        img{
                                            max-width: 119px;
                                        }
                                    }
                                    &.banka{
                                        width: 45%;
                                        flex: 1 65%;
                                    }
                                    &.link{
                                        width: 30%;
                                        padding-right: 20px;
                                        a.btnDefault {
                                            display: inline-block;
                                            > span{
                                                justify-content: flex-end;
                                                svg {
                                                    margin-right: 5px;
                                                }
                                            }
                                        }
                                    }
                                    span.hesapNo{
                                        @extend .display-block;
                                        padding-top: 5px;
                                    }
                                }
                                //Ilk row haric border ekleniyor
                                &:not(:first-child){
                                    border-top: 1px solid $gridRowBorder;
                                }
                            }
                        }     
                    }
                }           
            }
        }
    }
}

.pageDecOdemeBilgi {
    margin-top: 20px; 
}

//Master pass odeme modulu
.masterpassContent{
    //Varsayilan gizli durumu eziliyor
    display: block !important;
}
.imgMasterpassLogo {
    width: auto !important;
}
.masterPassForms {
    position: relative;
    //margin: 20px 0;
    flex-wrap: wrap;
    > div + div {
        margin-top: 10px;
    }
    .mpCardAliasName{
        padding-right: 10px;
    }
}
.masterPassForms[style*="block"]{
    display: -ms-flexbox;
    display: flex !important;
    @extend .align-items-center;
    @extend .justify-start;
}

.masterpassKaydet .tableOdemeBilgiKrediKarti_masterpassKaydetFl {display: flex;}

.masterpassAciklama {
    font-size: 12px;
}
.dvAddCreditCard {
    @extend .display-flex;
    flex: 100%;
    a.lnkSubmit{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
    }
}
.masterpassLogo_general{
    margin-right:15px;
}
.masterpassAciklama{
    line-height: 18px;
}
.dvMpCardAliasName {
    width: 50%;
    padding-right: 10px;
}
.masterpass_cardAddedSuccess,
.masterpass_linkCard,
.masterpass_cardList {
    margin-bottom: 20px;
}
.masterpassLogo_cardList{
    display: none;
}
.mpCreditCardSet {
    font-size: 14px;
    background: #f1f1fa;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 35px 1fr max-content;
    grid-gap: 0 10px;
    align-items: center;
    + .mpCreditCardSet {
        margin-top: 10px;
    }
    .masterpassCard{
        border-radius: 100%;
        width: 16px !important;
        height: 16px !important;
        padding: 0;
        line-height: normal;
        min-height: auto;
    }
}
.lnkDeleteMasterPassCard {
    text-decoration: underline;
}
.mpNewCreditCard {
    margin-top: 20px;
    display: flex;
    align-items: center;
    input[type="radio"] {
        margin-right: 7px;
        border-radius: 100%;
        width: 16px !important;
        height: 16px !important; 
        padding: 0;
        margin: 0;
        min-height: auto; 
    }
    span{
        color: $colorAlternate;
    }
}
.masterpassLogo_cardList{
    margin-bottom: 10px;
}

.masterpass-popup {
    .masterpass-popup {
        max-width: 800px !important;
    } 
}

//Odeme accordion title -- acilir kapanir tum basliklara kullanilabilir
.basket-title-accordion{
    padding: 0px;
    background-color: $colorWhite;
    //background-position: calc(100% - 20px);
    cursor: pointer;
    //Accordion baslik ortak eklenen class
    //@extend .cls-ttl-acr;
}
//Odeme sepet onizleme ve urun adet sayisi
.payment-basket-title{
    //baslik icin sagdan bosluk
    .title-middle{
       //margin-right: 15px;
    }
    //sepet urun adet
    b{
        font-weight: normal;
        padding-right: 5px;
    }
    //sepet urun adet text
    small{
        color: $colorAlternate;
        display: none;
    }
}
//Sanal kart
.basket-card-wrapper{  
    display:none;
}
//Odeme Adres bilgileri ve siapris ozet alani ust bosluk
.pay-address {
    //margin-top:30px;
    padding: 0;
    > ul{
        flex-wrap: wrap;
        > li{
            width: 100%;
            &:nth-child(2){
                //margin-top: 30px;
            }
        }
    }
    .page-top-title {
        position: relative;
        padding: 20px 15px;
        &:after {
            content: '\e923';
            //@extend .base64-arrow-d;
            font-family: 'icomoon';
            font-size: 32px;
            color: #000;
            display: inline-block;
            padding: 13px;
            text-align: center;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
    //Odeme teslimat ve sepet icerik default gizli gelmesi 
    &-hidden{
        display: none;
        //padding: 10px 20px 20px 20px;
        padding: 0 15px;
        margin-top: 0px; 
        > div {
            padding: 0px;
            //background: #f6f6f6; 
            flex: 1 100%;
            margin-bottom: 10px;
            &:first-child {
                margin-right: 0px;
            }
            &:last-child {
                margin-left: 0px; 
            }
        }
    }
    //Odeme sepet ve teslimat alanlari
    &-left-content,
    &-right-content{
        background-color: $colorWhite;
        //border-radius: 0 0 $basketModuleRadius $basketModuleRadius;
    }
    //Odeme sepet onizleme
    &-left-content{
        @extend .scroll-webkit;
        .grid-table-cart{
            max-height: 230px;
            overflow: hidden;
        }
    }
    //Odeme teslimat adres bilgileri
    &-right-content{
        > div{
            /*&:not(:first-child){
                border-top: 1px solid $gridRowBorder;
                margin-top: 20px;
                padding-top: 20px;
            }*/
            .baslik{
                @extend .display-block;
                padding-bottom: 10px;
                font-family: $medium;
            }
            .pay-address-obj {
                font-size: $fontSize13;
            }
        }
    }
    //Tıklandıktan sonra acılan icerik alanı
    ul{
        li {
            &.opened{
                //Accordion baslik ortak eklenen class acik hali
                .basket-title-accordion{
                    //@extend .opnd-ttl-acr;
                }
                .pay-address-hidden{
                    @extend .display-flex;
                    flex-wrap: wrap;
                }
                .page-top-title { 
                    &:after { 
                        content: '\e91e';
                    }
                }
            }
        }
    }
}
.payment-transfer{
    border-radius: $basketModuleRadius;
    background-color: $colorWhite;
    margin-top: 30px;
    padding: 20px;
    .icons{
        img{
            max-width: max-content;
        }
    }
    p{
        margin-top: 5px;
    }
}
//Diger odeme secenegi
.OdemeBilgiPesinDigerOdemeNotu{
    > span{
        @extend .display-block;
        font-family: $medium;
        color: $colorAlternate;
    }
    textarea{
        width: 100% !important;
    }
}
//Havale odeme detay aciklama metni bos ise 
span[id$="lblODM_ACIKLAMA"]{
    @extend .is-empty;
}
//Odeme sayfas satis sozlesmeleri
.pay-agreement{
    display: none;
}
.onBilgilendirmeFormHolder,
.siparisOnaySozlesmeHolder {
    background-color: $colorWhite;
    border-radius: $basketModuleRadius;
    margin-top: 30px;

    //Sozlesme basliklari icin accordion title class'i extend ediliyor
    .tableTitleDefault {
        @extend .basket-title-accordion;
    }
    //Sozlesme basliklari eger tıklanmıs ise baslık ikonu degisiyor
    &.opened{
        .tableTitleDefault {
            //@extend .opnd-ttl-acr;
        }
        .onBilgilendirmeFormMetin,
        .siparisOnaySozlesmeMetin{
            display: block;
        }
    }
}
//Sozlesme metinleri HTML'i
.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin{
    display: none;
    margin: 20px 0px;
    border-bottom: 1px solid #f8f8f8;
    //webkit scroll ekleniyor
    @extend .scroll-webkit;
    //Ilk span varsayilan scroll degeri degistiriliyor
    > span{
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        padding-right: 30px;
    }
}
.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin{
    //padding-bottom: 20px;
}
//Sozlesmeler de tiklanan linkler icin css
.pageSiparisOnay_lbfOnBilgilendirmeForm,
.pageSiparisOnay_lbfSatisSozlesme{
    @extend .display-flex;
    @extend .align-items-center;
}

//Sozlesme buttonlari
a.btnOnBilgilendirmeFormOnizle,
a.btnSatisSozlesmeOnizle {
    img{
        width: auto;
        margin-right: 10px;
    }
    span{
        font-family:$regular;
    }
    b{
        font-weight: normal;
        text-decoration: $linkUnderline;
    }
}

//Odeme sayfasi sepet ozet ozellsetirme
.order-payment{
    //Satin al butonu append edildigi icin ilk yukleme de gizli tutuluyor
    .bottom-step{
        display: none;
    }
    .basket-grid-2 {
        .ga1 {
            padding: 0;
            display: block !important;
        }
        .page-top-title {
            margin: 0;
        }
        .pay-address-left {
            .page-top-title {
                border-top: 1px solid #eee; 
                position: relative;
                margin-top: 30px;
            }
            .grid-table-cart {
                max-height:none;
            }
            &.opened {
                .page-top-title {
                    &:after {
                        content: '\e91e';
                    }
                }
                .page-top-title {
                    border-bottom: 0;
                }
            }
            .order-summary-title {display:none;}
        }
        .pay-address-right {
            .page-top-title {
                margin-top: 30px;
                border-top: 1px solid #eee; 
            }
            &.opened {
                .page-top-title {
                    border-bottom: 0;
                }
            }
        }
        
        
    }
    .order-summary{
        //Sozlesmeler linkleri append edildikten sonra gosteriliyor
        .pageSiparisOnay_btnOnBilgilendirmeFormOnizle,
        .pageSiparisOnay_btnSatisSozlesmeOnizle{
            display: block;
            a.btnDefault{
                text-align: left;
            }
        }
        .pageSiparisOnay_lbfOnBilgilendirmeForm{
            padding: 40px 20px 15px 20px;
            order: 1;
            border-top: 1px solid #e9e9e9;
        }
        .pageSiparisOnay_lbfSatisSozlesme{
            padding: 15px 20px 40px 20px; 
            order: 1;
        }
        //Satin al butonu append edildigi icin ilk yukleme de append edildigi yerde acik tutuluyor
        .bottom-step{
            display: block;
            order: 3; 
            .next {
                a {
                    margin-top: 5px;
                }
            }
        }
    }
    .btnOnbilgi,
    .btnSozlesme{
        text-decoration: underline;
    }
}

//Odeme ceki
.pageOdemeBilgi_odemeCekiGiris{
    //display: block !important;
}
.odemeCekiBaslik{
    font-family: $bold;
    color: $colorAlternate;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-top: 1px solid $gridRowBorder;
}
.odemeCekiKullanim{
    @extend .relative;
    margin-bottom: 20px;
}
.ulOdemeCekiKullanim{
    li{
        @extend .display-flex;
        @extend .align-items-center;
        &:not(:first-child){
            margin-top: 10px;
        }
    }
}
.odemeCekiKaldir{
    order: 1;
}
.odemeCekiSeriNo{
    flex: 2;
    order: 2;
}
.odemeCekiTutar{
    flex: 1;
    order: 3;
    text-align: right;
}
.odemeCekiKalan{
    @extend .display-flex;
    @extend .align-items-center;
    @extend .justify-between;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid $gridRowBorder;
    margin-top: 15px;
    > *{
        font-family:$bold;
    }
}
.odemeCekiEkleBtn{
    position: absolute;
    bottom: 4px;
    right: 5px;
    z-index: 1;
}

//Odeme SSL sertifika uyari metni
.basket-ssl{
    //background: $colorYellow;
    border: 1px solid #e9e9e9;
    padding: 15px 20px;
    margin-top: 0px;
    margin-bottom: 145px;
    //border-radius: $basketModuleRadius;
    i {
        margin-right: 15px;
        font-size: 46px;
    }
    span{
        //font-family: $bold;
        line-height: 18px;
    }
}

// MasterCard

.masterpassContent {
    display: block !important;
    margin-top: 15px;
} 
.imgMasterpassLogo {
    width: auto !important; 
}
.masterPassForms { 
    position: relative;
    margin-top: 20px;
    > div + div {
        margin-top: 10px;
    }
} 
.masterpassAciklama {
    font-size: 13px;
}
.dvMpCardAliasName {
    flex: 1;
    padding-right: 5px;
}

.masterpass_cardAddedSuccess {
    margin-bottom: 30px;
}
.masterpass_linkCard {
    margin-bottom: 30px;
}
.masterpass_cardList {
    margin-bottom: 30px;
    svg {
        font-size: 20px !important;
    }
    .deleteCreditCard {
        svg {
        font-size: 40px !important;    
        }
    }
}
.masterpassLogo_cardList {
    display: none;
}
.mpCreditCardSet {
    font-size: 14px;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 15px 1fr max-content;
    grid-gap: 0 10px;
    align-items: center;

    + .mpCreditCardSet {
        margin-top: 15px;
    }
}
.lnkDeleteMasterPassCard {
    text-decoration: underline;
}
.mpNewCreditCard {
    margin-top: 20px;
    display: flex;
    align-items: center;
    input[type="radio"] {
        margin-right: 7px;
    }
}
.dvOtpForm {
    > * {
        margin-top: 10px;
    }
}
.mpInfoText {
    padding: 0 !important;
}
.resendCodePlace {
    > * {
        margin-top: 10px;
    }
}
.validateOtp,
.btnResendOtp {
    cursor: pointer;
}

// Para Puan

.ems-pay-point {
    margin-top: 20px;
    .pageOdemeBilgi_chkKrediKartiBonusPara { 
        position: relative;
        @extend .display-flex;
        flex-wrap: wrap;
        .checkbox {
            flex: 20px;
        }
        span[id$="lblSIP_BONUSPARA_KK"] {
            margin-bottom: 10px;
            display: block;
            flex: calc(100% - 20px); 
        }
        span[id$="lblSIP_KALANBONUSPARA"], span[id$="lbfSIP_BONUSPARAHESAPLANIYOR"] {
            flex: 100%;
            margin-top: 10px;
        }
        
        input {
            padding: 9px 80px 9px 15px;
            &[type="checkbox"] {
                display:none;
            }
        }
        a.btnParcaliBonusPara {
            position: absolute;
            right: 0;
            bottom: 25px; 
            background: none !important;
            width: auto;
            span {
                color:#000;
            }
        }
    }
    &:empty {
        display: none;
    }
}