.pay-type-list{
    //width: calc(100% - 20% * 1);
    margin-top: 30px;  
    border-bottom: 1px solid #eee;
    background: none;
    ul{
        li{
            flex: 0 auto;
            a{
               // font-size: $fontSize16; 
               padding: 15px 20px; 
            }
        }
    }
}
//Odeme modulleri
.pay-type-content{ 
    div[id$="pnlKrediKartiBilgi"],
    div[id$="pnlHavaleOdeme"]{
        border-radius: $basketModuleRadius;
    } 
    //Odeme K karti modulu
    div[id$="pnlKrediKartiBilgi"]{
        padding:30px 0px 20px 0px;
        min-height: 250px;
    }
}
//Sanal kart
.basket-card-wrapper{
    position: absolute;
    top: 30px;
    right: 0px;    
    display:block;
}

.pay-type-content {
    padding: 20px 0;
}

.tableOdemeBilgiKrediKarti, .masterpass_linkCard { 
    max-width: calc(100% - 390px);
}

.masterpass_linkCard  {
    h3 {margin-bottom:10px;}
}


//Odeme Adres bilgileri ve siapris ozet alani
.pay-address{
    padding: 0;
    > ul > li{
        //width: calc(50% - 15px);  
        &:nth-child(2){
            margin-top: 0;
        }
    }
    &-hidden{
        >div {
            flex: 1;
            margin-bottom: 0;
            padding: 20px 30px;
            &:first-child {
                margin-right: 20px;
            }
            &:last-child {
                margin-left: 20px; 
            } 
        }
    }
}
//Havale odeme detay aciklama metni
.payment-transfer{
    padding-right: 100px;
}
//Diger odeme secenegi
.OdemeBilgiPesinDigerOdemeNotu{
    textarea{
        width: 100% !important;
        max-width: 50%;
    }
}
//Odeme sayfas satis sozlesmeleri
.pay-agreement{
    display: block;
}

.order-payment { 
    .order-summary { 
        .pageSiparisOnay_lbfOnBilgilendirmeForm {  
            order: 3;
            padding: 15px 0;
        }
        .pageSiparisOnay_lbfSatisSozlesme {
            order: 3;
            padding: 15px 0 0 0; 
            border-top: 1px solid $gridRowBorder; 
        }
    }
}

// Para Puan

.ems-pay-point {
    max-width: calc(100% - 390px);
}

// Masterpass cart kayıt

.masterpass_cardList, .masterpassContent {
    max-width: calc(100% - 390px);
}