//Sepet tablo grid'i
.grid-table-cart{
    margin-top: 20px; 
    .grid-table-rows:first-child{
        .grid-table-row{
            border-top:1px solid $greyBorderColor;
        }
    }
    .grid-table-row {
        //Sepet tablo satır image kolonu sabitleniyor
        .grid-img{
            width: 120px;
        }
        //Sepet tablo urun satırı image sabit tutulup kolon akisa alınıyor
        .grid-content{
            padding-left: 20px;
            //Sol kolon
            &-left{
                min-width: calc(100% - 300px);
                padding-right: 20px;
            }
            //Sag kolon
            &-right{
                min-width:300px;
                margin-top: 0;
                align-items: flex-start;
                justify-content: flex-end;
                position: relative;
            }
            > div{
                @extend .d-flex;
                height: 100%;
            }
        }
        //Urun adet kontrol
        .grid-piece{
            flex: 1;
            padding-right: 10px;
            input[type="text"]{
                max-width: 120px;
            }
        }
        //Urun fiyatlari
        .grid-price{
            flex: 1;
            margin-top: 5px;
            text-align: right;
            right: 10px;
        }
        //Urun fiyatlari
        span[id$="lblURN_INDIRIMLIFIYAT"]{
            margin-left: 0;
        }
        span[id$="lblURN_INDIRIMLIFIYAT"],
        span[id$="lblURN_TOPLAMFIYAT"],
        span[id$="lblURN_NETTOPLAMFIYAT"],
        .gridSepetListe_gercekFiyat{
            font-size: $fontSize15;
            width: 100%;
        }
        .grid-name {
            .prdItem {
                padding-right: 0;
            }
        }
        //sepet urun silme desktop ozel ust margin
        .grid-remove{
            top: inherit;
            bottom: 10px; 
            right: 10px;
            > a{
                padding: 0;
            }
        }
    }
}
.basket-buttons {
    a.btnAlisverisDevam{
        width: 100%;
        max-width: 300px;
        margin-top: 40px;
        span{
            justify-content: center;
        }
    }
}
//odeme sepet onizleme grid yapisi
.basket-grid-2{
    .grid-table-wrap {
        display: block;
    }
    .grid-table-cart{
        .grid-table-rows{
            padding-left: 0;
            padding-right: 0;
        }
        .grid-table-row{
            //Sepet tablo row padding
            padding: 15px 0;
            .grid-price{
                max-width: inherit;
                display: inline-block;
            }
        }    
        //Sepet tablo satır image kolonu sabitleniyor
        .grid-img{
            width: 100px;
        }
        .grid-content{
            //width: calc(100% - 100px);
            //Sol kolon ve sol kolon
            &-left,
            &-right{
                width: auto;
            }
            > div{
                display: block;
            }
        }
    }
}

//cep tel dogrulama desktop
.pageCepTelDogrulama {
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    border-radius: 0 0 10px 10px;
    .popup-title {
        position: absolute;
        text-indent: 0;
        background: none;
        font-size: 24px;
        text-align: left;
        padding: 70px 20px 30px 50px;
        width: 50%;
    }
    .popup-close {
        right: 20px;
        top: 20px;
    }
    .popup-content {
        padding-left: 100px;
        padding-right: 100px;
        &-mini {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .ceptelDogrulamaSmsContainer,
    .ceptelDogrulaContainer {
        padding-left: 195px;
        padding-right: 195px;
    }
}

//Sepet Stok Uyari Tablo
.gridSepetStok{
    //Row kısmı ozellestiriliyor
    .gridRowSepetStok, .gridAlternateSepetStok, .gridHeaderSepetStok{
        > td, > th {
            &:nth-child(4), &:nth-child(5){
                display: table-cell;
            }
        }
    }
}