//Sepet tablo grid'i
.grid-table-cart{
    .grid-table-rows:last-child{
        .grid-table-row{
            border-bottom:0;
        }
    }
    //Sepet rows
    .grid-table-row {
        @extend .display-flex;
        @extend .relative;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:1px solid $greyBorderColor;
        min-height:140px;
        //Sepet tablo satır image kolonu sabitleniyor
        .grid-img{
            width: 90px;
            img{
                max-width: 120px;
            }
        }
        //Sepet tablo urun satırı image sabit tutulup kolon akisa alınıyor
        .grid-content{
            width: calc(100% - 90px);
            padding-left: 10px;
            > div{
                display: block;
            }
            //Sag kolon
            &-right{
                @extend .display-flex;
                @extend .align-items-center;
                margin-top: 10px;
            }
        }
        //Sepet tablo urun marka adi
        .grid-brand{
            color: #eee;
            font-size: $fontSize12;
            line-height: $gridLineHghtDefault;
            display: none;
        }
        .grid-stock {
            display: none;
            .magaza-teslim {
                display:none;
            }
        }
        .grid-als-uyari { 
            @extend .display-flex;
            align-items: center; 
            color: #a40000;
            font-size: 12px;
            /*&:before {
                content: '';
                background:url(#{$baseHref + "/images/frontend/magaza-teslim.svg"} ) top center no-repeat;
                margin-right: 5px;
                width: 30px;
                height: 30px;
            }*/
            &:empty {
                display: none;
            }
        }
        .grid-name{
            //Urun adı linki genel css'i
            > a{
                font-size: $fontSize15;
                line-height: $gridLineHghtDefault;
                color: $colorDefault;
            }
            .urnKisaAd { 
                display:block;
                font-size: $fontSize13;
                &:before {
                    content: 'Renk: ';   
                }
                &:empty {
                    display: none !important; 
                }
            }
            .prdItem {
                padding-right: 25px; 
                display: block;
                margin-bottom: 5px;
            }
            span[id$="lblSCD_AD1"]{
                display: block;
                font-size: $fontSize13;
                &:empty{
                    display: none;
                }
                &:before {
                    content: 'Beden: ';  
                }
            }
            span[id$="lblProm"]{
                //Eger kampanya yoksa o alan gizleniyor
                &:empty{
                    display: none;
                }
                //Kampanya alanı genel css düzenlemesi
                *{
                    color: $colorRed;
                    font-size: $fontSize13;
                }
                //Kampanya alanı HTML'i
                > ul
                {
                    //Kampanya alanı satır yukselik
                    line-height: $gridLineHghtDefault;
                    //Kampanya alanı ust bosluk
                    margin-top: 5px;
                }
            }
        }
        //Abonelik periyot sure HTML alanı
        .grid-sbrc-lbl{
            > span{
                font-size: $fontSize10;
                color: $colorRed;
            }
        }
        .abonelikUrun{
            //Eger icerik bos ise
            &:empty{
                @extend .none;
            }

            //Site ortak class olan flex class'i extend ediliyor
            @extend .display-flex;
            @extend .align-items-center;
            li{
                //sepet abonelik metinleri icin ozellestirme
                color: $colorAlternate;
                font-size: $fontSize12;
                line-height: $gridLineHghtDefault;
            }
        }
        //Urun adet kontrol
        .qty-wrapper {
            width: 100%;  
            max-width: 100px;
            position: relative;   
        }
        .grid-piece{
            flex: 1;
            padding-right: 10px;
            //input arttima ve eksiltme butonlari
            a{
                //display: none;
                position: absolute;
                right: 0px; 
                top: 2px;
                //display: none;
                &:first-child {
                    top: 2px;
                    left: 0;
                    right: auto;
                }
                svg {
                    font-size: 18px;
                }
            }
            input[type="text"]{
                //display: none;
                //border-color:#cccccc;
                border: 0;
                padding:2px 20px;
                min-height: 35px;
                text-align: center;
            }
            .sStylerWrp_select {
                display:none; 
                .sStylerWrp {
                    border-color:#cccccc;
                    padding:2px 20px;
                    min-height: 35px; 
                }
            }
        }
        //Urun fiyatlari
        .grid-price{
            flex: 1;
            text-align: right;
            // TL simgesi font duzenleme
            .pb1{
                font-family: cursive;
            }
            .price-wrapper{
                flex-wrap: wrap;
                justify-content: flex-end;
                > span {
                    flex: 100%;
                }
            }
        }
        span[id$="lblURN_INDIRIMLIFIYAT"],
        .gridSepetListe_gercekFiyat{
            font-size: $fontSize14;
        }
        //Varsayılan fiyat
        span[id$="lblURN_INDIRIMLIFIYAT"]{
            order: 2; // sıralama veriliyor
            display: none;
        }
        // Ilk fiyat    
        .gridSepetListe_gercekFiyat{
            order: 1; // sıralama veriliyor 
            color: $colorBlack;
            text-decoration: $linkLineThrough;
        }

        span[id$="lblURN_TOPLAMFIYAT"]{
            order: 3;
        }

        span[id$="lblURN_NETTOPLAMFIYAT"]{
            order: 4;
        }

        //sepet icin urun fiyatlari gizlenen alanlar
        .brFiyat,
        .satBrFiyat {display: none !important;}

        //sepet icin urun fiyatlari acilan alanlar
        .brFiyatVrg,
        .satBrFiyatVrg,
        .netFiyat,
        .topFiyat{
            display: inline-flex !important;
            align-items: baseline;
        }
        //sepet urun silme
        .grid-remove{
            position: absolute;
            top: 10px;
            right: 0px;
            > a{
                @extend .inline-block;
                @extend a.btnLink;
                padding: 5px;
            }
            .icon {
                font-size: $fontSize14;
                color: #9b9b9b;
            }
        } 
        //Indirim oranı
        .dvSepetKazancOran{
            display: inline-flex;
            margin-top: 5px;
            // Eger bos ise gizleniyor
            &:empty{
                @extend .none;
            }
            .amount{
                color: $colorRed;
            }
        }
        //Abonelikli urun varsa fiyat ozellestiriliyor
        &.abonelikUrun{
            .dvSepetKazancOran{
                display: none;
            }
            .grid-price{
                padding: 5px;
                border-radius: 2px;
                background-color: rgba(231, 47, 47, 0.2);
            }
            .satBrFiyatVrg{
                color: $colorRed;
            }
        }
    }
}

//Sepet Stok Uyari Tablo
.gridSepetStok{
    //Header kısmı gizleniyor
    .gridHeaderSepetStok{
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        th {
            padding: 10px 0 15px 0;
            font-family: $medium;
        }
    }
    //Row kısmı ozellestiriliyor
    .gridRowSepetStok, .gridAlternateSepetStok, .gridHeaderSepetStok{
        display: table;
        width: 100%;
        table-layout: fixed;
        > td, > th {
            vertical-align: middle;
            width: auto;
            img {
                max-width: 90px;
            }
            > *{
                color: $colorDefault;
            }
            &:not(:first-child){
                padding-left: 10px;
            }
            &:nth-child(1){
                width: 100px !important;
            }
            &:nth-child(2), &:nth-child(4), &:nth-child(5){
                @extend .none;
            }
        }
    }
}

//Sepet stok uyari kapsayıcı
.grid-basket-stock{
    //Stok kontrol edilirken gelen uyarı metni alanı
    .pageErrorStokKontrol{
        @extend .message;
        @extend .message-error;
        margin-bottom: 20px;
    }
    .uyari{
        @extend .display-flex;
        @extend .align-items-center;
    }
    //Stok kontrol edilirken gelen tablo HTML'i
    .gridSepetStok{
        display: block;
        @extend .message;
        @extend .message-error;
        margin-bottom: 30px;
    }
}
.basket-buttons {
    a.btnAlisverisDevam{
        display: flex;
        span{
            font-family: $regular;
            color: #696b71;
            font-size: $fontSize14;
            display: flex;
        }
    }
}

//odeme sepet onizleme grid yapisi
.basket-grid-2{
    .grid-table-wrap { 
        //max-width: 300px;
        margin-left: auto;  
        display: none;
    }
    .grid-table-cart{
        overflow-x: hidden;
        max-height: 395px;
        margin-top: 5px;
        .grid-table-rows{
            padding-left: 0;
            padding-right: 0;
            border-top: 1px solid #dddddd;
            border-bottom: 0 !important; 
            &:first-child {
                border:0 !important;  
            }
            .grid-table-row {
                border:0 !important; 
                min-height:auto;   
            } 
            .grid-content{
                width: 100%;
                padding-right: 10px;
            }
            .grid-content-right {
                min-width: auto;
                position: static;
            }
        }
        //Siparis adimlarin da sepet onizleme gizlenen alanlar
        //span[id$="lblProm"],
        .grid-piece,
        .grid-remove
        {display: none;}
        span[id$="lblProm"] {
            padding-right: 55px;
            display: block;
            * {
                font-size:12px !important;
            }
        }
        .grid-price {
            position: absolute;
            bottom: 20px; 
            right: 0px; 
        }
        .grid-name {
            font-size: $fontSize13;
        }
        .grid-als-uyari {
            padding-right:45px;
        }
        .grid-stock {
            .magaza-teslim {
                font-size:11px;
                &:before {
                    display:none;
                }
            }
        }
        span[id$="lblURN_INDIRIMLIFIYAT"], 
        .gridSepetListe_gercekFiyat, 
        span[id$="lblSCD_AD1"],
        span[id$="lblURN_TOPLAMFIYAT"], 
        span[id$="lblURN_NETTOPLAMFIYAT"]
         {
            font-size: 12px !important;
            margin-top: 0 !important; 
        } 
        .dvSepetKazancOran {
            display: none !important;  
        }
    }
}

// Sepet içerik scroll

.basket-grid-2 .grid-table-cart::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}

.basket-grid-2 .grid-table-cart::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 4px $colorAlternate;
    box-shadow: inset 0 0 4px $colorAlternate;
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}

.basket-grid-2 .grid-table-cart::-webkit-scrollbar { 
    width: 3px;
}

//cep tel dogrulama
.ems-phone-verification-ready .pageCepTelDogrulama {
    display: block
}
.ems-phone-verification-ready .vailMobileConfirmation {
    visibility: visible;
    opacity: 1;
}
.pageCepTelDogrulama {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 16;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #fff;
    padding-bottom: 45px;
    .uyeCustomField1 {
        display: block !important;
    }
    .popup-close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 24px;
        height: 24px;
        font-size: 10px;
    }
    .popup-title {
        background: #ddd;
        padding-top: 22px;
        padding-bottom: 22px;
        font-family: $medium;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-indent: -50px;
    }
    .popup-image {
        img {
            vertical-align: middle;
        }
    }
    .popup-content {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
        color: #000;
        line-height: 16px;
        text-align: center;
        &-mini {
            font-size: 14px;
            color: #eee;
            text-align: left;
        }
    }
    .ceptelDogrulamaSmsContainer,
    .ceptelDogrulaContainer {
        position: relative;
        margin-top: 20px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .ceptelDogrulamaSmsContainer {
        .telDogrulamaGeriSayim {
            position: static;
            margin-top: 10px;
        }
    }
    [id$="CEPTELEFONALAN"] {
        width: 60px !important;
        text-align: center;
        margin-right: 5px;
        float: left;
        padding: 9px 15px;
    }
    [id$="CEPTELEFON"] {
        width:100% !important;
    }
    .sStylerWrp_checkbox {
        margin-top: 15px;
        .sCheckbox {
            position: absolute;
            opacity: 0;
        }
        + span {
            font-size: 14px;
            color: #000;
            vertical-align: 0px;
            position: relative;
            top: -7px;
        }
    }
    a.btnDefault {
        display: block;
        margin: 20px auto;
        max-width: 240px;
    }
    .bilgilendirme {
        display: block !important;
    }
    > br {
        display: none !important;
    }
    .ceptelDogrulaContainer {
        padding-top: 50px;
    }
    [id$="DOGRULAMAKODU"] {
        width: 100% !important;
    }
    .telDegistir {
        display: block !important;
        text-align: center;
        margin-top: 10px;
        a{
            text-decoration: underline;
            color:#aaa;
        }
    }
    .telDogrulamaGeriSayim {
        display: block !important;
        position: absolute;
        left: 0;
        top: 0; 
        width: 100%;
        font-size: 28px;
        font-weight: 500;
        color: #ccc;
        text-align: center;
        .days,
        .hours {
            display: none;
        }
        .minutes::after {
            content: ":";
        }
    }
    .pnlHata {
        position: fixed;
        left: 5%;
        top: 20%;
        width: 90%;
        background: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        z-index: 1;
        [id$="lblUYE_DOGRULAMAGONDERSUREHATA"]{
            a{
                font-weight: bold;
            }
        }
    }
}