//Sepet tablo grid'i
.grid-table-cart{
    margin-top: 20px; 
    .grid-table-rows:first-child{
        .grid-table-row{
            border-top:1px solid $greyBorderColor;
        }
    }
    .grid-table-row {
        //Sepet tablo satır image kolonu sabitleniyor
        .grid-img{
            width: 120px;
        }
        //Sepet tablo urun satırı image sabit tutulup kolon akisa alınıyor
        .grid-content{
            padding-left: 20px;
            //Sol kolon
            &-left{
                min-width: calc(100% - 300px);
                padding-right: 20px;
            }
            //Sag kolon
            &-right{
                min-width:300px;
                margin-top: 0;
                align-items: flex-start;
                justify-content: flex-end;
                position: relative;
            }
            > div{
                @extend .d-flex;
                height: 100%;
            }
        }
        //Urun adet kontrol
        .grid-piece{
            flex: 1;
            padding-right: 10px;
            input[type="text"]{
                max-width: 120px;
            }
        }
        //Urun fiyatlari
        .grid-price{
            flex: 1;
            margin-top: 5px;
            text-align: right;
        }
        //Urun fiyatlari
        span[id$="lblURN_INDIRIMLIFIYAT"]{
            margin-left: 0;
        }
        span[id$="lblURN_INDIRIMLIFIYAT"],
        .gridSepetListe_gercekFiyat{
            font-size: $fontSize15;
            width: 100%;
        }
        .grid-name {
            .prdItem {
                padding-right: 0;
            }
        }
        //sepet urun silme desktop ozel ust margin
        .grid-remove{
            top: inherit;
            bottom: 20px;
            right: 10px;
            > a{
                padding: 0;
            }
        }
    }
}
.basket-buttons {
    a.btnAlisverisDevam{
        width: 100%;
        max-width: 300px;
        margin-top: 40px;
        span{
            justify-content: center;
        }
    }
}
//odeme sepet onizleme grid yapisi
.basket-grid-2{
    .grid-table-wrap {
        display: block;
    }
    .grid-table-cart{
        .grid-table-rows{
            padding-left: 0;
            padding-right: 0;
        }
        .grid-table-row{
            //Sepet tablo row padding
            padding: 15px 0;
            .grid-price{
                max-width: inherit;
                display: inline-block;
            }
        }    
        //Sepet tablo satır image kolonu sabitleniyor
        .grid-img{
            width: 100px;
        }
        .grid-content{
            //width: calc(100% - 100px);
            //Sol kolon ve sol kolon
            &-left,
            &-right{
                width: auto;
            }
            > div{
                display: block;
            }
        }
    }
}