//Teslimat sayfası ust slider ozellestirme
.order-delivery {
    .basket-swiper{
        .swiper-slide{ 
            width:100%;
        }
    }
}

.basket-info-widget {
    padding: 0;
    margin: 30px auto 0 auto;
    padding: 0 15px;
    .swiper-slide {
        width: auto;
        flex: 1;
        padding: 0 !important;
    }
}