//Sepet sayfası mobile ust bosluk
$basketPageTopSpaceMb:10px;

//Sepet sayfası desktop ust bosluk
$basketPageTopSpaceDt:30px;

//Sepet mobile header logo sağ bosluk
$basketArrowBackSpacing: 15px;

//Sepet sayfası mobile ust bosluk
$basketPageTopTitle:20px;

//Sepet sag urun grid icin padding sağdan bosluk
$basketPageRightPadding:10px;

//Sepet ozet sol padding boslugu
$basketPageLeftPadding:20px;

//Sepet swiper slider bottun arkaplanı -- Opsiyonel
$sliderArrowBackground: #696b71;

//Sepet üst slider alt bosluk
$swiperTopBottomSpace: 25px;

//Sepet üst slider desktop bullet ust bosluk
$basketSwiperBulletTopSpaceDt:15px;

//Sepet üst slider mobile bullet ust bosluk
$basketSwiperBulletTopSpaceMb:20px;

//Sepet üst slider sag ve sol oklar
$basketSwiperArrowTop:-28px;

//Sepet üst slider urun adı ust bosluk
$swiperNameTopSpace: 5px;

//Sepet üst slider ekle buton max-genislik
$swiperAddButtonMaxWidth: 68px;

//Sepet adımları metin rengi
$stepTextColor: #f1f1fa;

//Sepet adımları link varsayılan rengi
$stepTextColorNormal: #202020;

//Sepet adımları ikon rengi
$stepIconColor: #202020;

//Sepet adımları alternatif ikon rengi
$stepIconColorAlternate: #f1f1fa;

//Sepet adımları aktif link arka plan rengi
$order-step-active-round:#3d5deb;

//sepet adımları üst bosluk
$step-top-spacing:10px;

//Sepet adımları alt bosluk
$step-bottom-spacing:10px;

//Siparis adımları basliklar
$orderGridTitlePdng:20px;

//Siparis ozet mobile ust bosluk
$orderSummaryMbTopSpc: 30px;

//Siparis ozet desktop ust bosluk
$orderSummaryDtTopSpc: 0;

//Siparis ozet arka plan
$orderSummaryBg: #ffffff;

// Siparis ozet desktop alt bosluk
$orderSummaryMarginBottomDesktop:50px;

//Siparis ozet ic bosluk
$orderSummaryPadding:20px;

//Siparis ozet ic alt bosluk
$orderSummaryBttmPadding:70px;

//Siparis ozet baslik
$orderSummaryTitle:20px;

//Siparis ozet baslık alt bosluk
$orderSummaryTitleBottomSpace:20px;

//Siparis ozet tablo satır alt bosluk
$orderSummaryRowBottomSpace:10px;

//Siparis ozet yazı boyutu
$orderSummaryTableFontSize:14px;

//Siparis ozet satın al buton ust bosluk
$orderSummaryButtonNextTopSpace:10px;

//Sepet ozet avantaj ikonları
$basketBenefitMarginBottom: 20px;

//Sepet ozet avantaj ikon alt bosluk
$basketBenefitIconMarginBottom: 5px;

//Sepet ozet yardim border rengi
$basketHelpBorderColor: #696b71;

//Sepet ozet yardim border radius
$basketHelpBorderRadius: 4px;

//Sepet module border radius
$basketModuleRadius: 4px;

//Sepet ozet yardim padding
$basketHelpPadding: 20px;

//Sepet tablo grid genel line-height
$gridLineHghtDefault: 18px;

//Sepet tablo grid bundle arka planı
$gridBundleBg: #fffcfc;

//Kupon kodu Inputu varsayilan degerler
$couponInputWidth:100% !important;
$couponInputMaxWidth:100%;
$couponInputTopSpc:15px;

//Kupon kodu Label ust boluk
$couponLblTopSpc:15px;

//Teslimat sol padding boslugu
$deliveryPageLeftPadding:30px;

//Teslimat kargo sekmesi inline padding
$cargoInlinePadding:20px;

//Teslimat kargo sekmesi title alt bosluk
$cargoTitleBottomPadding:20px;

//Teslimat adres bos uyari sol ve sag bosluk
$addressNoneMargin:15px;

//Hediye paketi alt bosluk
$giftPacketMb: 30px;

//Hediye paketi arka planı
$giftPacketBg: #ffe0e6;

//Align left
$alignLeft:left;

//Align right
$alignRight:right;

//Align center
$alignCenter:center;