@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
      background: #f7f7f7;
    }
    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

@mixin banner-body-bottom {
    top: auto;
    bottom: 0;
    transform: none;
}
@mixin banner-body-bottom-mobile {
    top: auto;
    bottom: 75px;
    transform: none;
}
@mixin banner-body-bottom-revert {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}
@mixin banner-body-static {
    position: static;
    transform: none;
}
.banner {
    position: relative;
    overflow: hidden;
    color: $colorWhite;
    .prm-media {
        position: relative;
        display: block;
        img,
        video {
            width: 100%;
            display: block;
        }
        video {
            &[poster] {
                object-fit: cover;
                object-position: center;
            }
            //lazy-video-banner
            &.is-scrolling {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .prm-title {
        font-size: 35px;
        b {
            font-weight: 700;
        }
    }
    .prm-marker {
        position: absolute;
        right: 26px;
        top: 50%;
        transform: translateY(-25%) scale(.9);
        opacity: 0;
        transition: all .32s ease;
        background: transparent;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .btn-transparent {
        border-color: transparent;
    }
    .btn + .btn {
        margin-left: 20px;
    }
    .btn-full {
        z-index: 10;
        @include ems-cover;
    }
    .prm-desc {
        font-family: $medium;
        font-size: 20px;
        a {
            color: $greyColor;
        }
    }
    .prm-link {
        svg {
            display: none;
        }
    }

    &-body {
        position: relative;
        z-index: 5;
        width: 100%;
        padding: 20px;
        &.colorWhite {
            span, a, p {
                color: $colorWhite;
            }
        }
    }

    //banner type01 *primary categories
    &01 {
        .prm-link {
            display: block;
            border-color: $greyBorderColor;
        }
    }

    //banner type02 *new season
    &02 {}

    //banner type03 *collections
    &03 {
        text-align: center;
        .prm-link {
            margin-top: 10px;
        }
    }

    //banner type04 *campaigns
    &04 {
        .banner-body {
            padding: 20px 0;
        }
        .prm-title {
            font-size: 16px;
        }
        .prm-desc {
            font-size: 16px;
            margin-top: 5px;
        }
    }

    //banner type05 *type02 menu
    &05 {}  

    //banner type06 *instagram first content
    &06 {
        height: 100%;
        .banner-body {
            @include banner-body-static;
            height: 100%;
            padding: 30px 20px 70px;
        }
        .prm-desc {
            font-size: 15px;
        }
    }

    //banner type07 *home slider
    &07 { 
        text-align: center;
        .banner-body {
            position: absolute;
            @include banner-body-bottom-mobile;
        }
        .banner-footer { 
            position: absolute;
            width: 100%;
            @include banner-body-bottom;
            text-align: center;
        } 
        .prm-title {
            i {
                font-style: normal;
                font-family: $play;
            }
            b {
                letter-spacing: 1.5px;
                font-family: $play;
                font-weight: normal;
            }
        }
        .prm-link {
            margin-bottom: 40px;
        }
        .prm-content {
            margin-top: $margin20;
            font-size: 22px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 340px;
            //background-image: linear-gradient(0, rgba($color: $colorBlack, $alpha: .75), transparent);
        }
    }

    //banner type08 *login
    &08 {
        text-align: center;
        height: 100%;
        max-height: calc(100vh - 60px);
        .slide-video { 
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%; 
            > span.mejs__offscreen {display:none;}
        }
        .prm-media video[poster] {
            max-height: calc(100vh - 60px) !important;
        }
        video {
            pointer-events: none;
        }
    }

    //banner type09 *primary box
    &09 {}

    //banner type10 *cart promotion
    &10 {
        .banner-body {
            @include banner-body-static;
            padding: 20px;
        }
        .prm-title {
            font-size: 14px;
        }
        .prm-desc {
            font-size: 14px;
            margin-top: 10px;
        }
    }

    //banner type11 *primary video
    &11 {
        text-align: center;
        height: 100%;
        max-height: calc(100vh - 60px);
        .slide-video { 
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%; 
            > span.mejs__offscreen {display:none;}
        }
        .prm-media video[poster] {
            max-height: calc(100vh - 60px) !important;
        }
    }

    //banner type12 *seo content
    &12 {
        color: $greyColor;
        .banner-body {
            @include banner-body-static;
            padding: 0;
        }
        .prm-content {
            font-family: $medium;
            font-size: 16px;
        }
    }

    //banner type13 *top notification
    &13 {
        height: 100%;
        .banner-body {
            @include banner-body-static;
            height: 100%;
            padding: 10px;
        }
        .prm-title {
            font-size: 13px;
            flex: 1;
            margin: 0 4vw;
            text-align: center;
        }
        .prm-link {
            text-decoration: underline;
            padding: 0;
            margin-left: 0 !important;
        }
        .countdown {
            font-size: 12px;
            font-weight: 700;
        }
    }

    //banner typeGrid grid
    &Grid { 
        text-align: center;
        .banner-body {
            position: absolute;
            @include banner-body-bottom-mobile;
        }
        .banner-footer { 
            position: absolute;
            width: 100%;
            @include banner-body-bottom;
            text-align: center;
        } 
        .prm-media {
            //@include aspect-ratio(1440, 800);
            display: block;
            width: 100%; 
        }
        .prm-title {
            b {
                letter-spacing: 1.5px;
                font-family: $play;
                font-weight: normal; 
            }
        }
        .prm-link {
            margin-bottom: 45px;
        }
        .prm-content {
            margin-top: $margin20;
        }
        /*&::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 340px;
            //background-image: linear-gradient(0, rgba($color: $colorBlack, $alpha: .75), transparent);
        }*/
    }
    //home slider transfrom
    &Transform {  
        text-align: center;
        height: 100%;
        max-height: calc(100vh - 60px);
        .banner-body {
            position: absolute;
            @include banner-body-bottom-mobile;
        }
        .banner-footer { 
            position: absolute;
            width: 100%;
            @include banner-body-bottom;
            text-align: center;
        } 
        .prm-title {
            i {
                font-style: normal;
                font-family: $play;
            }
            b {
                letter-spacing: 1.5px;
                font-family: $play;
                font-weight: normal;
            }
        }
        .prm-link {
            margin-bottom: 45px;
            text-decoration: underline; 
        }
        .prm-content {
            margin-top: $margin20;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 340px;
            //background-image: linear-gradient(0, rgba($color: $colorBlack, $alpha: .75), transparent);
        }
    }
}

// --- Banner Placeholder Padding --- //
// Anasayfa Slider
.homepage-slider {
    padding-bottom: $padding10;
    .prm-media {
        @include aspect-ratio(375, 480);
    }
    .banner {
        //height: calc(100vh - 60px); 
    }
}

.swiper-transform {
    padding-bottom: $padding10;
    .not-trigger {
        .swiper-inner {
            overflow: hidden;
        }
        .swiper-slide {
            
        }
    }
    .swiper-slide {
        overflow: hidden; 
        flex-shrink: 0 !important;
    }
    .prm-media {
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 60px);
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        @include aspect-ratio(375, 480);
    }
    .slider-pagination {
        .swiper-pagination {
            display: none;
        }
    }
    /*.banner11 {
        text-align: center;
        height: 100%;
        max-height: calc(100vh - 60px);
        .slide-video { 
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%; 
            > span.mejs__offscreen {display:none;}
        }
        .prm-media video[poster] {
            max-height: calc(100vh - 60px) !important;
        }
    }*/
    .slide-video-btn {
        display: none;
    }
}

.max-height-detect {
    .homepage-slider {
        .banner {
            //height: calc(100vh - 0px);
        }
    }
}

// Anasayfa ara banner görsel
.cover-slider {
    padding: 0 0 $padding10 0;
    .prm-media {
        @include aspect-ratio(375, 420);
    }
    .banner-body {
        @include banner-body-bottom-revert;
    }
}

// Lookbook banner görsel
.lookbook-slider {
    padding: 0 0 $padding10 0;
    .prm-media {
        @include aspect-ratio(375, 480);
    }
    .ems-video-player {
        &:before {
            padding: 0;
        }
        .slide-video {
            position: relative;
        }
    } 
    .banner-body {
        @include banner-body-bottom-revert;
    }
}

// Anasayfa Üst Kampanya görsel
.campaign-slider {
    padding: 0 0 $padding10 0;
    .prm-media {
        @include aspect-ratio(375, 420);
    }
    .banner-body {
        @include banner-body-bottom-revert;
    }
    .prm-content {
        margin-top: 50px;
        a {
            margin: 0 $margin10;
        }
    }
}

// Anasayfa ikili grid görsel
.grid-banner {
    padding:0 0 $padding10 0;
    .bannerGrid {
        padding: 0 0 $padding10 0;
    }
    .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        .swiper-slide {
           position: static;
           top: 60px; 
           width: 100%;
           &:last-child{
               .bannerGrid {
                   padding: 0;
               }
           }
        }
    }
}

// Login Slider
.login-slide {
    .banner {
        .banner-body {
            padding: 0 !important;
            transform: none;
            top: 100px;
            right: 50px; 
            left: auto;
            width: auto; 
            text-align: right;
        }
        .prm-title {
            font-size: 22px;
            max-width: 240px !important;
            line-height: 29px;
        }
    }
    .align-l {
        .banner {
            .banner-body {
                padding: 0 !important;
                transform: none;
                top: 100px;
                left: 50px; 
                width: auto; 
                text-align: left;
            }
        }
    }
    .swiper-slide {
        line-height: 0;
        &.sticky {
            top: 0;
        }
      }
}

// Bullet Slider

.bullet-slider {
    margin: 30px 0;
    .ems-section-title {
        font-size:$fontSize24; 
        padding: 0 $padding20 $padding30 $padding20;
        text-align: center;
        position: relative;
    }
    .prm-title {
        color: $colorBlack;
        font-size: $fontSize13;
        text-align: center;
    }
    .prm-media {
        overflow: hidden;
        border-radius: 100%;
    }
    .swiper-slide {
        width: 90px;
    }
    .closeIco {
        display: none;
        position: absolute;
        right: 15px;
        top: 0px; 
        svg {
            font-size: $fontSize20;
        }
    }
}

// Bullet slider popup
body.ems-popup-animate {  
    position: fixed;
    overflow: hidden;
    .bullet-slider {
        position: fixed;
        z-index: 12;
        background: #fff;
        top: 0;
        margin: 0;
        left: 0;
        width: 100%;
        padding: $padding10 0 10px 0;
        .ems-section-title {
            font-size: $fontSize13;
            font-family: $medium;
            text-align: left;
            padding: 5px $padding20 $padding15 $padding20;
        }
        .banner-body {
            padding: 10px 0;
        }
        .prm-title {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    .closeIco {
        display: inline-block;
    }
    // Mobil ürün popup açma
    .product-slider {
        &.selected {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }
}

// Kategori görsel ürün slider
.product-slider {
    @extend .display-flex;
    padding: 0;
    flex-wrap: wrap;
    position: fixed;
    z-index: 12;
    background: #fff;
    bottom: 0;
    overflow-y: auto;
    height: calc(100% - 175px);
    -webkit-overflow-scrolling: touch;  
    // görsel still
    .ems-section-wrapper {
        position: relative;
        width: 100%;
        margin-right: 0;
    }
    .ems-section-Img {
        margin-right: 0;
        margin-bottom: $margin30;
    }
    
    .ems-section-title {
        position: absolute;
        bottom: 18%;
        padding: $padding20;
        z-index: 1;
        width: 100%;
        text-align: center;
        font-size: 45px;
        color: $colorWhite;
    }

    // ürün still
    .swiper-product {
        .swiper-wrapper {
            flex-wrap: wrap;
        }
        .swiper-inner {
            margin: 0;
            overflow: visible;
        }
        li {
            width: calc(100% / 2);
            height: auto;
            padding: 0 $padding15;
        }
    }
}

// instagram feed
.instagram-feed {
    padding: 40px 0;
    .ems-section-title {
        font-size:27px;    
        padding: 0 $padding20 $padding30 $padding20;
        text-align: center;
        i {
            font-family: $play;
            display: block;
        }
    }
    .swiper-slide-cover {
        @include aspect-ratio(220, 220);
        background-size: cover !important;
        overflow: hidden;
        border-radius: 100%;
    }
    .swiper-wrapper {
        .swiper-slide {
            max-width: 90px;
        }
    }
}

.buysocial-slide-container {
    margin: 20px 0; 
}

// instagram feed
/*.instagram-feed {
    margin: 50px 0 20px 0;
    padding: 0;
    .swiper-wrapper {
        @extend .display-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:10px;
    }
    .prm-media {
        overflow: hidden;
        border-radius: 100%;
    }
    .swiper-slide {
        width: 90px;
        &:last-child {
            display: none;
        }
    }
    .ems-section-title {
        font-size:$fontSize24; 
        padding: 0 $padding20 $padding30 $padding20;
        text-align: center;
    }
}*/

// main blog
.main-blog {
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
    display: none;
    .ems-section-title {
        font-size:$fontSize24; 
        padding: 0 $padding20 $padding30 $padding20;
        text-align: center;
    }
    .ems-section-title {
        font-size:$fontSize24; 
        padding: 0 $padding20 $padding30 $padding20;
        text-align: center;
    }
    .blog-post-head {
        font-size: 26px;
    }
    .blog-post-text-wrap {
        width: 60%;
        margin: 0 auto; 
    }
    .blog-post-cat-text {
        color: $colorAlternate;
    }
    .blog-post-link {
        border-top: 1px solid $greyBorderColor;
        margin-top: 40px;
        padding-top: $padding30;
        display: block;
    }
}

