.banner {
    .prm-title {
        font-size: 40px;
    }
    .prm-link {
        svg {
            display: block;
            @extend .transition-desktop;
            position: relative; 
            left: 0;
        }
    }
    
    &-body {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 50px;
        padding-right: 50px;
    }


    //banner type01 *primary categories
    &01 {
        .banner-body {
            @include banner-body-bottom;
            padding: 30px;
        }
        .prm-title {
            font-size: 30px;
            padding-right: 160px;
        }
    }

    //banner type02 *new season
    &02 {
        .banner-body {
            padding: 20px 75px;
        }
    }

    //banner type03 *collections
    &03 {
        text-align: left;
        .banner-body {
            @include banner-body-bottom;
            padding: 40px 50px;
        }
        .prm-link {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
        }
    }

    //banner type04 *campaigns
    &04 {
        .banner-body {
            @include banner-body-static;
        }
        .prm-title {
            font-size: 30px;
        }
        .prm-link {
            padding-left: 0;
            padding-right: 0;
        }
    }

    //banner type05 *type02 menu
    &05 {
        .banner-body {
            @include banner-body-bottom;
            padding: 20px;
        }
        .prm-title {
            font-size: 14px;
        }
    }

    //banner type06 *instagram first content
    &06 {
        .prm-title {
            font-size: 30px;
        }
    }

    //banner type07 *home slider
    &07 {
        .banner-body {
            @include banner-body-bottom-revert;
            padding: 3% calc((100% - 560px) / 2);
        }
        .prm-title {
            font-size: 60px;
        }
        .prm-link {
            margin-top: 30px;
            margin-bottom: 45px;
        }
        .prm-media {
            @include aspect-ratio(1440, 800);
        }
        &::before {
            display: none;
        }

        /*&.v2 {
            .prm-media-custom {
                right: calc((100% - 1000px) / 2);
                width: auto;
                max-height: 698px;
            }
            .swiper-slide-active & {
                .banner-body {
                    animation: animation-05 .7s ease .35s forwards;
                }
            }
        }*/
    }

    //banner type08 *login
    &08 {
        .banner-body {
            @include banner-body-bottom-revert;
            padding: 3% calc((100% - 560px) / 2);
        }
        .prm-title {
            font-size: 60px;
        }
        .prm-link {
            margin-top: 30px;
            margin-bottom: 45px;
            text-decoration: none;
        }
        .prm-media {
            @include aspect-ratio(1440, 800);
        }
        &::before {
            display: none;
        }
    }

    //banner type09 *primary box
    &09 {
        .banner-body {
            @include banner-body-bottom;
            padding: 24px;
        }
        .prm-title {
            font-size: 22px;
            text-shadow: 0 0 35px #000;
        }
    }

    //banner type10 *cart promotion
    &10 {
        .banner-body {
            @include banner-body-static;
        }
        .prm-title {
            font-size: 14px;
        }
    }

    //banner type11 *primary video
    &11 {
        .banner-body {
            @include banner-body-bottom-revert;
            padding: 3% calc((100% - 560px) / 2);
        }
        .prm-title {
            font-size: 60px;
        }
        .prm-link {
            margin-top: 30px;
            margin-bottom: 45px;
            text-decoration: none;
        }
        .prm-media {
            @include aspect-ratio(1440, 800);
        }
        &::before {
            display: none;
        }
    }

    //banner type12 *seo content
    &12 {
        .prm-title {
            font-size: 30px;
        }
    }

    //banner type13 *top notification
    &13 {
        .banner-body {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .prm-title {
            font-size: 16px;
            min-width: 300px;
            flex: none;
        }
        .countdown {
            font-size: 18px;
        }
    } 

    //banner typeGrid grid
    &Grid {
        .banner-body {
            @include banner-body-bottom-revert;
            padding: 3% calc((100% - 560px) / 2);
        }
        .prm-title {
            font-size: 60px;
        }
        .prm-link {
            margin-top: 30px;
        }
        &::before {
            display: none;
        }

        &.v2 {
            .prm-media-custom {
                right: calc((100% - 1000px) / 2);
                width: auto;
                max-height: 698px;
            }
            .swiper-slide-active & {
                .banner-body {
                    animation: animation-05 .7s ease .35s forwards;
                }
            }
        }
    }
    // home slider transform
    &Transform {
        .banner-body {
            @include banner-body-bottom-revert;
            padding: 3% calc((100% - 560px) / 2);
        }
        .prm-title {
            font-size: 60px;
        }
        .prm-link {
            margin-top: 30px;
            margin-bottom: 45px;
            text-decoration: none;
        }
        .prm-media {
            @include aspect-ratio(1440, 800);
        }
        &::before {
            display: none;
        }

        /*&.v2 {
            .prm-media-custom {
                right: calc((100% - 1000px) / 2);
                width: auto;
                max-height: 698px;
            }
            .swiper-slide-active & {
                .banner-body {
                    animation: animation-05 .7s ease .35s forwards;
                }
            }
        }*/
    }
    &:hover {
        .prm-link svg {
            left: 5px;
        }
    }
}

//options
.theme-light {
    .banner {
        color: $colorBlack;
    }
}

.align-l {
    .banner {
        text-align: left;
        &07, &Transform {
            .banner-body {
                padding:3% 3% 3% 200px;  
                .prm-title {
                    max-width: 560px;
                }
            }
            .banner-footer {
                padding: 0 0 0 200px;
                text-align: left;
            }
        }
    }
}

// --- Banner Placeholder Padding --- //
// Anasayfa Slider
.homepage-slider {
    padding-bottom: $padding30;
    .prm-media {
        @include aspect-ratio(1440, 800);
    }
}

.swiper-transform {
    .slider-pagination {
        .swiper-pagination {
            display: block;
        }
    }
    /*.banner11 {
        .banner-body {
            @include banner-body-bottom-revert;
            padding: 3% calc((100% - 560px) / 2);
        }
        .prm-title {
            font-size: 60px;
        }
        .prm-link {
            margin-top: 30px;
            margin-bottom: 45px;
            text-decoration: none;
        }
        .prm-media {
            @include aspect-ratio(1440, 800);
        }
        &::before {
            display: none;
        }
    }*/
}

// Anasayfa ara banner görsel
.cover-slider {
    padding: $padding30;
    .prm-media {
        @include aspect-ratio(1380, 650);
    }
}

// Lookbook banner görsel
.lookbook-slider {
    .prm-media {
        @include aspect-ratio(1440, 800);
    }
    .ems-video-player {
        @include aspect-ratio(1440, 800);
        .slide-video {
            position: absolute;
        }
    } 
}

// Anasayfa ara banner görsel
.campaign-slider {
    padding: 0 0 $padding20 0;
    .prm-media {
        @include aspect-ratio(1380, 650);
    }
}


// Anasayfa ikili grid görsel
.grid-banner {
    padding: $padding30;
    .bannerGrid {
        margin:0 $margin10;
        padding: 0;
    }
    .swiper-wrapper {
        flex-wrap: inherit;
        justify-content: center;
        .swiper-slide {
            @extend .sticky-desktop;
           top: 60px; 
           width: auto;
        }
    }
    .prm-media {
        overflow: hidden;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        transform: scale(1);
    }
    .bannerGrid:hover {
        .prm-media {
            transform: scale(1.03); 
        }
    }
}

// Kategori görsel ürün slider
.product-slider {
    @extend .display-flex-desktop;
    padding: $padding30;
    flex-wrap: nowrap;
    position: static;
    overflow-y: visible;
    // görsel still
    .ems-section-wrapper {
        position: relative;
        flex: 1;
        margin-right: $margin20;
    }
    .ems-section-inner { 
        position: sticky;
        top: 60px;
        max-height: calc(100vh - 60px);
        overflow: hidden; 
    }
    .ems-section-Img {
        margin-right: $margin15;
        margin-bottom: 0;
    }
    
    .ems-section-title {
        position: absolute;
        bottom: 18%;
        padding: $padding20;
        z-index: 1;
        width: 100%;
        text-align: center;
        font-size: 45px;
        color: $colorWhite;
    }

    // ürün still
    .swiper-product {
        flex: 1;
        .swiper-wrapper {
            flex-wrap: wrap;
        }
        .swiper-inner {
            overflow: hidden;
        }
    }
    .prd{
        .prd-image {
            > a {
                overflow: hidden;
                img {
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    transform: scale(1);
                }
            }
        }
        //opacity: 0;
        &:hover {
            .prd-image {
                > a {
                    img {
                        transform: scale(1.03); 
                    }
                }
            }
        }
    }
}

// instagram feed
.instagram-feed {
    padding: 40px;
    .ems-section-title {
        i {
            display: inline-block; 
        }
    }
    .swiper-wrapper {
        @extend .display-grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
        grid-gap: 10px;
        .swiper-slide {
            max-width: none;
            &:last-child {
                grid-column: 5 / span 2;
                grid-row: 1 / span 2;
            }
        }
        .swiper-slide-cover {
            overflow: visible;
            border-radius: inherit;
        }
    }
}

// instagram feed
/*.instagram-feed {
    margin: 0;
    padding: 20px;
    .swiper-wrapper {
        @extend .display-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:10px;
    }
    .ems-section-title {
        margin-bottom: 30px;
        padding: 0;
        font-size: $fontSize15;
    }
    .prm-media {
        border-radius: 0;
    }
    .swiper-slide {
        width: auto;
        &:last-child {
            display: block;
        }
    }
    .banner10 {
        height: 100%;
        @extend .display-flex-desktop; 
        align-items: center;
        .banner-body {
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
        .prm-title {
            color: $colorBlack;
            font-size: 29px;
            b {
                font-weight: normal;
                font-family: $play;
            }
        }
    }
}*/

// main blog
.main-blog {
    text-align: center;
    padding: 20px;
    margin: 0;
    .swiper-wrapper {
    }
    .ems-section-title {
        margin-bottom: 30px;
        font-size: $fontSize15;
        padding: 0;
    }
}
