.navigasyon {
    margin-top: 60px;
    padding: $padding15 $padding30;
}

.nav-type2 {
    .navigasyon {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        padding: 40px;
        ol {
            color: $colorBlack;
        }
    }
}