//EMOS CONFIRM
.emos-confirm {
    max-width: calc(100% - 20px);
}

//JQUERY CONFIRM
.jconfirm {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.jconfirm-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.jconfirm-box-container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    transition: transform;
    background: #fff;
}
.jconfirm-box {
    position: relative;
    outline: none;
}
.jconfirm-closeIcon {
    position: absolute;
    right: 20px;
    top: 14px;
    width: 32px;
    height: 32px;
    padding: $padding20;
    border-radius: 100%; 
    z-index: 9;
    cursor: pointer;
    background: #eeeeee url(#{$baseHref + '/images/frontend/close.svg'}) no-repeat center;
}

.jconfirm-content-pane {
    transition-property: height;
    height: auto;
}
.jconfirm-content {
    height: 100%;
    min-height: 550px;
    -webkit-overflow-scrolling: touch; 
    overflow-y: scroll; 
}
.jconfirm-title-c {
    display: none;
}

.ems-custom-form .jconfirm-content-pane, .ems-price-quate .jconfirm-content-pane, .fav-group-popup .jconfirm-content-pane {
    height: 100vh!important;
}

//MINUS POPUP
a.btnMinPpCl[class] {
    @extend .jconfirm-closeIcon;
}

//POPUP INNER
$p: 20px;
.popupDefault {
    text-align: left;
    padding: 0 30px 30px 30px;
    > [class*="_mesaj"],
    > [class*="_aciklama"] {
        margin-top: 10px;
    }
    
    > [class$="Yazdir"] {
        display: none;
    }
    > div {
        color: #4a4a4a;
        font-size: 13px;
        line-height: 17px;
    }
} 
.popupTitleDefault { 
    position: sticky;
    top: 0;
    padding: 30px 40px 30px 0px;
    font-size: 16px !important;
    font-family: $medium;
    font-weight: normal;
    text-align: left;
    margin-bottom: 10px;
    color: #000 !important;
    //min-height: 60px;
    background: #fff;
}

/*Üye Giriş Popup*/
.popupUyeGiris {
    padding:40px 50px !important;
    input {
        width:100%; 
        margin-bottom:10px; 
        box-shadow: none; 
        border: none; 
        outline: none; 
        padding: 10px; 
        line-height: 30px; 
        color: #424242; 
        background: #f5f5f5; 
        font-size: 14px; 
        font-family: $regular; 
        border: none; 
    }
    #lnkSifremiUnuttum {float:none; margin:0;}
    .emos_invisible {
        display:none !important; 
    }
}
.popupUyeGiris_lnkSifremiUnuttum {
    position:absolute; 
    right:0px; 
    bottom:20px;
}
.tableUyeGiris {
    width:100%;
    font-family: $medium; 
    font-size: 18px; 
    padding:0 !important;
    tbody, tr, th, td {
        display:inline-block; width:100% !important;
        &:empty {
            display:none;
        }
    }
    tr {position:relative;}
    th {
        font-family: $regular !important; 
        font-size: 12px; color: #757575; 
        line-height: 1.4; 
        margin-bottom: 5px; 
        text-align:left; 
        //position: absolute; left: 10px; top: 10px;
    }
}

.popupUyeGiris_girisHata {
    svg {
        display: none !important; 
    }
}

.popupStokHaberci {
    padding:40px;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.popupStokHaberci_urunAd {
    font-family: $medium;
    font-size: 16px;
}

.popupUyeGiris_btnPopupLogin {
    th {margin-top: 5px; position:static;}
    table {
        display: table !important; 
        width: 100%;
        a {
            width:100%; 
            display: inline-block; 
            float:right; 
            position: relative; 
            display: inline-block; 
            padding: 15px 20px;
            text-decoration: none; 
            font-size: 16px !important; 
            color: #fff; 
            font-family: $medium; 
            text-align: center; 
            font-weight: normal; 
            span {text-transform:uppercase;}
        }
    }
}

.popupUyeGiris_lnkSifremiUnuttum {
    margin-top: 20px;
    span {
        font-size: 12px; font-family: $medium; 
        color: #757575; 
        text-decoration: underline;
    }
}
.popupUyeGiris_lnkUyeOlmak {
    margin-top: 20px;
    a {
        text-decoration:none;
    }
    span {
        font-size: 14px; 
        font-family: $medium; 
        color:#3f4552; 
        text-transform:uppercase; 
    }
}

//CUSTOM POPUP OBJ
.sub-close {
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 1;
}
.sub-header {
    position: relative;
    font-size: 14px;
    padding-bottom: $padding20;
    margin-bottom: $margin20;
    border-bottom: 1px solid $gridRowBorder;
}
.sub-desc {
    font-size: 15px;
}

.popupOtomasyon_icerik{
    word-break: break-all;
    .site_textarea{
        width: 100% !important;
    }
}