
// Display class
.dBlock {display:block;}
.iBlock {display:inline-block;}

// Margin class
.m-bttm-5 {margin-bottom: 5px;}
.m-bttm-10 {margin-bottom: 10px;}
.m-bttm-20 {margin-bottom: 20px;}
.m-bttm-30 {margin-bottom: 30px;}
.m-rght-10 {margin-right: 10px;}
.m-rght-20 {margin-right: 20px;}
.m-top-5 {margin-top: 5px;}
.m-top-20 {margin-top: 20px;}

// Padding class
.p-r-20 {padding-right: 20px;}
.p-t-20 {padding-top: 20px;}
.p-l-20 {padding-left: 20px;}
.p-b-20 {padding-bottom: 20px;}
.p-reset {padding: 0px;} 

// Align 
.align-right {text-align: right;}

// Font Size

.fs10 {font-size:$fontSize10;}
.fs12 {font-size:$fontSize12;}
.fs14 {font-size:$fontSize14;}
.fs16 {font-size:$fontSize16;}
.fs20 {font-size:$fontSize20;}

// Font Family
.regular {font-family:$regular;}
.medium {font-family:$medium;}
.bold {font-family:$bold;}

// TL Font
.pb1 {font-family: cursive;}

// Boşluk
.space20 {height: 20px; display: block;}
.space30 {height: 30px; display: block;}

// Gird Area 
.ga6{
    grid-area:FFF;
}