// --- ÜYE SAYFASI SİPARİŞLERİM DETAY -- //

// Sipariş detay içerik bilgileri
.order-detail-info {
    > div {
        flex: 0 50%;
        .text {
            flex: 0 35%;
        }
    }
    .act-btns {
        > div {
            margin-right:$memberMargin30;
            &:last-child {
                margin-right: 0; 
            }
        }
    }
}

// Sipariş detay adres
.order-detail-address {
    > div {
        flex: 1 50%;
    }
    .order-address {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0; 
    }
}

// Sipariş detay sepet
.grid-table-cart {
    .grid-row {
        .ga2 {
            flex: 1;
            flex-direction: row;
            align-items: center;
        }
    }
}