// --- ÜYELİK HESABIM -- //
.member-grid { 
    grid-template-columns: minmax(0,5%) minmax(0,25%) minmax(0,75%) minmax(0,5%);
    grid-template-areas: ". AAA BBB ."; 
    column-gap: 30px;
    padding: $memberPadding30 $memberMarginReset
}


