// --- ÜYE SAYFASI MESAJ -- //

//Mesajlarım tab menü
.swiper-tab-menu {
    background: none;
    ul{
        li{
            width: auto; 
            a{
                font-size: $fontSize13;
                padding: 12px 10px;
                span {
                    font-size: $fontSize13;
                }
            }
        }
    }
}

// Mesajlarım listeleme sayfası
.grid-table-message {
    // Mesajlarım listeleme düzeni
    padding: 0;
    .grid-row {
        flex-wrap: nowrap;
        padding: 0;
        margin-bottom: 0;
        background: none;
        border-bottom: 1px solid $memberLightGreyColor; 
        font-family: $regular;
        .label {
            padding: 10px 20px 10px 0px;
            display: none; 
            color: $colorBlack;
            &.none {
                span {
                    display: none !important;
                }
            }  
        }
        .grid-title {
            .form {
                font-family: $regular;
            }
        }
        &.newMessage {
            font-family: $medium;
            .form {
                font-family: $medium; 
            }
        }
        &:first-child {  
            .label { 
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;   
                min-height: 33px;
                font-family: $medium;
            }  
            //.form {border-top: 1px solid $memberLightGreyColor;}
        }
        
    }
    .grid-icon {order: 1;} 
    .grid-date {
        order: 2; 
        flex: 1;
        .label, .form {padding-left: 0px;}
    }
    .grid-title {order: 3; flex: 2; margin-bottom: 0;}
    .grid-order-id {order: 4; flex: 1;}
    .grid-status {order: 5; flex: .5; align-items: normal;}   
}

// Mesaj yapı düzenleme 
.member-message {
    padding: $padding20 !important;
    .message-tab-menu {
        margin-bottom: $margin20;
    }
}