// --- ÜYE SAYFASI SİPARİŞLERİM DETAY -- //

// Sipariş detay içerik bilgileri
.order-detail-info {
    position: relative; 
    margin-bottom: $margin20;
    padding: 0;
    background: none;
    > div {
        flex: 0 50%;
        .text {
            flex: 0 35%;   
        }
    }
    &-payment { 
        max-width: 340px;
        width: 100%;
        float: right;
        background: none; 
        font-family: "regular"; 
        .pnlDipToplamTable {
            font-size: $fontSize13;
        }
    }
}

.order-detail-btn.act-btns {
    position: absolute;
    right: 0px; 
    top: 0px;
    border: 0;
    padding: 0;  
    > div {
        //margin: 0; 
    }
}

// Sipariş detay adres
.order-detail-address { 
    border: 0;
    padding: 0; 
    > div {
        flex: 1;
    }
    .order-address {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;  
        display: block;
        .text {
            margin-bottom: 10px; 
            margin-top: $margin20; 
            width: 100%;
            max-width: none;
        }
        .value {
            padding: 30px;
        }
    }
    .page-top-title {
        display: block !important;   
    }
    .value {
        border: 1px solid #ededed;
    }
}

// Sipariş detay sepet
.grid-table-cart {
    .grid-row {
        .ga2 {
            flex: 1;
            flex-direction: row;
            align-items: center;
        }
    }
}

.member-order-detail {
    padding: 20px 15px !important;
    .grid-table-cart {
        margin-top: 0;
    }
    a {
        width: auto; 
        display: inline-block;
        &:before {
            background: #f8f8f8;
            color: $colorBlack;
        }
    }
    .member-back {
        margin-top: $margin20;
    }
    .step0 {
        padding: 0;
    }
    .order-detail-info {
        .act-btns {
            padding: 0 !important; 
        }
    }
    .act-btns {
        padding: 0 !important;
    }
}

// Fatura Popup

.tableFatDetay {
    tbody {
        > tr {
            flex: 100%;
            th, td {
                flex: 50%;
            }
            &:last-child {
                th {
                    order: 1;
                }
                td {
                    order: 2;
                }
             }
        } 
    }
 }

 .gridFatDetayListe {
    tbody {
        display: table-row-group;
        > tr {
            display: table-row;
            &:nth-child(1), &:nth-child(2) {
                th, td {text-align: right;}
            }
        }
        tr:nth-child(1) {
            height: 30px;
        } 
        tr:nth-child(2) {
            height: 40px; 
            td {
                &:nth-child(1) {
                    text-align: left;
                }
                &:nth-child(2) {
                    text-align: center;
                }
            }
        } 
        th {
            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                text-align: right !important; 
            }
        }
    }
}