// --- ÜYE SAYFASI MESAJ -- //

//Mesajlarım tab menü
.swiper-tab-menu{
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    ul{
        li{
            a{
                @extend .display-block; 
                font-size: $memberFontSize14;
                padding: 20px 10px;
                text-align: $alignCenter;
                background: none;
                position: relative;
                //secili arka plan
                &.emos_selected, &.selected{
                    &:after {
                        height: 2px;
                        content: '';
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                span {
                    color: #000;
                    font-size: $memberFontSize14;
                }
            }
            &.selected {
                a {
                    &:after {
                        height: 2px;
                        content: '';
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

// Mesaj yapı düzenleme
.swiper-tab-menu-message {display: none;}
.member-message {
    padding: 0 !important;
    .message-tab-menu {
        min-height: 41px;
        margin-bottom: 0;
    }
    .swiper-tab-menu-message {
        display: block;
    }
}

// Mesajlarım listeleme sayfası
.grid-table-message {
    padding: $padding20;
    // Mesajlarım listeleme düzeni
    .grid-row { 
        flex-wrap: wrap;
        margin-bottom: $margin5;
        padding: 25px 15px;
        background: #f8f8f8; 
        > div {
            flex-direction: column;
        }
        &.newMessage {
            font-family: $medium;
            .label {
                font-family: $regular; 
            }
            .form {
                font-family: $regular;
            }
            .grid-title {
                .form {
                    font-family: $medium;
                }
            }
        }
        .label { 
            //padding: 10px 20px 5px 20px;
            font-size: $fontSize12;
            background: #f8f8f8;
            color: #6b6b6b;
        }
        .form { 
            padding: 8px 10px 8px 0;
            flex-grow: 1;
            align-items: center; 
            font-size: $fontSize13;
            font-family: 'regular';
        }

        .grid-title {
            .form {
                font-family: $medium;
            }
        }
        
        /*&:last-child {
            border: 0;
        }*/
    }
    .grid-icon {
        flex: 0;
        order: 1;
        img {
            width: 32px;
            padding: 0; 
            display: inline-block;
        }
        .label {display:none;}
        .form {align-items: start;} 
    }
    .grid-date {
        flex: 1 50%; 
        order: 4;
        .label, .form {padding-left: 40px;} 
    }
    .grid-title {
        flex: 1 60%; 
        order: 2;
        margin-bottom: $margin10;
        .label {display:none;}
        .form {
            font-family: $medium;
        }
    }
    .grid-order-id {flex: 1 50%; order: 5;}
    .grid-status {
        flex: 1 20%;
        order: 3; 
        align-items: center;
        .label {display:none;} 
    }
}

.pageHeaderMesaj {
    display: none; 
}

.member-message-detail {
    .col.num3, .col.num4, .col.num8 {display:none !important;}
    .col.num6 {
        width: 100% !important;
        &:last-child {display:none !important;}
    }
}