// --- ÜYELİK FAVORİ -- //

/* --- Favori Liste --- */
.member-favorite {
    del {color: $memberGreyColor;}
    /* Favori Button */
    .field-submit {
        flex-wrap: wrap; 
        width: 100%;
        justify-content: center;
        padding: 0 $memberPadding15 $memberPadding20 $memberPadding15 !important; 
        margin-top: 0;
        .form-obj {
            width: 100%;
            margin: 0 0 $margin10 0; 
        }
    }
    // Favori Liste Özellikleri
    .grid-row {
        overflow: visible;
        flex-wrap: wrap;
        position: relative;
        border-bottom: 1px solid #eee;
        padding-bottom: $memberPadding20;
        margin-bottom: $memberMargin20;
        > div {
            padding-right: $memberPadding10;
            &:last-child {
                padding-right: 0;
            }
        }
        .ga1 {flex:100%;} 
        .ga2 {flex:100%; margin-top:$memberMargin20;}   
        &:last-child {
            padding-right: 0;
            //border-bottom: 0;
            //padding-bottom: 0; 
            margin-bottom: 0; 
        }
    }

    /* Favori liste ürün bilgi */

    /* --- Favori Sol Alan --- */
    // Checkbox   
    .grid-select {flex: 1 37px;}
    // Görsel
    .grid-img {
        flex: 1 120px;  
        padding-right: 25px;
        img {
            width: 100px;
        }
        a {
            display: inline-block;
        }
    } 
    // Ad fiyat indirim kapsayıcı
    .grid-content {flex: 1 100%;}
    .grid-name {
        line-height: $labelLineText;
        font-family: $medium;
    } 
    // Fiyat
    .grid-price {
        .price-wrapper {
            flex-wrap: wrap;
        }
        .price {
            white-space: nowrap; 
        }
        .first {
            color: $colorRed;
        }
        .price-discount {
            color: $memberRedColor;
            .dvSepetKazancOran {
                &:empty ~ {
                    .dvSepetKazancOranLabel {
                        display: none;
                    }
                }
            }
        }
    }

    /* --- Favori Sağ Alan --- */ 

    // Beden
    .grid-option {flex: 1 30%; margin-right: $memberMargin10; min-width: 120px;}
    // Sepete ekle gelince haber ver
    .grid-report {
        flex: 1 60%;
        a {
            white-space: nowrap;
        }
    }
    // Kaldır
    .grid-remove {
        margin-top: 0;
        position: absolute;
        top: 0px;
        right: 0; 
        a {
            span {
                text-decoration: $linkUnderline; 
                font-size: $memberFontSize12;
            }
        }
        svg {
            font-size:$fontSize20; 
        }
    }
    // Adet
    .grid-piece {
        position: relative;
        flex: 1 20%; 
        margin-right: $memberMargin10;
        display:none;
        input {
            width: 100% !important;
            padding: $memberInputPadding;
            line-height: 2;
        }
        .top-btn {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .bottom-btn {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
    // Empty Class
    &.no-result {
        padding-top: 0;
        .message-favorite {
            text-align: center;
            display: block;
        }
        .field-submit {
            display: none;
        }
    }
}

/* favori dropdown */

.member-favorite {
    .dropdown-options {
        display: none !important;
    }
}

.urunListe_secenek1 { 
    .dropdown-trigger {
        display: block;
        padding: 9px 30px 9px 10px;
        //background: $memberLightGreyColor;
        border-color:#dfdfdf; 
    }
    .dropdown-header {
        &:after {
            right: 10px;
        }
    }
    .dropdown-options { 
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9;
        width: 100%;
        margin: 0;
        padding: $memberPadding10;
        background: $memberLightGreyColor;
        //border: 1px solid $memberLightGreyColor;
        a {
            //margin-bottom: $memberMargin5; 
            display: block;
            text-align: center;
            line-height: normal;
            .dropdownrow {
                height: auto; 
                line-height: 20px;
                font-size: 13px;
                padding: 0;
                border: 0 !important;
            }
            &.selectedOption  {
                .dropdownrow {
                    font-family: $medium;
                }
            }
        }
    }
    &.opened {
        .dropdown-options {
            display: block !important;
        }
    }
}