// Üye sayfası menü liste
.member-menu {
    //padding-top: 20px;
    padding: 0px;
    border: 1px solid #ddd;
    &-user {
        padding: 30px 20px;
    }
    ul {
        display: block; 
        border: 0;
        li {
            border-top: 1px solid #ddd;
            a {
                padding: 16px 20px;
            }
        }
    }
}

.swiper-member {
    .swiper-wrapper {  
        flex-wrap: wrap;
    }
    .swiper-slide {
        //border-top: 1px solid $borderColor;
        //border-bottom: 0;
        width: 100%;
        a {
            display: block;
            padding-left: $padding15;
            &:before {
                content: '';
                opacity: 0;
                transform: scale(0.1);
                @extend .transition-desktop; 
            }
            &:hover {
                &:before {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background: $colorBlack;
                    position: absolute;
                    left: 0px; 
                    top: 9px;
                    opacity: 1;
                    transform: scale(1.0);
                }
            }
        }
        &.selected, &.act { 
            a {
                color: $colorBlack;
                border-bottom: 2px solid $colorBlack;
                &:after {
                    display: none;
                } 
            }
        }
        &:last-child {
            //border-bottom: 1px solid $borderColor;
        }
        &.selected {
            a {
                border: 0; 
                color: $colorBlack;
                &:before {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background: $colorBlack;
                    position: absolute;
                    left: 0px;  
                    top: 9px;
                    transform: scale(1.0);
                    opacity: 1;
                }
            }
        }

    }
}

// --- ÜYE SAYFASI SOL MENÜ -- //

// Üye sayfası sol menü button
a.btnMember {
    padding: $padding5 $padding10;
    border: 0;
    font-size: $fontSize13;
    &:hover {
        color: $colorBlack;
    }
}