// --- ÜYELİK HESABIM -- //
.member-grid { 
    grid-template-columns: minmax(0,20px) minmax(250px,0) minmax(0,75%) minmax(0,20px);
    grid-template-areas: ". AAA BBB ."; 
    column-gap: 15px;   
    padding: $memberPadding30 $memberMarginReset;
}

.member-info {
    .field-submit {
        flex: none;
        width: auto;
    }
}


