.member-follow-list {
    del {color: $memberGreyColor;}
    .grid-row {
        border-bottom: 1px solid $memberLightGreyColor;
        padding-bottom: $memberPadding20;
    }
    .grid-img {
        padding-right: $memberPadding10;
        flex: 0 120px;
    }
    .grid-code {
        a {
            font-size: $memberFontSize12;
            color: $memberGreyColor;
        }
    }
    .grid-content {
        padding-right: $memberPadding10;
        flex: 2;
    }
    .grid-name {
        line-height: $labelLineText; 
    }
    .grid-price {
        .price {
            white-space: nowrap;
        }
        .first {
            color: $memberGreyColor; 
        }
    }
    .grid-remove {
        a {
            span {
                text-decoration: $linkUnderline;
                font-size: $memberFontSize12;
            }
        }
    }
}