// --- SİPARİŞ DETAY --- //

// Sipariş detay içerik bilgileri
.order-detail-info { 
    flex-wrap: wrap; 
    background: #f6f6f6;
    padding: $padding20;
    > div {
        flex: 100%; 
        margin-bottom: 15px;  
        .text {
            color: $memberGreyColor; 
            flex: 0 50%; 
            padding-right: 10px;
            font-family: $medium;
        }
        .value {
            color: $memberDarkColor; 
            font-size: $fontSize13; 
            flex: 0 50%; 
            &#plhParaBr { 
                font-family: cursive; 
            }
        }
        &.full-flex {
            flex: 1 100%;
        }
    } 
    .no {
        padding-bottom: $padding15;    
        margin-bottom: $margin20;
        border-bottom: 1px solid #eee;
        .text {
            color: $memberDarkColor;
            flex: none;
            font-family: $medium;
        }
        .value {
            font-family: $medium;
            font-size: $fontSize14;   
        }   
    }
    .act-btns {
        border-top: 1px solid #eee;
        margin-bottom: 0; 
        padding-top: 15px; 
        flex: 1 100%;
        flex-wrap: wrap;
        div {
            margin-right:$margin10;
            a {
                text-decoration: underline; 
                span {
                    font-size: $fontSize12 !important;
                }
            }
            &:empty {
                display: none;
            }
           &:last-child {
                margin-right: 0;
           }
        }
    }
    
}

// Sipariş detay adres
.order-detail-address {
    flex-wrap: wrap; 
    align-items: center; 
    padding: 0 $padding20 $padding20 $padding20;
    border-bottom: 1px solid $memberLightGreyColor;
    > div {
        flex: 1 100%;
        padding-right: 20px;
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0; 
        }
    }
    .order-address {
        //border-bottom:1px solid $memberLightGreyColor;
        padding-bottom: $memberPadding20; 
        margin-bottom: $memberMargin20;  
        @extend .display-flex;
        .text {
            white-space: nowrap;
            margin: 0; 
            width: 100%;
            max-width: 100px;  
        }
        .value {
            padding: 0 20px;
        }
        &-billing {
            margin-bottom: 0;  
        }
    }
    .page-top-title {
        flex: 1 100%;
    }
    .text {
        color: $memberDarkColor;
        margin-bottom: 10px; 
        margin-top: $margin20; 
        font-size: $fontSize12;
        font-family: $medium; 
    }
    .value {
        line-height: $labelLineText;
        border: 0;
        padding: $padding30;
        font-size: $fontSize13; 
    }
    a {
        font-size: 0;
        display: inline-block;
        margin-top: 25px; 
        width: 100%;
        &:before {
            content: 'Kargo Takibi';
            font-family: $medium;
            background: $colorBlack;
            padding: 15px 20px;
            font-size: $fontSize14;
            color: #fff;
            display: inline-block;
            width: 100%;
            text-align: center;  
        }
    }
}

// Sipariş detay sepet
.grid-table-cart {
    .grid-row {
        border-bottom:1px solid $memberLightGreyColor;
        padding-bottom: $memberPadding15;
        margin-bottom: $memberMargin15;   
        &:last-child {
            margin: 0;
            //padding: 0;
            //border: 0;    
        } 
        > div {
            &:empty {
                display: none;
            }
        }
        .grid-name { 
            a {
                font-size: $fontSize13; 
                font-family: $medium;
                line-height: $memberLineHeight; 
                color: $memberDarkColor; 
                br {
                    display: none;
                }
                strong {
                    font-weight: normal;
                    display: block;
                }
            }
        }
        .ga1 {
            margin-right: $memberMargin20; 
            a {
                display: inline-block; 
                img {
                    width: 100%;
                    max-width: 90px; 
                }
            }
        }
        .ga2 {
            flex-direction: column; 
            align-items: normal;
            > div {
                margin-bottom: $memberMargin10; 
            }
            .form-obj {
                margin-bottom: 0; 
            }
        }
        .grid-piece {
            color: $memberGreyColor;
            font-size: $memberFontSize12;
            margin-bottom: $margin5;
        }
        .grid-price {
            font-size: $fontSize13;  
            font-family: $medium;  
        }
        .brFiyat, .brFiyatVrg {  
            color: $colorRed;
        }
    }
}

// Sipariş Sonuç
.order-detail-info-payment {
    background: #f6f6f6;
    padding: $padding30 $padding20 !important;
    font-family: $medium;
    .pnlDipToplamTable {
        flex-direction: column;
        font-size: $fontSize14;
        padding: 0;
        @extend .display-flex;
        > div {
            .text { 
                &:empty {display: none;}
                float: left;
                margin-bottom: $memberMargin10;
            }
            .value {
                &:empty {display: none;} 
                float: right;
                margin-bottom: $memberMargin10;
            }
            &.total {
                font-family: $medium;
                border-top: 1px solid #d8d8d8;
                margin-top: $margin10;
                padding-top: $margin20;
                .value {
                    font-size: $fontSize16;
                }
            }
            &.discount {
                color: $colorRed;
            }
            &:last-child {
                > div {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.member-order-detail {
    padding: 20px 0 0 0 !important;
    .page-top-title.none { 
        display: none !important;   
    }
    .member-back {
        margin-left: 0;
        margin-top: 0;
        span {
            font-size: $fontSize12;
        }
    } 
    .step0 {
        padding: 0 $padding20;
    }
    .order-detail-info {
        .act-btns {
            padding: $padding15 0 0 0 !important; 
        }
    }
    .act-btns {
        padding: $padding20 $padding20 0 $padding20 !important;
    }
    span[id$="lblURN_INDIRIMLIFIYAT"] {
        text-decoration: none;
    }
}

// Fatura Popup

.popup_faturadetay {
    max-width: 800px !important;
}

.tableFatDetay {
   font-size: 12px;
   margin-bottom: 20px;
   span {
        font-size: 12px; 
   } 
   th {
       span {
           font-family: $medium;
       }
   }
   tbody {
       @extend .display-flex;
       flex-wrap: wrap;
       > tr {
           flex: 50%;
           @extend .display-flex;
           flex-wrap: wrap;
           th, td {
               flex: 100%;
           }
           &:last-child {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid #ddd;
               th {
                   order: inherit;
               }
               td {
                   order: inherit;
               }
            }
            .tableFatDetay_thlbfUYA_AD_TA {
                margin-top: 20px;
            }
       } 
   }
}

.gridHeaderFatDetayUrun_tdURN_AD {
    text-align: center;
}

.gridTitleFatDetayUrun {
    margin-bottom: 20px; 
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.gridSpecialFatDetayUrun {display:none;}

.gridFatDetayListe {
    tbody {
        @extend .display-flex;
        flex-wrap: wrap;
        > tr { 
            @extend .display-flex;
            flex-wrap: wrap;
            width: 100%;
            line-height: 20px;
            &.pageFatDetayToplam_trFatDetayToplam {
                padding-top: 30px;
            }
            &.pageFatDetayToplam_trSipDetayToplam {
                font-weight: bold;
            }
            &:nth-child(1), &:nth-child(2) {
                flex: 50%;
                th, td {flex: 100%; width: auto !important; text-align: right; min-height: 20px;}
            }
            th {
                text-align: left !important;
            }
            th, td {
                flex: 50%;
            }
        }
        tr:nth-child(1) {
            height: auto;
            font-family: $medium;
            th:nth-child(3), th:nth-child(4), th:nth-child(5) {
                text-align: right;
            }
        } 
        tr:nth-child(2) {
            height: auto; 
        } 
    }
}