// --- ÜYE SAYFASI ŞİFRELERİM -- //
.member-password {
    .field {
        flex: none; 
    }
}
.pageSifremiUnuttum {
    padding: 20px;
    .pageDescSifremiUnuttum {
        display: none;
    }
}

.tableSifremiUnuttum {
    max-width: 350px;  
    tbody {
        tr {
            @extend .display-flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 20px;
            .zorunluFont {
                margin-bottom: 10px;
                display: block; 
            }
        }
    }
}

form[action*="/uyebilgi/sifremiunuttum.aspx"] {
    .member-grid {
        grid-template-areas: ". BBB BBB ."; 
    } 
}
