// --- ÜYE SAYFASI SİPARİŞLERİM -- //
.member-order {
    a {
        color: $memberDarkColor;
    }
    
    // Siparişlerim Liste
    .grid-row {
        border-bottom: 1px solid $memberLightGreyColor; 
        padding-bottom: $memberPadding20;
        margin-bottom: $memberMargin20;
        flex-wrap: wrap;
        > div:empty {display: none !important;}
        > div {
            width: 100%;
        }
        &:last-child {
            //padding-bottom: 0;
            margin-bottom: 0;
            //border: 0;
        }
        &-order-list {
            flex-wrap: wrap !important;
            > div {
                flex: 100%;
                margin-bottom: 10px;
                span {
                    display: block;
                    font-family: $medium;
                    font-size: 12px;
                }
            }
        }
        &-order-head {
            font-size: 14px;
            padding: 20px;
            background: #eee;
        }
    }
    // Siparişlerim Header
    .grid-header {
        display: none;
    }
    
    // Siparişlerim Liste Düzeni
    .grid-order-no { 
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;   
        flex: 1 70%;
        &-label {margin-right: 5px;}

        &-code {font-family: $medium;}  
        &-date {
            flex:1 100%; 
            margin-top: 5px;
            a {
                color: $memberGreyColor;
            }
        } 
    }
    .grid-total {
        font-family: $medium;
        font-size: $fontSize14;
        text-align: right;
        flex: 1 30%;
    }
    .grid-status {
        flex: 1 50%;
        text-align: left;
        padding: 8px 0;
        margin-top: 15px;
    }
    .grid-detail {
        flex: 1 50%;
        text-align: right;
        margin-top: 15px;
        a {
        }
        svg {
            float: right;
        }
    }
    // Empty Class
    &.no-result {
        .message-order {
            text-align: center;
            display: block;
        }
    }
    .grid-table-order {
        margin-bottom:40px;
    }
    // onceki siparis paging
    .member-order-bottom {
        align-items: center;
        flex-wrap: wrap;
        .btnOrderOld {
            margin-bottom: 20px;
        }
        .urunPaging {
            flex: auto; 
        }
    }
    &-old {
        .jconfirm-box-container {
            max-width: 800px !important;
        }
    }
}

// onceki siparis

.previousOrders { 
    padding: 0 20px 30px 20px;
    height: 100%;
    overflow-y:auto; 
    .grid-table-order {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 500px) {
    .member-order .grid-row-order-list > div {
        flex: 50%;   
    }
}