//Üyelik sayfası arka plan rengi
$memberPageBg: #f3f3f7;

//Site Button Link Underline
$linkUnderline: underline;

// Form input, dropdown ve checkbox ayarları
$labelFontSize: 14px;
$labelFontColor: #696b71;
$labelFontFamily: 'Bold';
$labelLineHeight: 1.86;
$labelLineText: 1.26;
$formInputBorderColor: #cecfd4; 
$formInputWidth: 1px;
$formInputStyle: solid;
$formInputSize: 14px;
$formInputHeight: 1.86;
$formInputColor: #696b71;
$formInputFamily: 'regular'; 
$formInputPadding: 7px 15px;
//$formInputMaxWidth: 330px;
$formSelectedPadding: 6px 40px 6px 15px; 
$formInputRadius: 2px;
$formBottomMargin: 20px;
$checkboxInputWidth: 2px;
$checkboxSize: 32px;

// --- Member variables --- //

// Member Color
$userIcoBg: #f3f3f7;
$colorWhite: #fff; 
$memberRedColor:#e72f2f;
$memberGreyColor:#696b71;
$memberLightGreyColor: #f3f3f7;
$memberDarkColor:#202020;
$memberBlueColor:#3d5deb;
// Member Btn & Input Padding
$memberBtnDefaultPaddingSmall: 9px 25px 9px 25px;
$memberBtnDefaultPadding: 11px 25px 11px 25px;
$memberInputPadding: 6px 30px 6px 10px;
// Member Space
$memberPaddingReset: 0px;
$memberPadding5: 5px;
$memberPadding10: 10px; 
$memberPadding15: 15px;
$memberPadding20: 20px;
$memberPadding30: 30px;
$memberMarginReset: 0px;
$memberMargin5: 5px;
$memberMargin10: 10px; 
$memberMargin15: 15px;
$memberMargin20: 20px;
$memberMargin30: 30px;
// Member Font
$memberLineHeight: 1.86;
$memberFontSize12: 12px;
$memberFontSize14: 14px;
$memberFontSize16: 16px;
$memberFontSize18: 18px;
$memberFontSize20: 20px;
$memberFontBold: 'bold';
$memberFontMedium: 'medium';
$memberFontRegular: 'regular';
$memberDecUnderline: underline;
// Member Border
$memberBorderRadius3: 3px;
$memberBorderRadius4: 4px;
$borderColor: #f3f3f7;
// Mesajlaşma 
$memberMessageTabBtnPadding: 14px 20px;
$memberMessageTabBtnPaddingMobile: 12px 10px;








